@import '~styles/base.scss';

$knxDocumentLinkBlue: #00a8ab;

a:hover {
  font-weight: normal;
  text-decoration: underline;
}

.container {
  &.login-form {
    color: $knab-primary-blue;

    .knx-register__welcome {
      h2 {
        margin-bottom: 0;
      }

      p {
        color: $knab-primary-blue;
      }
    }

    .knx-register__documents-link {
      color: $knxDocumentLinkBlue;
    }

    .girl-section__picture {
      float: right;
      margin-bottom: -20px;
      margin-right: -25px;
    }

    .knx-login__error {
      p {
        color: $knab-error;
        font-size: $font-size-base - 2;

        a {
          text-decoration: underline;
        }
      }
    }

    .knx-login__success {
      p {
        color: $knab-primary-blue;
      }
    }

    .girl-section__quote {
      width: 80px;
      display: inline-block;
      text-align: center;
      margin-left: -20px;
      color: $knab-medium-gray;
      font-size: $font-size-base - 2;
    }
  }
}

.knx-login__secure {
  text-align: right;
  font-size: $font-size-base - 2;
}

.knx-login__footer {
  color: $knab-medium-gray;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .container {
    &.login-form {
      .girl-section__quote {
        margin-left: 0;
        padding-top: 20px;
      }
    }
  }
}
