@import '~styles/base.scss';

.knx-login__welcome {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;

  .cx-input__input {
    background: #fff;
  }

  .knx-login__header,
  .knx-login__secure {
    float: left;
    width: 50%;
  }
}

.container .knx-login__header {
  margin-bottom: 10px;
}

.knx-login__sidebar {
  padding-top: 30px;
}

.knx-list--login li {
  margin-bottom: 10px;
  color: $knab-medium-gray;
}

.knx-login__secure {
  text-align: right;
}

.login-password-wrapper {
  position: relative;
}

.knx-login__showpassword {
  position: absolute;
  top: 8px;
  right: 10px;
  color: $knab-dark-gray;
  font-size: 20px;
  border: 0;
  background: none;

  &:focus,
  &:hover,
  &:active,
  &:visited {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
  }

  &:active {
    color: $knab-primary-gray;
  }
}

.knx-login__error {
  color: $knab-secondary-red;
  margin-bottom: 20px;
  margin-top: -15px;
  display: block;
  font-size: $font-size-base - 2;
  text-align: center;
}

.girl-section {
  .girl-section__quote {
    float: left;
    width: calc(50% + 10px);
    margin: 20px -20px -10px -10px;
    color: $knab-medium-gray;
    font-style: italic;
    font-size: 14px;
    text-align: center;
  }

  .girl-section__picture {
    float: right;
    margin-right: -15px;
    margin-bottom: -30px;
  }
}

.knx-login__footer {
  margin-top: 15px;
  color: $knab-medium-gray;
}
