<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="knx-register__welcome">
        <img class="knx-register__logo" alt="Knab" src="../../../assets/images/knab-logo.svg">
        <h2 class="knx-register__subline">Verzekeren</h2>
        <p>Meld je aan met je e-mailadres en wachtwoord en ontdek hoeveel jij kunt besparen op je verzekeringen.</p>
      </div>
    </div>
  </div>

  <form [formGroup]="form.formGroup" (ngSubmit)="register($event)" (keyup.enter)="register($event)" autocomplete="off">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <cx-form-group
            [formControlName]="form.formConfig.email.formControlName"
            [options]="form.formConfig.email"></cx-form-group>

          <div class="login-password-wrapper">
            <cx-form-group
              [formControlName]="form.formConfig.password.formControlName"
              [options]="form.formConfig.password">
            </cx-form-group>

            <button type="button"
              *ngIf="form.formGroup.get('password').value"
              class="knx-register__showpassword knx-icon-eye"
              [class.knx-icon-eye-slash]="form.showPassword"
              [class.knx-icon-eye]="!form.showPassword"
              (click)="form.toggleShowPassword($event)"></button>
          </div>

          <knx-password-strength password="form.formConfig.password"></knx-password-strength>

          <div class="knx-register__error" *ngIf="form.formGroup.valid && errorMessage">
            {{ errorMessage || 'Het inloggen is helaas niet gelukt, probeer het alsjeblieft opnieuw.' }}
          </div>

          <button type="submit" class="knx-button knx-button--primary knx-button--fullwidth"
            [class.knx-button--pending]="pending$ | async">Create account</button>
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="knx-register__actions">
          <ul class="knx-list--unstyled">
            <li><a tabindex="0" rel="nofollow noopener" target="_blank" (click)="goToPasswordReset()">Ik ben mijn wachtwoord vergeten</a></li>
            <li *ngIf="registrationLink" ><a tabindex="0" rel="nofollow noopener" (click)="goToRegister()">Of, maak een account aan</a></li>
          </ul>
        </div>
      </div>
    </div>
    </form>
</div>
