<div class="container">
  <div class="row">
    <div class="col-md-6">
      <knx-registration *ngIf="!(registrationSuccess$ | async)"
          privacyStatementUrl="[PLACEHOLDER]"
          termsAndConditionsUrl="[PLACEHOLDER]"
          [pending]="registrationPending$ | async"
          [error]="registrationError$ | async"
          (onRegister)="register($event)">
      </knx-registration>

      <knx-registration-thankyou *ngIf="registrationSuccess$ | async"
          [resendPending]="resendPending$ | async"
          [resendSuccess]="resendSuccess$ | async"
          [resendError]="resendError$ | async"
          [email]="registrationEmail$ | async"
          (onLogin)="redirectToLogin()"
          (onSendActivation)="sendActivationEmail($event)">
      </knx-registration-thankyou>
    </div>
    <div class="col-md-6">
      <knx-download-panel></knx-download-panel>
    </div>
  </div>
</div>
