.knx-user-detail a {
  text-decoration: none;
  font-weight: normal;
  font-size: $font-size-base;

  &:hover {
    font-weight: normal;
    color: $knab-primary-red;
  }
}

.knx-user-detail .icon {
  margin-top: 5px;
}
