.knx-address-lookup {
  // error message
  &:after {
    margin-top: -12px;
    margin-bottom: 20px;
  }

  .knx-address-lookup__button {
    margin-bottom: 0;

    button {
      width: 100%;
    }
  }

  .knx-address-lookup__result {
    .knx-message--pending {
      width: 100%;
      margin-top: -10px;
    }

    .knx-message {
      margin-top: -10px;
    }
  }
}
