<div class="knx-address-lookup" [formGroup]="addressFormGroup"
     [class.knx-form-group--error]="addressFormGroup.errors && addressFormGroup.touched && !loading"
     [attr.data-error]="getErrors()">

  <div class="row">
    <div class="col-md-4">
      <knx-form-group formControlName="postalCode" [options]="addressFormConfig.postalCode"></knx-form-group>
    </div>
    <div class="col-md-4 col-6">
      <knx-form-group formControlName="houseNumber" [options]="addressFormConfig.houseNumber"></knx-form-group>
    </div>
    <div class="col-md-4 col-6">
      <knx-form-group #houseNumberExtension formControlName="houseNumberExtension" [options]="addressFormConfig.houseNumberExtension"></knx-form-group>
    </div>
  </div>

  <div class="row knx-address-lookup__result" *ngIf="!getErrors()">
    <div class="col-md-12">
      <knx-async-preview [loading]="loading" [loaded]="loaded">
        <span class="knx-icon-map-marker"></span><strong>{{addressPreview}}</strong>
      </knx-async-preview>
    </div>
  </div>
</div>
