<div class="knx-address-lookup" [formGroup]="addressFormGroup"
     [class.cx-form-group--error]="addressFormGroup.errors && addressFormGroup.touched"
     [attr.data-error]="getErrors()">

  <div class="row">
    <div class="col-md-4">
      <cx-form-group formControlName="postalCode" [options]="{
        formControl: addressFormGroup.get('postalCode'),
        label: 'Postcode',
        validationErrors: validationErrors,
        inputOptions: {
          placeholder: '1234 AB',
          textMask: mask,
          transform: mask.decode
        }
      }"></cx-form-group>
    </div>
    <div class="col-md-4">
      <cx-form-group formControlName="houseNumber" [options]="{
        formControl: addressFormGroup.get('houseNumber'),
        label: 'Huisnummer',
        validationErrors: validationErrors,
        inputOptions: {
          type: 'text'
        }
      }"></cx-form-group>
    </div>
    <div class="col-md-4">
      <!-- <cx-form-group formControlName="houseNumberExtension" [options]="{
        formControl: addressFormGroup.get('houseNumberExtension'),
        label: 'Toevoeging',
        validationErrors: validationErrors,
        inputOptions: {
          placeholder: 'Optioneel'
        }
      }"></cx-form-group> -->
    </div>
  </div>

  <div class="row knx-address-lookup__result">
    <div class="col-md-12">
      <knx-async-preview [loading]="loading" [loaded]="loaded">
        <span class="knx-icon-map-marker"></span><strong>{{addressPreview}}</strong>
      </knx-async-preview>
    </div>
  </div>
</div>
