.knx-address-lookup {
  // error message
  &:after {
    margin-top: -12px;
    margin-bottom: 20px;
  }

  .knx-address-lookup__button {
    margin-bottom: 0;

    button {
      width: 100%;
    }
  }

  .knx-address-lookup__result {
    .knx-message--pending {
      width: 100%;
      margin-top: -10px;
    }

    .knx-message {
      margin-top: -10px;
    }
  }
}

.knx-combined-components {
  padding: 0;

  .row {
    margin: 0;
    padding: 0;

    .col-md-6 {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .knx-combined-components {
    .row {
      .col-md-6 {
        padding-left: 15px;
      }
    }
  }
}
