.ki-chat-message {
  background: $knab-white;
  color: $knab-primary-blue;
  font-size: 16px;
  font-family: $baseFontFamily;
  border-radius: 10px;
  padding: 15px 0;
  margin: 20px 0;
  max-width: 250px;
}
.ki-chat-message:first-child:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  margin-top: -25px;
  margin-left: 25px;
}
.ki-chat-message-datetime {
  font-size: 11px;
  color: $silverChalice;
  margin-top: 0.2em;
  float: right;
}
