.ki-chat-message {
  background: $knab-white;
  color: $knab-primary-blue;
  font-size: 16px;
  font-family: $baseFontFamily;
  border-radius: 10px;
  padding: 15px 0;
  margin: 20px 0;
  max-width: 250px;
}
