<form [formGroup]="form.formGroup" class="knx-fancy-form">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <h2>Je gegevens</h2>

      <h3>Over je auto</h3>

      <div class="row">
        <div class="col-md-7 col-sm-12">
          <cx-form-group [options]="form.formConfig.licensePlate">
            <knx-input-licenseplate
              (ngModelChange)="onLicensePlateChange($event)"
              [formControlName]="form.formConfig.licensePlate.formControlName"
              [options]="form.formConfig.licensePlate.inputOptions">
            </knx-input-licenseplate>
          </cx-form-group>

          <knx-car-info-message *ngIf="car" [data]="car"></knx-car-info-message>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="knx-form-group--info">
            <cx-form-group
              [formControlName]="form.formConfig.claimFreeYears.formControlName"
              [options]="form.formConfig.claimFreeYears">
            </cx-form-group>
            <knx-info size="md" isFloating="true" class="knx-info">
              <div class="knx-info__content">
                <div class="knx-message knx-message--arrow-top">
                  <div class="knx-message__content">
                    <p>De <strong>schadevrije jaren</strong> vind je op je meest recente polis.
                      Je bouwt schadevrije jaren op als een auto op jouw naam is verzekerd. Schadevrije jaren geven je
                      korting op de premie.</p>

                    <p>Elk jaar dat je geen schade claimt, bouw je 1 schadevrij jaar op. Elke keer
                      dat je wel een schade claimt die jouw schuld is, verlies je 5 of meer jaren.</p>
                  </div>
                </div>
              </div>
            </knx-info>
          </div>
        </div>
        <div class="col-md-4">
          <!--
          <div class="cx-form-group">
            <button class="knx-button knx-button--util inline-formelement">
              Help me bepalen
            </button>
          </div>
          -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group
            [formControlName]="form.formConfig.loan.formControlName"
            [options]="form.formConfig.loan">
          </cx-form-group>
        </div>
      </div>

      <hr>

      <h3>Over jou</h3>

      <div class="row">
        <div class="col-md-4 col-sm-12">
          <cx-form-group
            [formControlName]="form.formConfig.birthDate.formControlName"
            [options]="form.formConfig.birthDate">
          </cx-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group
            [formControlName]="form.formConfig.gender.formControlName"
            [options]="form.formConfig.gender">
          </cx-form-group>
        </div>
      </div>

      <knx-address-lookup
        [addressFormGroup]="form.addressForm"
        [validationErrors]="form.validationErrors"
        (addressFound)="onAddressFound($event)">
      </knx-address-lookup>

      <cx-form-group
        [formControlName]="form.formConfig.houseHold.formControlName"
        [options]="form.formConfig.houseHold"
        (events)="onFocusHouseHold()">
      </cx-form-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="car-form__coverages">
        <ng-container>
          <h2>Je dekkingswensen</h2>
          <knx-price-table [items]="coverages" (onSelected)="onSelectCoverage($event)"></knx-price-table>
        </ng-container>

        <div class="knx-message knx-message--error" *ngIf="isCoverageError">
          Er is een fout opgetreden bij het ophalen van het dekkingsadvies.
        </div>

        <knx-loader [visible]="isCoverageLoading">
          Bezig met ophalen van dekkingsadvies...
        </knx-loader>
      </div>
    </div>
  </div>

</form>
