<div class="knx-car-extras hidden-sm" [formGroup]="form.formGroup" *ngIf="show">
  <knx-collapse-message [ngClass]="optionModifierClass" title="Dekking" [isOpen]="true">
    <cx-form-group
      knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="coverage"
      [options]="form.formConfig.coverage"
      [formControlName]="form.formConfig.coverage.formControlName">
    </cx-form-group>
  </knx-collapse-message>

  <knx-collapse-message [ngClass]="optionModifierClass" title="Pechhulp" [isOpen]="true">
    <div class="knx-form-group--info knx-form-group--no-label-info">

      <cx-form-group
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="roadAssistance"
        [options]="form.formConfig.roadAssistance"
        [formControlName]="form.formConfig.roadAssistance.formControlName">
      </cx-form-group>

      <knx-info size="md" isFloating="true" class="knx-info">
        <div class="knx-info__content">
          <div class="knx-message knx-message--arrow-top knx-message--dropdown-shim">
            <div class="knx-message__content">
              <strong>Pechhulp</strong>: Deze extra dekking sluit je af vanaf € 3 per maand.
              Met deze dekking weet je dat je bij pech onderweg kunt rekenen op hulp en snel weer verder kan.

              <ul>
                <li>Binnen Nederland: Pechhulp in heel Nederland is gedekt.</li>
                <li>Binnen Europa: Pechhulp in heel Europa is gedekt.</li>
              </ul>

              Heb je een reisverzekering? Check dan even of pechhulp in het buitenland daar al in zit. Heb je een nieuwe auto?
              Dan heb je vaak het eerste jaar gratig pechhulp van de dealer. Door dit te checken voorkom je een dubbele verzekering.
            </div>
          </div>
        </div>
      </knx-info>
    </div>
  </knx-collapse-message>

  <knx-collapse-message [ngClass]="optionModifierClass" title="Aanvullende dekkingen" [isOpen]="true">
    <div>
      <cx-checkbox
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="legal"
        [formControlName]="form.formConfig.extraOptionsLegal.formControlName"
        [options]="form.formConfig.extraOptionsLegal.inputOptions"></cx-checkbox>

      <knx-info size="md" isFloating="true" class="knx-info">
        <div class="knx-info__content">
          <div class="knx-message knx-message--arrow-top">
            <div class="knx-message__content">
              <strong>Rechtsbijstand</strong>: Deze extra dekking sluit je af vanaf  € 3 per maand. <br/>
              Juridische hulp nodig voor verhaal bij schade aan jouw auto? Conflict met je garage? Deze verzekering zorgt dat ervaren juristen je bijstaan. Dit geldt alleen voor verkeer rechtsbijstand en alleen voor deze auto.
            </div>
          </div>
        </div>
      </knx-info>
    </div>

    <div>
      <cx-checkbox
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="extraOptionsNoClaim"
        [formControlName]="form.formConfig.extraOptionsNoClaim.formControlName"
        [options]="form.formConfig.extraOptionsNoClaim.inputOptions"></cx-checkbox>

      <knx-info size="md" isFloating="true" class="knx-info">
        <div class="knx-info__content">
          <div class="knx-message knx-message--arrow-top">
            <div class="knx-message__content">
              <strong>No-claimbeschermer</strong>: Deze extra dekking sluit je af vanaf  € 4 per maand. <br/>
              Hiermee kun je elk jaar een keer schade door je eigen schuld claimen zonder dat de premie van je lopende verzekering omhoog gaat. <br/>
              Nadeel is dat de registratie van je schadevrije jaren wel wordt aangepast. Dat is vervelend als je wilt veranderen van verzekeraar, want dan betaal je plots een hogere premie vanwege je schadevrije jaren.
            </div>
          </div>
        </div>
      </knx-info>
    </div>

    <div>
      <cx-checkbox
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="extraOptionsOccupants"
        [formControlName]="form.formConfig.extraOptionsOccupants.formControlName"
        [options]="form.formConfig.extraOptionsOccupants.inputOptions"></cx-checkbox>

      <knx-info size="md" isFloating="true" class="knx-info">
        <div class="knx-info__content">
          <div class="knx-message knx-message--arrow-top">
            <div class="knx-message__content">
              <strong>Inzittendenverzekering</strong>: Je sluit deze dekking af vanaf €  4 per maand. <br/>
              Je dekt hiermee de materiële schade af die jij als bestuurder, je passagiers en/of de bagage kunnen
              oplopen bij een aanrijding. Dit dekking is handig als je bijvoorbeeld vaak met het hele gezin in de auto zit.
            </div>
          </div>
        </div>
      </knx-info>
    </div>

  </knx-collapse-message>

  <knx-collapse-message [ngClass]="optionModifierClass" title="Aantal km per jaar" [isOpen]="true">
    <cx-form-group
      knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="kmPerYear"
      [options]="form.formConfig.kmPerYear"
      [formControlName]="form.formConfig.kmPerYear.formControlName">
    </cx-form-group>
  </knx-collapse-message>

  <knx-collapse-message [ngClass]="optionModifierClass" title="Maximaal eigen risico" [isOpen]="true">
    <cx-form-group class="own-risk"
      knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="ownRisk"
      [options]="form.formConfig.ownRisk"
      [formControlName]="form.formConfig.ownRisk.formControlName">
    </cx-form-group>
  </knx-collapse-message>
</div>
