@import '~styles/base';

.own-risk {
  padding-bottom: 45px;
}

h4.knx-collapse-message__title {
  font-size: 16px;
}

.knx-message__content ul {
  margin-top: 10px;
}

.knx-form-group--info knx-info-icon .knx-info-icon {
  float: right;
  position: relative;
}
