.breadcrumb {
  background: $knab-primary-blue;
  padding: 0;
  margin-bottom: 25px;

  & a {
    color: $knab-white;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: none;
  }
}

.breadcrumb ul {
  list-style-type: none;
  padding: 30px 15px 30px 0;
  margin-bottom: 0;
  color: $knab-white;
  font-size: 22px;
  font-family: $knab-font-family-headings;
  font-weight: 700;
  text-transform: uppercase;

  & > li {
      display: inline;
  }
}

.breadcrumb-item {
  color: $knab-white;
  text-decoration: none;

  &:before {
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: $knab-white;
    margin: 0 15px;
  }

  &:hover {
    color: $knab-white;
    text-decoration: none;
  }
}

.breadcrumb-home {
  color: $knab-white;
  text-decoration: none;
  content: "\f015";
  font-family: 'FontAwesome';
  margin: 0 5px;
}
