<div class="knx-insurance-toplist">



  <div class="row">
    <div class="col-sm-12">

      <div *ngIf="(isPremiumsLoading$| async); else insuranceResults">
        <knx-loader [visible]="(isPremiumsLoading$| async)">
          {{ 'household.premiumList.loading.message' | translate }}
        </knx-loader>
      </div>

      <div *ngIf="noResult()" class="knx-message knx-message--hint">
        {{ 'household.premiumList.noResult.message' | translate }}
      </div>

      <ng-template #insuranceResults>
        <h2>{{ 'household.premiumList.insuranceResults.title' | translate }}</h2>

        <p>
          {{ 'household.premiumList.insuranceResults.description' | translate }}
        </p>

        <!--</p>-->
        <!--<h2>We hebben {{ insurances.length }} resultaten gevonden</h2>-->

        <knx-house-hold-insurance-result
          *ngFor="let item of insurances | slice:0:total; let i = index; trackBy: trackInsurance"
          [insurance]="item"
          [index]="i"
          (insuranceSelected$)="selectInsurance($event)"
          [disableButton]="disableInsuranceBuy" >
        </knx-house-hold-insurance-result>

        <button *ngIf="insurances && total < insurances.length"
                class="knx-button knx-button--secondary knx-button--ghost block-center" (click)="showAll()">
          {{ 'houshold.premiumList.insuranceResults.button.label.toonAlle' | translate }}
        </button>

        <div class="knx-insurance-toplist__info">
          <span style="cursor: pointer;">
            {{ 'household.premiumList.insuranceResult.topListInfo.title' | translate }}
            <knx-tooltip [options]="{ position: 'bottom' }">
              <p>{{ 'household.premiumList.insuranceResult.topListInfo.tooltip.para1' | translate }}</p>

              <p>{{ 'household.premiumList.insuranceResult.topListInfo.tooltip.para2' | translate }}</p>

              <p>{{ 'household.premiumList.insuranceResult.topListInfo.tooltip.para1' | translate }}</p>
            </knx-tooltip>
          </span>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<knx-service-guide
  knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="service-guide"
  [visible]="!(isPremiumsLoading$| async)">
</knx-service-guide>
