@import '~styles/base.scss';

$knx-insurace-result-border: 1px solid $knab-primary-gray !default;

.knx-insurance-result__details .knx-collapse-panel {
  border-left: $knx-insurace-result-border;
  border-right: $knx-insurace-result-border;
  border-bottom: $knx-insurace-result-border;
  padding-top: 5px;
  text-align: center;
  color: $knab-primary-green;
}

.knx-insurance-result__details .knx-collapse-panel a.knx-button {
  font-size: $font-size-base;
}
