@import '~styles/base';

hr {
  /* margin: -8px 0 16px; */
  border: 0;
  border-bottom: 2px $knab-primary-gray solid;
}

.knx-insurance-result__logo {
  width: 50%;
  max-width: 150px;
  margin-bottom: 10px;
}
