<div class="row">
  <div class="col-12 col-md-12 col-sm-12 text-center">
        <span *ngFor="let insurance of Insurance; index as i; first as isFirst">
          <!--<span *ngIf="!first"> + </span> {{first}}-->
          <img src="{{insurance.CompanyLogoUrl}}" alt="insurance.CompanyName" class="knx-insurance-result__logo"/>
        </span>
    <hr/>
  </div>
</div>

<div *ngIf="!short">
  <div class="row" *ngFor="let insurance of Insurance; index as i; first as isFirst">
    <div class="col-8 col-sm-8">
      {{insurance.ProductDescription}} - <strong>{{insurance.CompanyName}}</strong>
    </div>
    <div class="col-4 col-sm-4 text-right">
      {{insurance.Premium | currency:'EUR':true:'2.0' }}
    </div>
  </div>
</div>


<div *ngIf="short">
  <div class="row" *ngFor="let insurance of Insurance; index as i; first as isFirst">
    <div class="col-12 col-sm-12">
      {{insurance.ProductDescription}} - <strong>{{insurance.CompanyName}}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12">
      <hr/>
      Total: <strong>{{getTotalMonthlyGrossPrice() | currency:'EUR':true:'2.0-2' }}</strong>
    </div>
  </div>
</div>

<div class="row" *ngIf="false">
  <div class="col-6 col-sm-6">
    {{ 'general.knab.package.discount.label' | translate }}
  </div>
  <div class="col-6 col-sm-6 text-right">
    ???
  </div>
</div>

<div class="row" *ngIf="!short">
  <div class="col-12 col-sm-12">
    <hr/>
  </div>
</div>

<div class="row" *ngIf="!short">
  <div class="col-8">
    {{ 'general.total.price.monthly' | translate }}
  </div>
  <div class="col-4 col-sm-4 text-right">
    {{ getTotalMonthlyPrice() | currency:'EUR':true:'2.0-2' }}
  </div>
</div>

<div class="row" *ngIf="!short">
  <div class="col-8">
    {{ 'general.total.taxes.monthly' | translate }}
  </div>
  <div class="col-4 text-right">
    {{ getTotalTaxPrice() | currency:'EUR':true:'2.0-2' }}
  </div>
</div>

<div class="row" *ngIf="!short">
  <div class="col-8">
    {{ 'general.risk.administration.cost' | translate }}
    <knx-tooltip>
    </knx-tooltip>
  </div>
  <div class="col-4 text-right">
    {{ getRiskAdministrationCost() | currency:'EUR':true:'2.0-2' }}
  </div>
</div>

<div class="row" *ngIf="IncludeBTW && !short">
  <div class="col-12 col-md-12">
    <hr/>
  </div>
</div>

<div class="row" *ngIf="IncludeBTW && !short">
  <div class="col-12 col-md-12">
    <small>{{ 'general.price.including.btw' | translate }}</small>
  </div>
</div>

