.knx-chat-message {
  position: relative;
  border-radius: 5px;
  margin: 20px 0 5px;
  padding: 15px 0;
  color: $knab-white;
  font-size: 16px;
  font-family: $font-family-base;
  background: $knab-primary-green;
}

.knx-chat-message:first-child:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -10px;
  right: 32px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid $knab-primary-green;
}

.knx-chat-message-datetime {
  display: block;
  float: right;
  font-size: 11px;
  margin-top: 0.2em;
  color: $knab-dark-gray;
  opacity: 0.7;
}
