.knx-chat-stream {
  padding: 20px 20px 10px;
  align-items: stretch;
  background: $knab-primary-gray;
  border-radius: $knab-border-radius;
  margin-bottom: 40px;
  z-index: $z-index-chat-stream;
  overflow: visible;

  .knx-side-panel {
    top: 50px;
    height: auto;
  }
}

.knx-chat-stream > .knx-button {
  font-family: $font-family-base;
  font-size: $font-size-base - 2;
  border-radius: 30px;
  margin: 10px 0 0;
  width: 100%;
  background: $knab-light-gray;
  color: $knab-primary-blue;
}

@media (max-width: 576px) {
  .knx-chat-stream > .knx-button {
    margin: 3px 0 0;
  }
}

.knx-chat-stream > .knx-button.knx-button--edit {
  &:before {
    font-family: $font-family-icon;
    content: map-get($knx-icons, pencil);
    color: $knab-primary-blue;
    padding-right: 15px;
  }
}

.knx-chat-stream .knx-message--chat {
  z-index: $z-index-chat-stream-message;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .knx-wizard__sidebar {
    z-index: 1;
  }

  .knx-chat-stream {
    position: fixed;
    top: 35px;
    right: 0;
    background: none;

    .knx-car-extras {
      display: none;
    }

    &:hover {
      .knx-avatar__image {
        width: 89px;
      }

      .knx-avatar__notification {
        width: 25px;
        height: 25px;
      }
    }

    &.knx-chat-stream--expanded {
      .knx-message {
        display: block;
      }

      .knx-avatar__image {
        width: 89px;
      }
    }

    .knx-avatar__notification {
      position: absolute;
      right: 20px;
      top: 20px;
      display: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $knab-primary-green;
      pointer-events: none;
      transition: all 0.3s;

      &.knx-avatar__notification--active {
        display: block;
      }
    }

    .knx-message {
      display: none;
    }

    .knx-message--arrow-top-center:first-child:before {
      left: auto;
      right: 32px;
    }

    .knx-avatar__image {
      width: 60px;
      margin-left: auto;
      margin-right: -5px;
      background: $knab-white;
      border: 3px $knab-primary-gray solid;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
