
@import '~styles/base';

.house-hold-location-form {
  //.car-form__coverages {
  //  margin-top: 30px;
  //  margin-bottom: 30px;
  //}

  h2 {
    margin-bottom: 10px;
  }

  h4.knx-collapse-message__title {
    letter-spacing: 0.05em;
  }
}

hr {
  margin: -8px 0 16px;
  border: 0;
  border-bottom: 2px $knab-primary-gray solid;
}

@media (min-width: 768px) {
  //.car-form__coverages {
  //  margin-bottom: 0;
  //
  //  h2 {
  //    margin-bottom: 45px;
  //  }
  //}
}

// Mobile
@media (max-width: 414px) {
  .house-hold-detail-form span {
    margin-bottom: 24px;
    display: inline-block;
  }
}

/deep/ .house-hold-detail-form .knx-address-lookup__result {
  margin-bottom: -10px;
}
