
@import '~styles/base';

.house-hold-location-form {
  h2 {
    margin-bottom: 10px;
  }

  h4.knx-collapse-message__title {
    letter-spacing: 0.05em;
  }
}

hr {
  margin: -8px 0 16px;
  border: 0;
  border-bottom: 2px $knab-primary-gray solid;
}

// Mobile
@media (max-width: 414px) {
  .house-hold-detail-form span {
    margin-bottom: 24px;
    display: inline-block;
  }
}

.house-hold-detail-form .knx-address-lookup__result {
  margin-bottom: -10px;
  margin-top: 15px;
}
