<div class="container knx-container-main">
  <div class="row">
    <div class="col-sm-4 push-sm-8">
      <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream
          [options]="chatConfig$ | async"
          [messages]="chatMessages$ | async">
        </knx-chat-stream>
      </div>
    </div>
    <div class="col-sm-8 pull-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <knx-card>
            <div class="row">
              <div class="col-md-10 col-9">
                <h2>Mijn Gegevens</h2>
              </div>
              <div class="col-md-2 col-2" *ngIf="!(savedInsurances$ | async)?.car?.insurance.length">
                <p class="knx-edit" (click)="editProfile()">Wijzig</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">Naam</div>
              <div class="col-md-6">
                <p class="knx-value">{{ (profile$ | async).name || '-' }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">Geslacht</div>
              <div class="col-md-6">
                <p class="knx-value">{{ (profile$ | async).gender || '-' }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">Geboortedatum</div>
              <div class="col-md-6">
                <p class="knx-value">{{ (profile$ | async).birthday || '-' }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">Postcode</div>
              <div class="col-md-6">
                <p class="knx-value">{{ (profile$ | async).postcode || '-' }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">Huishouden</div>
              <div class="col-md-6">
                <p class="knx-value">{{ ((profile$ | async).household | jamesTag: 'insurance_flow_household') || '-' }}</p>
              </div>
            </div>
          </knx-card>
        </div>
      </div>
      <div class="row" *ngIf="(savedInsurances$ | async)?.car?.insurance.length">
        <div class="col-md-12">
          <p style="text-align: center;">With bought insurance you cannot delete or change knab profile</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <knx-card>
            <div class="row">
              <div class="col-md-10 col-9">
                <h2>Account Instellingen</h2>
              </div>
              <div class="col-md-2">
                <p class="knx-edit" (click)="editPassword()">Wijzig</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">E-mailadres</div>
              <div class="col-md-6">
                <p class="knx-value">{{ (profile$ | async).emailaddress || '-' }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">Wachtwoord</div>
              <div class="col-md-6">
                <p class="knx-value">*******</p>
              </div>
            </div>
          </knx-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 knx-center--margin">
          <div class="knx-button"
              (click)="deleteProfile()"
              class="knx-button--delete knx-button--ghost">
              Delete my account
          </div>
        </div>
      </div>
      <button class="knx-button knx-button--link knx-button--back" (click)="goBack()">Terug</button>
    </div>
  </div>
</div>
