@import '~styles/base.scss';

.knx-value {
  color: $knab-dark-gray;
  overflow: hidden;
}

.knx-edit {
  color: $knab-primary-blue;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

hr {
  border-top: 1px solid $knab-primary-gray;
}

.knx-center--margin {
  margin: 0 auto;
}

.knx-button--delete {
  border-color: $knab-primary-red;
  color: $knab-primary-red;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;

  &:hover {
    background: $knab-primary-red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}
