<div class="knx-insurance-toplist">
  
  <div class="row">
    <div class="col-sm-12">

      <div *ngIf="(isInsuranceLoading$| async); else insuranceResults">
        <knx-loader [visible]="(isInsuranceLoading$| async)">
          Een momentje! We vergelijken meer dan 20 verschillende aanbieders voor je om de beste match te vinden.
        </knx-loader>
      </div>

      <div *ngIf="noResult()" class="knx-message knx-message--hint">
        Niets gevonden. Ga terug om je keuze aan te passen. Kom je er niet uit? Neem contact op.
      </div>

      <ng-template #insuranceResults>
        <h2>We hebben {{ (insurances$ | async).length }} resultaten gevonden</h2>

        <div class="knx-button-group" role="group">
          <button
            *ngFor="let item of orderBy"
            class="knx-button knx-button--toggle"
            [class.knx-button--toggle-active]="item.active"
            (click)="changeOrderBy(item)">{{ item.label }}
          </button>
        </div>

        <knx-insurance-result
          *ngFor="let item of (insurances$ | async) | slice:0:total; let i = index; trackBy: trackInsurance"
          [insurance]="item" [index]="i" (insuranceSelected$)="selectInsurance($event)" [disableButton]="disableInsuranceBuy">
        </knx-insurance-result>

        <button *ngIf="(insurances$ | async) && total < (insurances$ | async).length" class="knx-button knx-button--primary block-center" (click)="showAll()">
          Toon alle verzekeringen
        </button>

        <div class="knx-insurance-toplist__info">
          <knx-info infoLabel="Hoe komen we tot deze resultaten?" class="knx-info">
            <div class="knx-info__content">
              <div class="knx-message knx-message--arrow-top knx-message--arrow-top-center">
                <div class="knx-message__content">
                  <p>
                    Onze slimme technologie gaat op basis van de door jou opgegeven informatie aan de slag. We vergelijken
                    meer dan 20 aanbieders en stellen hier een overzicht uit samen. Daarbij kijken we niet alleen naar de prijs.
                    Goede polisvoorwaarden en een dekking die past bij jouw persoonlijke situatie, zijn ook belangrijk.
                  </p>

                  <p>
                    In het overzicht staan de profielscore en de prijs-kwaliteitverhouding. De verzekering met de hoogste
                    score – en dus het best bij je past – staat bovenaan. Verzekeringen die je via Knab afsluit, krijg je
                    voor een vast laag percentage.
                  </p>

                  <p>
                    Verzekeringen die je niet via ons kunt afsluiten, laten we ook zien. We willen voor jou namelijk de
                    best passende verzekering en daarom is het belangrijk dat jij een zo compleet mogelijk beeld krijgt.
                    We verwijzen je in dat geval door naar de website van de verzekeraar. Wel zo eerlijk.
                  </p>
                </div>
              </div>
            </div>
          </knx-info>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<knx-service-guide
  knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="service-guide"
  [visible]="!(isInsuranceLoading$| async)">
</knx-service-guide>