@import '~styles/base.scss';
$knxRegisterBlue: #13345c;

.knx-thank-you__title {
  font-size: $font-size-base + 2;
}

.knx-thank-you {
  margin-top: 40px;

  hr {
    margin: 100px 0 60px;
  }
}

@media (max-width: 768px) {
  .knx-thank-you {
    hr {
      margin: 60px 0 30px;
    }
  }
}

ol {
  list-style: none;
  padding-left: 0;

  li {
    min-height: 30px;
    counter-increment: item;
    margin-bottom: 5px;
    margin-left: 45px;

    &:before {
      content: counter(item);
      background: #fff;
      border-radius: 100%;
      color: #13345c;
      width: 30px;
      height: 30px;
      text-align: center;
      border: 2px solid #13345c;
      font-weight: bold;
      line-height: 25px;
      position: absolute;
      left: 20px;
    }

    span {
      font-weight: bold;
      color: $knxRegisterBlue;
    }
  }
}
