<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img *ngIf="!showPhone" src="/assets/images/avatars/avatar-fullsize.png" alt="lisa full size" />
      <img *ngIf="showPhone" src="/assets/images/devices_iphone.png" alt="lisa full size" />

    </div>

    <div class="col-sm-8">
      <h2>Wat krijg je precies?</h2>

      <ul class="knx-list--checks knx-list--green">
        <li>Een overzicht met al je verzekeringen</li>
        <li>Tot 15% korting op je autoverzekering</li>
        <li>Slimme alerts die jou laten weten wanneer je kunt besparen</li>
      </ul>

      <div class="download-panel__buttons">
        <a class="knx-button knx-button--primary knx-icon-apple" href="{{ iosUrl }}" rel="noopener">iOS</a>
        <a class="knx-button knx-button--primary knx-icon-android"  href="{{ androidUrl }}" rel="noopener">Android</a>
      </div>
    </div>
  </div>
</div>
