.knx-car-summary {
  .row {
    margin-bottom: 15px;
  }

  .row [class^='col-']:nth-child(2) {
    color: $knab-dark-gray;
  }

  span.premium-note {
    color: $knab-primary-green;
    font-size: $font-size-base - 2;
    display: block;
  }
}

.row.knx-car-summary__payment {
  margin-bottom: 20px;

  strong {
    color: $knab-primary-blue;
  }
}

.knx-car-summary__terms {
  margin-top: 20px;
}

.knx-ir-row__divider {
  margin: 5px -20px 20px;
  padding-top: 15px;
  border: 0;
  border-bottom: 10px #fff solid;
}

.knx-car-summary__checkbox {
  float: right;
  margin-left: calc(100% - 300px);
}
