<form [formGroup]="form.formGroup" class="knx-fancy-form house-hold-house-type-form" #detailForm="ngForm">

  <div class="row">
    <div class="col-sm-12">
      <knx-top-address [address]="address"></knx-top-address>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h3>{{ 'household.houseType.title' | translate }}</h3>

        <p>{{ 'household.houseType.comment' | translate }}</p>

        <div>
          <span><b>{{ 'household.houseType.rooms.title' | translate }}</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>{{ 'household.houseType.rooms.tooltip' | translate }}</knx-tooltip>
          </span>

          <p>{{ 'household.houseType.rooms.description' | translate }}</p>
        </div>

        <knx-radio-navigator
          [values]="roomValues"
          label="rooms"
          [selected]="detailForm.value.roomsCount"
          (onSelectChange)="updateRoomsCount($event)">
        </knx-radio-navigator>

      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>

          <span><b>{{ 'household.houseType.surfaceArea.title' | translate }}</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>{{ 'household.houseType.surfaceArea.tooltip' | translate }}</knx-tooltip>
          </span>


          <p>{{ 'household.houseType.surfaceArea.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="surfaceArea"
          [formControlName]="form.formConfig.surfaceArea.formControlName"
          [options]="form.formConfig.surfaceArea">
        </knx-form-group>

      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <div>
            <span><b>{{ 'household.houseType.buildingKind.title' | translate }}</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>{{ 'household.houseType.buildingKind.tooltip' | translate }}</knx-tooltip>
            </span>
          </div>
          <p>{{ 'household.houseType.buildingKind.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="buildingType"
          [formControlName]="form.formConfig.buildingType.formControlName"
          [options]="form.formConfig.buildingType">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <div>
            <span><b>{{ 'household.houseType.buildYear.title' | translate }}</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>{{ 'household.houseType.buildYear.tooltip' | translate }}</knx-tooltip>
            </span>
          </div>
          <p>{{ 'household.houseType.buildYear.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="buildYear"
          [formControlName]="form.formConfig.buildYear.formControlName"
          [options]="form.formConfig.buildYear">
        </knx-form-group>
      </knx-card>
    </div>
  </div>


</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onBack)="goToPreviousStep()"
                     (onNext)="goToNextStep()">
</knx-wizard-controls>
