@import '~styles/base.scss';

.knx-app-promo-block {
  li {
    margin-bottom: 0;
  }
}

.knx-app-promo-block__subtitle {
  font-size: $font-size-base;
  color: $knab-primary-blue;
  margin-bottom: 10px;
}

.knx-app-promo-block__title {
  margin-bottom: 20px;
}

.knx-list--checks {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 30px;
}

.knx-app-promo-block__phone {
  text-align: center;

  img {
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.knx-app-promo-block__phone--xs {
  margin-bottom: -72px;
  text-align: center;
}

@media (max-width: 768px) {
  .knx-app-promo-block__iphone {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

.knx-app-promo-block__buttons {
  margin-top: 15px;

  .knx-button {
    &:before {
      margin-right: 10px;
      line-height: 0;
    }
  }
}
