<div class="visible-xs knx-app-promo-block__phone--xs">
  <img src="/assets/images/phone_image.svg">
</div>

<div class="knx-card knx-app-promo-block">
  <div class="row">
    <div class="col-md-8 col-lg-9 col-sm-12">
      <div class="hidden-sm-down">
        <h3 class="knx-app-promo-block__title">{{ 'car.purchased.download.section.title' | translate }}</h3>
      </div>

      <ul class="knx-list--checks knx-list--yellow">
        <li>{{ 'car.purchased.download.section.list.item1' | translate }}</li>
        <li>{{ 'car.purchased.download.section.list.item2' | translate }}</li>
        <li>{{ 'car.purchased.download.section.list.item3' | translate }}</li>
      </ul>

      <div class="knx-app-promo-block__buttons">
        <a class="knx-button knx-button--primary knx-button--3d knx-icon-apple" href="{{iOSLink}}"
            title="Download iOS App" rel="noopener">iOS</a>
        <a class="knx-button knx-button--primary knx-button--3d knx-icon-android" href="{{androidLink}}" rel="noopener"
            title="Download Android App">Android</a>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 knx-app-promo-block__phone hidden-xs">
      <img src="/assets/images/phone_image.svg">
    </div>
  </div>
</div>
