<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container-stepnavigation"
     knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
  <div class="container">
    <knx-step-navigation
      [steps]="formSteps"
      [currentStep]="knxWizardService.currentStepIndex"
      [clickable]="true"
      (stepChange)="goToStep($event);">
    </knx-step-navigation>
  </div>
</div>

<div class="container knx-house-hold-advice" [ngClass]="getStepClass(knxWizardService.currentStepIndex)" knxBackdropBlur
     [enableBlur]="knxChatStream.chatExpanded">
  <knx-wizard-rx>

    <div class="knx-wizard__sidebar" [class.knx-wizard__sidebar--sticky]="knxWizardService.currentStepIndex !== 1"
         #knxWizardSidebar>
      <knx-chat-stream #knxChatStream
                       [options]="chatConfig$ | async"
                       [messages]="chatMessages$ | async">

        <ng-container *ngIf="knxWizardService.currentStepIndex === 1">
          <knx-side-panel #knxSidePanel title="Wijzig" [fullwidth]="true"
                          (onChangeVisibile)="toggleSideNavState($event)">
            <div class="container-fluid">
              <div class="knx-side-panel-content">
                <button class="knx-button knx-button--secondary knx-button--fullwidth knx-button--arrow"
                        (click)="knxSidePanel.close()">{{ 'household.advice.moreButton.label' | translate }}
                </button>
              </div>
            </div>
          </knx-side-panel>

        </ng-container>
      </knx-chat-stream>

      <div class="knx-house-hold-advice-motivation">
        <ul>
          <li>
            <b>{{ 'household.advice.usp.objective.title' | translate }}</b><br/>
            {{ 'household.advice.usp.objective.content' | translate }}
          </li>

          <li>
            <b>Bespaar</b><br/>
            Tot 15% korting op elke verzekering
          </li>

          <li>
            <b>Overstaphulp</b><br>
            Wij regelen overstap
          </li>
        </ul>
      </div>
    </div>
  </knx-wizard-rx>
</div>
