@import '~styles/base.scss';

.knx-side-panel__action {
  font-size: $font-size-base - 1;
}

.knx-house-hold-advice-motivation {
  ul {
    list-style-type: none;
  }

  li {
    margin-left: 0;
    padding-left: 40px;
    padding-bottom: 25px;
    background: url("/assets/images/list-check.svg") no-repeat;
  }
}

@media screen and (max-width: 769px) {
  .knx-house-hold-advice-motivation {
    display: none;
  }

  /deep/ .knx-step-navigation {
    margin-left: 0;
  }
}
