.breadcrumb {
  background: $knab-primary-blue;
  padding: 0;
  margin-bottom: 25px;
}

.breadcrumb ul {
  list-style-type: none;
  padding: 25px 15px;
  color: $knab-white;
  font-size: 20px;
  font-family: $knab-font-family-primary;
}

.breadcrumb__home {
  display: inline-block;
}

.breadcrumb__home a {
    color: $knab-white;
    font-size: 20px;
}

.breadcrumb__item {
color: $knab-white;
text-decoration: none;
display: inline-block;

& a {
  color: $knab-white;
  text-decoration: none;
}

&:before {
  content: "\f054";
  font-family: 'FontAwesome';
  font-size: 16px;
  color: $knab-white;
  margin: 0 15px;
}

&:hover {
  color: $knab-white;
  text-decoration: none;
}
}
