
@import '~styles/base.scss';

.knx-features {
  display: flex;
  align-items: flex-center;
  align-content: flex-center;
  flex-wrap: wrap;
  background: inherit;
  padding: 45px 20px;
}

@media (max-width: 768px) {
  .knx-features {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
