.knx-car-summary {
  margin-bottom: 20px;

  &.knx-message {
    margin-top: 0;
  }

  .row {
    margin-bottom: 10px;
  }
}

.knx-car-summary__label {
  font-weight: bold;
}

.knx-car-summary__info {
  font-weight: normal;
}
