@import '~styles/base.scss';

.knx-car-summary {
  margin-bottom: 20px;

  .knx-well__content {
    display: block;
  }

  .row {
    margin-bottom: 4px;
  }
}

.knx-car-summary__label {
  color: $knab-primary-blue;
}

.knx-car-summary__info {
  font-weight: normal;
}
