<div class="knx-address-lookup"
  [formGroup]="addressFormGroup"
  [class.cx-form-group--error]="addressFormGroup.errors && addressFormGroup.touched"
  [attr.data-error]="getErrors()">

  <div class="row">
    <div class="col-md-12">
      <cx-form-group formControlName="postalCode" [options]="{
        formControl: addressFormGroup.get('postalCode'),
        label: 'Postcode',
        validationErrors: validationErrors,
        inputOptions: {
          placeholder: '1234 AB',
          textMask: postalCodeMask,
          transform: postalCodeMask.decode
        }
      }"></cx-form-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <cx-form-group formControlName="houseNumber" [options]="{
        formControl: addressFormGroup.get('houseNumber'),
        label: 'Huisnummer',
        validationErrors: validationErrors
      }"></cx-form-group>
    </div>

    <div class="col-md-3">
      <cx-form-group formControlName="houseNumberExtension" [options]="{
        formControl: addressFormGroup.get('houseNumberExtension'),
        label: 'Toevoeging',
        validationErrors: validationErrors
      }"></cx-form-group>
    </div>

    <div class="col-md-2 hidden-sm hidden-xs">
      <div class="cx-form-group knx-address-lookup__button">
        <button class="knx-button knx-button--inline-form knx-button--primary knx-icon-map-marker" (click)="getLocationAddress()" [disabled]="true"></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{address}}
    </div>
  </div>

</div>
