.knx-address-lookup {
  margin-bottom: 60px;

  // error message
  &:after {
    margin-top: -12px;
    margin-bottom: 20px;
  }

  .knx-address-lookup__button {
    margin-bottom: 0;

    button {
      width: 100%;
    }
  }

  .knx-address-lookup__result {
    background: $knab-disabled-gray;
  }
}
