<form [formGroup]="form.formGroup" class="knx-fancy-form house-hold-dekking">

  <div class="row">
    <div class="col-sm-12">

      <h3>{{ 'household.dekking.title' | translate }}</h3>

      {{ 'household.dekking.comment' | translate }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-price-table
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="coverage"
        [items]="coverages"
        [labels]="{ selected: 'Geselecteerd', unselected: 'Kies deze' }"
        (onSubmit)="goToNextStep()"
        (onSelected)="updateSelectedCoverage($event)">
      </knx-price-table>

    </div>
  </div>

  <!-- TODO: temp removed waiting for design -->
  <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
      <!--<knx-card>-->

        <!--<div>-->
          <!--<span><b>{{ 'household.dekking.outsideCoverage.title' | translate }}</b></span>-->
          <!--<span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">-->
            <!--<knx-tooltip>{{ 'household.dekking.outsideCoverage.tooltip' | translate }}</knx-tooltip>-->
          <!--</span>-->


          <!--<p>-->
            <!--{{ 'household.dekking.outsideCoverage.description' | translate }}-->
          <!--</p>-->
        <!--</div>-->

        <!--<knx-form-group-->
          <!--knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="outsideCoverage"-->
          <!--[formControlName]="form.formConfig.outsideCoverage.formControlName"-->
          <!--[options]="form.formConfig.outsideCoverage">-->
        <!--</knx-form-group>-->

      <!--</knx-card>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <span><b>{{ 'household.dekking.commencingDate.title' | translate }}</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>{{ 'household.dekking.commencingDate.tooltip' | translate }}</knx-tooltip>
          </span>

          <p>
            {{ 'household.dekking.commencingDate.title' | translate }}
          </p>

          <knx-form-group
            knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="commencingDate"
            [formControlName]="form.formConfig.commencingDate.formControlName"
            [options]="form.formConfig.commencingDate">
          </knx-form-group>
        </div>
      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>

        <h3>{{ 'household.dekking.calcHouseVal.title' | translate }}</h3>

        {{ 'household.dekking.calcHouseVal.description' | translate }}


        <div class="knx-form-group--separated">
          <div>
            <span><b>{{ 'household.dekking.calcHouseVal.netIncome.title' | translate }}</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>{{ 'household.dekking.calcHouseVal.netIncome.tooltip' | translate }}</knx-tooltip>
          </span>


            <p>{{ 'household.dekking.calcHouseVal.netIncome.description' | translate }}</p>
          </div>

          <knx-form-group
            knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="netIncomeRange"
            [formControlName]="form.formConfig.netIncomeRange.formControlName"
            [options]="form.formConfig.netIncomeRange">
          </knx-form-group>

        </div>

        <div class="knx-form-group--separated">
          <div>
            <div>
              <span><b>{{ 'household.dekking.calcHouseVal.dob.title' | translate }}</b></span>
              <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>{{ 'household.dekking.calcHouseVal.dob.tooltip' | translate }}</knx-tooltip>
            </span>
            </div>
            <p>{{ 'household.dekking.calcHouseVal.dob.description' | translate }}</p>
          </div>

          <knx-form-group
            knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="dateOfBirth"
            [formControlName]="form.formConfig.dateOfBirth.formControlName"
            [options]="form.formConfig.dateOfBirth">
          </knx-form-group>
        </div>


        <div class="knx-form-group--separated">
          <div>
            <div>
              <span><b>{{ 'household.dekking.calcHouseVal.familySituation.title' | translate }}</b></span>
              <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>{{ 'household.dekking.calcHouseVal.familySituation.tooltip' | translate }}</knx-tooltip>
            </span>
            </div>
            <p>{{ 'household.dekking.calcHouseVal.familySituation.description' | translate }}</p>
          </div>

          <knx-form-group
            knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="familySituation"
            [formControlName]="form.formConfig.familySituation.formControlName"
            [options]="form.formConfig.familySituation">
          </knx-form-group>
        </div>

        <div class="knx-form-group--separated">
          <span class="valuable-contents-ab">
            {{ 'household.dekking.calcHouseVal.disclaimer.title' | translate }}
          </span>

          <div class="currently-we-do-not" [innerHTML]="'household.dekking.calcHouseVal.disclaimer.description' | translate"></div>
        </div>

        <knx-async-preview
          [loading]="isAmountLoading$ | async"
          [loaded]="isAmountLoaded$ | async"
          [hidden]="!(isAmountLoading$ | async) && !(isAmountLoaded$ | async)"
          modifier="knx-house-hold-amount-rect--nomargin">

          <div class="knx-house-hold-rect">
            <p class="est-household-value">{{ 'household.dekking.calcHouseVal.estimatedVal.suffix' | translate }}</p>
            <p class="knx-house-hold-amount">{{(amount$ | async)?.InsuredAmount | currency:'EUR':true:'2.0-4'}}</p>
          </div>
        </knx-async-preview>
      </knx-card>

    </div>
  </div>

</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onNext)="goToNextStep()"
                     (onBack)="goToPreviousStep()">
</knx-wizard-controls>
