@import '~styles/base';

.house-hold-house-type-form {
  h2 {
    margin-bottom: 10px;
  }

  h4.knx-collapse-message__title {
    letter-spacing: 0.05em;
  }
}

hr {
  margin: -8px 0 16px;
  border: 0;
  border-bottom: 2px $knab-primary-gray solid;
}

.valuable-contents-ab {
  height: 34px;
  width: 272px;
  color: #003b5a;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
}

.currently-we-do-not {
  height: 44px;
  width: 516px;
  color: #003b5a;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  display: inline-block;
  padding-left: 18px;
}

.rectangle {
  height: 42px;
  width: 2px;
  background-color: #efe9e4;
  display: inline-block;
}

.est-household-value {
  margin-top: 24px;
  height: 20px;
  color: $knab-white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.knx-house-hold-amount {
  height: 23px;
  font-family: $font-family-head;
  color: $knab-white;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.knx-house-hold-rect {
  height: 93px;
  background-color: #00a4a7;
  margin: 0 -1.5em -1.5em -1.5em;
}

/deep/ .knx-message.knx-house-hold-amount-rect--nomargin {
  margin-bottom: 0;
  border: 0;
  padding: 0;
}
