.knx-car-advice__editoptions {
  &:before {
    content: map-get($knx-icons, pencil);
    font-family: $font-family-icon;
    color: $knab-primary-blue;
    margin-right: 10px;
    font-size: $base-font-size;
  }
}
