<form [formGroup]="form.formGroup" class="knx-fancy-form">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">

      <h2>Je gegevens</h2>

      <div class="row">
        <div class="col-sm-12">
          <cx-form-group [options]="form.formConfig.licensePlate">
            <knx-input-licenseplate
              [formControlName]="form.formConfig.licensePlate.formControlName"
              (ngModelChange)="onLicensePlateChange($event)"
              [options]="form.formConfig.licensePlate.inputOptions">
            </knx-input-licenseplate>
          </cx-form-group>
        </div>
      </div>

      <cx-form-group
        [formControlName]="form.formConfig.birthDate.formControlName"
        [options]="form.formConfig.birthDate">
      </cx-form-group>

      <knx-address-lookup
        [addressFormGroup]="form.addressForm"
        [validationErrors]="form.validationErrors"
        (addressFound)="onAddressFound($event)">
      </knx-address-lookup>

      <div class="row">
        <div class="col-md-7 col-sm-12">
          <cx-form-group
            [formControlName]="form.formConfig.claimFreeYears.formControlName"
            [options]="form.formConfig.claimFreeYears">
          </cx-form-group>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="cx-form-group">
            <button class="knx-button knx-button--util inline-formelement"
              (click)="onFocus('claimFreeYears')">
                Weet ik niet
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group
            [formControlName]="form.formConfig.loan.formControlName"
            [options]="form.formConfig.loan">
          </cx-form-group>
        </div>
      </div>

      <cx-form-group
        [formControlName]="form.formConfig.houseHold.formControlName"
        [options]="form.formConfig.houseHold">
      </cx-form-group>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group
            [formControlName]="form.formConfig.gender.formControlName"
            [options]="form.formConfig.gender">
          </cx-form-group>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="car-form__coverages">

        <knx-loader [visible]="isCoverageLoading">
          Bezig met ophalen van dekkingsopties...
        </knx-loader>

        <ng-container *ngIf="coverages && !isCoverageLoading">
          <h2>Je dekkingswensen</h2>
          <knx-price-table [items]="coverages" (onSelected)="onSelectCoverage($event)"></knx-price-table>
        </ng-container>

      </div>
    </div>
  </div>

</form>
