@import '~styles/base.scss';

.knx-center {
  h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    color: $knab-primary-blue;
    text-align: center;
    font-family: $font-family-base;
  }
}

button {
  width: 100%;
}

.knx-error {
  text-align: center;
  color: $knab-primary-red;
}
