<form [formGroup]="form.formGroup" class="knx-fancy-form car-detail-form">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <h2>Je gegevens</h2>

      <h3>Over je auto</h3>

      <div class="row">
        <div class="col-md-7 col-sm-12">
          <cx-form-group [options]="form.formConfig.licensePlate">
            <knx-input-licenseplate
              knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="licensePlate"
              (ngModelChange)="onLicensePlateChange($event)"
              [formControlName]="form.formConfig.licensePlate.formControlName"
              [options]="form.formConfig.licensePlate.inputOptions">
            </knx-input-licenseplate>
          </cx-form-group>

          <knx-async-preview
            [loading]="carLoading"
            [loaded]="!carFailed && form.formGroup.get('licensePlate').value && !form.formGroup.get('licensePlate').hasError('licensePlate')">
              <knx-car-info [data]="car"></knx-car-info>
          </knx-async-preview>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="knx-form-group--info knx-form-group--info-input">
            <cx-form-group
              knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="claimFreeYears"
              [formControlName]="form.formConfig.claimFreeYears.formControlName"
              [options]="form.formConfig.claimFreeYears">
            </cx-form-group>

            <knx-info size="md" isFloating="true" class="knx-info">
              <div class="knx-info__content">
                <div class="knx-message knx-message--arrow-top">
                  <div class="knx-message__content">
                    <p>De <strong>schadevrije jaren</strong> vind je op je meest recente polis.
                      Je bouwt schadevrije jaren op als een auto op jouw naam is verzekerd. Schadevrije jaren geven je
                      korting op de premie.</p>

                    <p>Elk jaar dat je geen schade claimt, bouw je 1 schadevrij jaar op. Elke keer
                      dat je wel een schade claimt die jouw schuld is, verlies je 5 of meer jaren.</p>
                  </div>
                </div>
              </div>
            </knx-info>
          </div>
        </div>
        <div class="col-md-4">
          <!--
          <div class="cx-form-group">
            <button class="knx-button knx-button--util inline-formelement">
              Help me bepalen
            </button>
          </div>
          -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="knx-form-group--info knx-form-group--info-input">
            <cx-form-group
              knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="loan"
              [formControlName]="form.formConfig.loan.formControlName"
              [options]="form.formConfig.loan">
            </cx-form-group>

            <knx-info size="md" isFloating="true" class="knx-info">
              <div class="knx-info__content">
                <div class="knx-message knx-message--arrow-top">
                  <div class="knx-message__content">
                    <p>We willen graag van je weten of je een lening hebt afgesloten voor je auto.
                      In dat geval raden we je namelijk altijd een Allrisk verzekering aan.
                      Raakt je auto vervolgens onherstelbaar beschadigd? Dan krijg je een vergoeding van je verzekeraar om een nieuwe te kopen.
                      Bij een andere dekking krijg je die vergoeding niet en blijf je met een lening achter, terwijl je geen auto meer hebt.</p>
                  </div>
                </div>
              </div>
            </knx-info>
          </div>
        </div>
      </div>

      <hr>

      <h3>Over jou</h3>

      <div class="row">
        <div class="col-md-4 col-sm-12">
          <cx-form-group
            knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="birthDate"
            [formControlName]="form.formConfig.birthDate.formControlName"
            [options]="form.formConfig.birthDate">
          </cx-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group
            knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="gender"
            [formControlName]="form.formConfig.gender.formControlName"
            [options]="form.formConfig.gender">
          </cx-form-group>
        </div>
      </div>

      <knx-address-lookup
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="address"
        [addressForm]="addressForm"
        (addressFound)="onAddressFound($event)">
      </knx-address-lookup>

      <cx-form-group
        knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="houseHold"
        [formControlName]="form.formConfig.houseHold.formControlName"
        [options]="form.formConfig.houseHold"
        (events)="onFocusHouseHold()">
      </cx-form-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="car-form__coverages">
        <h2>Je dekkingswensen</h2>

        <knx-price-table
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="coverage"
          [items]="coverages"
          [highlight]="coverageRecommendation?.recommended_value"
          (onSelected)="onSelectCoverage($event)">
        </knx-price-table>

        <div class="knx-message knx-message--error" *ngIf="isCoverageError">
          Er is een fout opgetreden bij het ophalen van het dekkingsadvies.
        </div>

        <knx-loader [visible]="isCoverageLoading">
          Een momentje! We vergelijken meer dan 20 verschillende aanbieders voor je om de beste match te vinden.
        </knx-loader>
      </div>
    </div>
  </div>

</form>
