
@import '~styles/base';

.car-detail-form {
  .car-form__coverages {
    margin-top: 30px;
  }

  h4.knx-collapse-message__title {
    letter-spacing: 0.05em;
  }
}

hr {
  margin: -8px 0 16px;
  border: 0;
  border-bottom: 2px $knab-primary-gray solid;
}

@media (min-width: 768px) {
  .car-form__coverages h2 {
    margin-bottom: 0;
  }
}

