@import '~styles/base';

.car-detail-form {
  .car-form__coverages {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 10px;
  }

  /deep/ h3 {
    span {
      color: $knab-white;
    }

    .knx-tooltip {
      text-transform: none;
    }
  }

  h4.knx-collapse-message__title {
    letter-spacing: 0.05em;
  }
}

hr {
  margin: -8px 0 16px;
  border: 0;
  border-bottom: 2px $knab-primary-gray solid;
}

@media (min-width: 768px) {
  .car-form__coverages {
    margin-bottom: 0;

    h2 {
      margin-bottom: 45px;
    }
  }
}

.knx-form-group__label {
  &.knx-pull-up {
    transform: translateY(-15px);
  }
}
