<form [formGroup]="form.formGroup" class="knx-fancy-form car-detail-form">
  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h3>{{ 'car.advice.steps.detail.title' | translate }}</h3>

        <div class="row">
          <div class="col-md-7 col-sm-12">
            <knx-form-group [options]="form.formConfig.licensePlate">
              <knx-input-licenseplate
                knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="licensePlate"
                (ngModelChange)="onLicensePlateChange($event)"
                [formControlName]="form.formConfig.licensePlate.formControlName"
                [options]="form.formConfig.licensePlate.inputOptions">
              </knx-input-licenseplate>
            </knx-form-group>

            <knx-async-preview
              [loading]="carInfoLoading$ | async"
              [loaded]="carInfoLoaded$ | async"
              [hidden]="!(carInfoLoading$ | async) && featureToggleService.isOn('carInfo')">
              <knx-car-info *ngIf="!featureToggleService.isOn('carInfo')" [data]="car$ | async"></knx-car-info>
            </knx-async-preview>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="knx-form-group--info knx-form-group--info-input">
              <knx-form-group
                knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="claimFreeYears"
                [formControlName]="form.formConfig.claimFreeYears.formControlName"
                [options]="form.formConfig.claimFreeYears">

                <knx-tooltip>
                  <div [innerHTML]="'car.advice.steps.detail.claimFreeYears.tooltip' | translate"></div>
                </knx-tooltip>
              </knx-form-group>
            </div>
          </div>
          <div class="col-md-4">
            <!--
            <div class="knx-form-group">
              <button class="knx-button knx-button--util inline-formelement">
                Help me bepalen
              </button>
            </div>
            -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <div class="knx-form-group--info knx-form-group--info-input">
              <knx-form-group
                knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="loan"
                [formControlName]="form.formConfig.loan.formControlName"
                [options]="form.formConfig.loan">

                <knx-tooltip>
                  <div [innerHTML]="'car.advice.steps.detail.loan.tooltip' | translate"></div>
                </knx-tooltip>
              </knx-form-group>
            </div>
          </div>
        </div>
      </knx-card>

      <knx-card>
        <h3>
          {{ 'car.advice.steps.detail.aboutYou.title' | translate }}
          <small>{{ 'car.advice.steps.detail.aboutYou.subtitle' | translate }}</small>

          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>
              <div [innerHTML]="'car.advice.steps.detail.aboutYou.tooltip' | translate"></div>
            </knx-tooltip>
          </span>
        </h3>

        <div class="row">
          <div class="col-md-4 col-sm-12">
            <knx-form-group
              knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="birthDate"
              [formControlName]="form.formConfig.birthDate.formControlName"
              [options]="form.formConfig.birthDate">
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <knx-form-group
              knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="gender"
              [formControlName]="form.formConfig.gender.formControlName"
              [options]="form.formConfig.gender">
            </knx-form-group>
          </div>
        </div>

        <knx-address-lookup
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="address"
          [addressForm]="addressForm">
        </knx-address-lookup>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="houseHold"
          [formControlName]="form.formConfig.houseHold.formControlName"
          [options]="form.formConfig.houseHold">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="car-form__coverages">
        <h2>{{ 'car.advice.steps.detail.carCoverage.title' | translate }}</h2>

        <knx-price-table
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="coverage"
          [items]="coverages"
          [highlight]="(coverageRecommendation$ | async)?.recommended_value"
          [labels]="{ selected: 'car.advice.steps.detail.carCoverage.selected' | translate,
          unselected: 'car.advice.steps.detail.carCoverage.selected' | translate }"

          (onSubmit)="goToNextStep()"
          (onSelected)="updateSelectedCoverage($event)">
        </knx-price-table>

        <div class="knx-message knx-message--error" *ngIf="isCoverageError$ | async">
          {{ 'car.advice.steps.detail.carCoverage.errorLoading' | translate}}
        </div>

        <knx-loader [visible]="isCoverageLoading$ | async">
          {{ 'car.advice.steps.detail.carCoverage.loading' | translate }}
        </knx-loader>
      </div>
    </div>
  </div>
</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onNext)="goToNextStep()">
</knx-wizard-controls>
