<div class="container knx-container-thank-you">
    <div class="row">
      <div class="col-sm-8" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
        <knx-thank-you title="Autoverzekering aangevraagd!"
        insuranceType="autoverzekering"
        [phone]="content.phone.label"
        [phoneLink]="content.phone.link"
        [email]="email$ | async"
        [loggedIn]="loggedIn$ | async">
      </knx-thank-you>
    </div>
    <div class="col-sm-4">
      <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream #knxChatStream
        [options]="chatConfig$ | async"
        [messages]="chatMessages$ | async">
        </knx-chat-stream>
      </div>
    </div>
  </div>
</div>
