.breadcrumb {
  background: $knab-primary-blue;
  padding: 0;

  & a {
    color: $knab-white;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: none;
  }
}

.breadcrumb ul {
  list-style-type: none;
  padding: 12px 15px 14px 0;
  margin-bottom: 0;
  color: $knab-white;
  font-size: $font-size-base;
  font-family: $font-family-head;
  font-weight: 700;
  text-transform: uppercase;

  & > li {
    display: inline;
  }
}

.breadcrumb-item {
  color: $knab-white;
  text-decoration: none;

  &:hover {
    color: $knab-white;
    text-decoration: none;
  }
}

.breadcrumb-home {
  color: $knab-white;
  text-decoration: none;
  margin-right: 15px;

  span:before {
    line-height: 1em; //fix jumpy breadcrumb container
  }
}
