<div class="container">
  <div class="row knx-download-panel__container">
    <img src="/assets/images/avatars/avatar-fullsize.png" alt="lisa full size"/>

    <div class="knx-download-panel__content">
      <h2>Wat krijg je precies?</h2>
      <ul class="knx-list--checks knx-list--green">
        <li>Een overzicht met at je verzekeringen</li>
        <li>Krijg 15% korting op je eerste verzekering</li>
        <li>De Knab Verzekeren app:<br/>
          Ontvang meldingen zodra je kunt besparen
        </li>
      </ul>
      <div class="buttons">
          <button class="knx-button knx-button--primary knx-icon-apple">iOS</button>
          <button class="knx-button knx-button--primary knx-icon-android">Android</button>
      </div>
    </div>
  </div>
</div>