<div class="row">
  <img src="/assets/images/avatars/avatar-fullsize.png" alt="lisa full size"/>

  <div class="knx-download-panel__content">
    <h2>Wat krijg je precies?</h2>
    <ul>
      <li>Een overzicht met at je verzekeringen</li>
      <li>Krijg 15% korting op je eerste verzekering</li>
      <li>De Knab Verzekeren app:<br/>
        Ontvang meldingen zodra je kunt besparen<br/><br/>

        <a class="knx-button knx-button--cta"
           [href]="iosUrl" target="_blank"
           rel="noopener"><span class="knx-icon-apple"></span> iOS</a>

        <a class="knx-button knx-button--cta"
           [href]="androidUrl"
           target="_blank" rel="noopener"><span class="knx-icon-android"></span> Android</a>

      </li>
    </ul>
  </div>
</div>


