<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/images/avatars/avatar-fullsize.png" alt="lisa full size" />
    </div>

    <div class="col-sm-8">
      <h2>Wat krijg je precies?</h2>

      <ul class="knx-list--checks knx-list--green">
        <li>Een overzicht met al je verzekeringen</li>
        <li>Krijg tot 15% korting op je autoverzekering</li>
        <li>Slimme alerts die jou laten weten wanneer je kunt besparen</li>
      </ul>

      <div class="download-panel__buttons">
        <button class="knx-button knx-button--primary knx-icon-apple">iOS</button>
        <button class="knx-button knx-button--primary knx-icon-android">Android</button>
      </div>
    </div>
  </div>
</div>
