<div class="container knx-">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="knx-register__welcome">
        <h2 class="knx-register__subline">Maak nieuw account aan</h2>
        <p>Creëer een persoonlijk overzicht van al je verzekeringen.</p>
      </div>
    </div>
  </div>

  <form [formGroup]="form.formGroup" (ngSubmit)="register($event)" (keyup.enter)="register($event)" autocomplete="off">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="registration-email-wrapper">

            <label>Je email</label>
            <cx-form-group
              [formControlName]="form.formConfig.email.formControlName"
              [options]="form.formConfig.email"></cx-form-group>
          </div>

          <div class="registration-password-wrapper">

            <label>Wachtwoord</label>
            <cx-form-group
              [formControlName]="form.formConfig.password.formControlName"
              [options]="form.formConfig.password">
            </cx-form-group>

            <button type="button"
              *ngIf="form.formGroup.get('password').value"
              class="knx-register__showpassword knx-icon-eye"
              [class.knx-icon-eye-slash]="form.showPassword"
              [class.knx-icon-eye]="!form.showPassword"
              (click)="form.toggleShowPassword($event)"></button>

            <knx-password-strength [password]="form.formGroup.get('password').value"></knx-password-strength>
          </div>


        <div class="registration-check-wrapper">
            <knx-checkbox [formControlName]="form.formConfig.confirm.formControlName" id="termsAndCondition">
              Ik ga akkoord met de <a href="{{termsAndConditionsUrl}}"  target="_blank">Gebruiksvoorwaarden</a> and <a href="{{privacyStatementUrl}}" target="_blank">privacy statement</a> van Knab
            </knx-checkbox>
          </div>

          <div class="knx-register__error" *ngIf="form.formGroup.valid && errorMessage">
            {{ errorMessage || 'Het inloggen is helaas niet gelukt, probeer het alsjeblieft opnieuw.' }}
          </div>

          <button type="submit" class="knx-button knx-button--primary knx-button--fullwidth"
            [class.knx-button--pending]="pending$ | async">Create account</button>

          <span class="knx-icon-lock"></span> Beveiligde verbinding
      </div>
    </div>
    </form>
</div>
