@import '~styles/base.scss';

.knx-registration {
  background: #edece4;
  padding: 20px;
  border-radius: 5px;
  color: $knab-primary-blue;
}

knx-password-strength {
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
}

.cx-form-group {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

p {
  color: $knab-primary-blue;
}

.knx-registration__document-link {
  color: $knab-primary-green;
  font-weight: bold;

  &:hover {
    color: $knab-primary-red;
    text-decoration: none;
  }
}

.knx-registration__actions {
  margin-top: 50px;
  display: block;
}

.knx-registration__meta-security {
  font-size: $font-size-base - 2;
  color: $knab-primary-blue;
  margin-bottom: 0;
}

.knx-registration__error {
  color: $knab-error;
  font-size: $font-size-base - 2;
  margin-bottom: 10px;
}
