@import '~styles/base.scss';

.knx-empty-container {
  position: relative;
  width: 100%;

  .knx-empty-container__center-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

svg {
  width: 100%;
}

rect {
  fill: none;
  stroke: $knab-primary-blue;
  stroke-width: 2;
  stroke-dasharray: 8, 4;
  stroke-opacity: 0.2;
}
