@-webkit-keyframes animatedBackground {
  from {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
  to {
      -webkit-transform: translateX(-1210px);
      transform: translateX(-1210px)
  }
}

@keyframes animatedBackground {
  from {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
  to {
      -webkit-transform: translateX(-1210px);
      transform: translateX(-1210px)
  }
}

@-webkit-keyframes animatedBackgroundReverse {
  from {
      -webkit-transform: translateX(1210px);
      transform: translateX(1210px)
  }
  to {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes animatedBackgroundReverse {
  from {
      -webkit-transform: translateX(1210px);
      transform: translateX(1210px)
  }
  to {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}
