// Custom tooltip positioning
.knx-car-extras {
  .knx-form-group--info.knx-form-group--info-input {
    .knx-info-icon {
      float: right;
      margin-top: -55px;
    }

    .knx-select {
      width: 90%;
    }

    .knx-tooltip-wrapper--visible {
      min-width: 300px;
    }
  }

  .knx-form-group--info.knx-form-group--info-checkbox {
    .knx-checkbox {
      width: 90%;
    }

    .knx-info-icon {
      float: right;
      margin-top: -35px;
    }

    .knx-tooltip-wrapper--visible {
      min-width: 300px;
    }
  }
}
