// Add the knx-fancy-form class to your form element for
// green checkmarks on ng-valid controls

.knx-fancy-form {
  .ng-valid.ng-touched:not(form) {
    input {
      border: 2px solid $knab-secondary-green;
    }
  }

  .ng-valid.ng-pristine.ng-touched {
    input {
      border: 1px solid #e0e0e0; /* color only in cx-lib */
    }

    .cx-input:after {
      content: none;
    }
  }

  cx-select.ng-valid.ng-dirty select {
    border: 2px solid $knab-secondary-green;
  }
}
