/// KNX-INFO
.knx-form-group--info {
  .cx-form-group {
    padding-right: 25px;
  }

  .cx-form-group.cx-form-group--error {
    width: 98%;
  }

  .knx-info {
    position: absolute;
    top: 36px;
    right: 10px;
    display: block;
  }

  &.knx-form-group--no-label-info .knx-info {
    top: 60px;
  }

  .knx-info--description {
    top: 64px;
  }

  .knx-info--floating {
    position: absolute;
    top: 40px;
  }
}

cx-checkbox + .knx-info {
  position: absolute;
  right: 10px;
  margin-top: -30px;
}

@media (max-width: 768px) {
  .knx-form-group--info {
    .cx-form-group {
      width: 95%;
    }

    .cx-form-group.cx-form-group--error {
      width: 98%;
    }
  }

  .knx-info {
    .knx-info--floating.knx-info--md {
      width: 300px;
    }

    .knx-message--chat:first-child:before {
      top: -9px;
    }
  }
}

/// KNX-TOOLTIP
.knx-form-group--info {
  .knx-info-icon {
    position: absolute;
    right: 10px;
    top: 35px;
  }
}

@media (min-width: 768px) {
  .knx-form-group--info {
    .knx-tooltip-wrapper--visible {
      margin-left: -42px;
      margin-top: 15px;
      min-width: 300px;
    }
  }
}
