.main-container {
  min-height: calc(100vh - 300px);
  margin-top: 88px;
  margin-bottom: 60px;

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.main-container .knx-container-stepnavigation {
  margin-top: -34px;
}

@media (max-width: 768px) {
  .main-container .knx-container-stepnavigation {
    margin-top: -38px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-fluid .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.inline-formelement {
  margin-top: 1.5em;
  height: 44px;
  border-radius: 3px;
  line-height: 1em;

  &:before {
    padding-left: 5px;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

@media (max-width: 576px) {
  .knx-wizard__sidebar {
    z-index: 1;
  }

  .knx-chat-stream--expanded {
    .knx-message--arrow-top-center:first-child:before {
      left: auto;
      right: 32px;
    }
  }
}

@media (max-width: 576px) {
  .knx-car-extras {
    display: none;
  }

  .knx-chat-stream {
    .knx-side-panel .knx-car-extras,
    .knx-side-panel .knx-message {
      display: block;
    }
  }
}
