.main-container {
  margin-top: 100px;
  margin-bottom: 60px;

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.main-container .knx-container-stepnavigation {
  margin-top: -34px;
}

@media (max-width: 768px) {
  .main-container .knx-container-stepnavigation {
    margin-top: -48px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-fluid .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.inline-formelement {
  margin-top: 1.5em;
  height: 44px;
  border-radius: 3px;
  line-height: 1em;

  &:before {
    padding-left: 5px;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

/* TODO: refactor */

@media (max-width: 576px) {
  .knx-wizard__sidebar {
    z-index: 1;
  }

  .knx-chat-stream {
    position: fixed;
    top: 35px;
    right: 0;
    background: none;

    &:hover {
      .knx-avatar__image {
        width: 89px;
      }

      .knx-avatar__notification {
        width: 25px;
        height: 25px;
      }
    }

    &.knx-chat-stream--expanded {
      .knx-message {
        display: block;
      }

      .knx-avatar__image {
        width: 89px;
      }
    }

    .knx-avatar__notification {
      position: absolute;
      right: 20px;
      top: 20px;
      display: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $knab-primary-green;
      pointer-events: none;
      transition: all 0.3s;

      &.knx-avatar__notification--active {
        display: block;
      }
    }

    .knx-message {
      display: none;
    }

    .knx-message--arrow-top-center:first-child:before {
      left: auto;
      right: 32px;
    }

    .knx-avatar__image {
      width: 60px;
      margin-left: auto;
      margin-right: -5px;
      background: $knab-white;
      border: 3px $knab-primary-gray solid;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 576px) {
  .knx-car-extras {
    display: none;
  }

  .knx-chat-stream {
    .knx-side-panel .knx-car-extras,
    .knx-side-panel .knx-message {
      display: block;
    }
  }
}
