/**
 * Layout related styles for containers and spacings etc.
 */

.container--fullwidth,
.container.container--fullwidth,
.container-fluid.container--fullwidth,
.cx-container.container--fullwidth,
.cx-container-fluid.container--fullwidth {
  padding-left: 0;
  padding-right: 0;
}

.cx-step-navigation {
  margin-bottom: 30px;
}

.container--flat {
  padding-top: 0;
  padding-bottom: 0;
}

.main-container {
  margin: 50px 0;
}

.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}
.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-bottom: 0;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}

.fit {
  max-width: 100%;
}
