// BUTTON
.knx-button.knx-button--secondary.knx-button--ghost span {
  font-size: $font-size-base - 3;
  display: block;
}

// FORM-GROUP
.knx-form-group {
  font-size: $font-size-base;
}

.knx-form-group__label + .knx-form-group__description {
  font-size: $base-font-size - 2;
  margin-top: -5px;
}

.knx-info-icon {
  font-size: $font-size-base + 1;
  display: inline-block;
}

// COLLAPSIBLE-PANEL
.knx-collapsible-panel {
  // same as knx-card style
  background: $knab-white;
  border-radius: $knab-border-radius;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

// TOOLTIP
.knx-icon-info-circle:before {
  color: $knab-medium-light-gray;
}

@media (min-width: 768px) {
  .knx-tooltip-wrapper--visible {
    min-width: 300px;
  }
}

// WIZARD
.knx-wizard--controls {
  .knx-message {
    margin: 30px 0 15px;
  }
}

.knx-wizard__buttons {
  .knx-button--link,
  .knx-button--back {
    display: none;
  }

  button:last-child {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .knx-wizard__buttons {
    .knx-button--back {
      display: block;
    }

    button:last-child {
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .knx-wizard-step-content .knx-wizard--controls {
    margin: 15px 0 !important;
  }
}

.knx-ir-icon {
  min-height: 50px;
  line-height: 50px;

  img {
    height: 50px;
    width: 50px;
    display: inline-block;
  }
}

knx-ir-value {
  color: $knab-dark-gray;
}

.knx-ir-row__divider {
  &.knx-ir-row-margin {
    margin-top: -20px;
  }
}

@media (max-width: 414px) {
  .knx-ir-icon {
    line-height: initial;
  }

  knx-ir-tooltip {
    float: right;
  }
}

.knx-combined-components {
  .knx-form-group__label {
    display: none;
  }
}

.knx-wizard__sidebar--sticky {
  z-index: 1;
}
