.cx-form-group {
  font-size: $font-size-base;
}

.cx-form-group__label + .cx-form-group__description {
  font-size: $base-font-size - 2;
}

.cx-form-group__label + .cx-form-group__description {
  margin-top: -5px;
}

.cx-slider .noUi-pips {
  font-size: 12px;
}

.cx-slider .noUi-marker-horizontal.noUi-marker-large {
  height: 8px;
  background: $knab-light-gray;
}

.cx-slider .noUi-origin {
  background: $knab-light-gray;
}

.cx-slider .noUi-value:before {
  content: '€';
}

.cx-slider .noUi-value-horizontal {
  padding-top: 10px;
}

button.knx-button--toggle,
.knx-button--toggle {
  border: 1px solid $knab-tan-gray;
  border-radius: 0;
}

.knx-price-item {
  //outline-color: $knab-tan-gray;
}

.knx-message .knx-message__content {
  line-height: 1.4em;
}

.knx-message .knx-message__header {
  font-size: $font-size-base;
}

.knx-info__content > .knx-message,
.knx-info__content > .knx-message p {
  color: $knab-white;
}

.knx-info__content > .knx-message p {
  margin-bottom: 10px;
}

.knx-info__content > .knx-message p:last-child {
  margin-bottom: 0;
}

.knx-message.knx-message--hint {
  margin-top: 15px;
  margin-bottom: 15px;
}

.knx-wizard--controls {
  .knx-message {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .knx-wizard-step-content .knx-wizard--controls {
    margin: 15px 0 !important;
  }
}

.ng2-dropdown-button {
  max-width: 250px;
}
