// FORM-GROUP
.knx-form-group {
  font-size: $font-size-base;
}

.knx-form-group__label + .knx-form-group__description {
  font-size: $base-font-size - 2;
  margin-top: -5px;
}

.knx-info-icon {
  font-size: $font-size-base + 1;
}

// TOOLTIP
@media (min-width: 768px) {
  .knx-tooltip-wrapper--visible {
    min-width: 300px;
  }
}

// WIZARD
.knx-wizard--controls {
  .knx-message {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .knx-wizard-step-content .knx-wizard--controls {
    margin: 15px 0 !important;
  }
}
