.cx-form-group {
  font-size: $font-size-base;
}

.cx-slider .noUi-pips {
  font-size: 12px;
}

.cx-slider .noUi-marker-horizontal.noUi-marker-large {
  height: 8px;
  background: $knab-light-gray;
}

.cx-slider .noUi-origin {
  background: $knab-light-gray;
}

.cx-slider .noUi-value:before {
  content: '€';
}

.cx-slider .noUi-value-horizontal {
  padding-top: 10px;
}

.ng-valid.ng-touched:not(form) {
  input,
  select {
    border: 2px solid $knab-secondary-green;
  }

  .cx-input:after {
    position: relative;
    line-height: 1em;
    top: 0.6em;
    right: 30px;
    font-size: $base-font-size + 2;
    content: map-get($knx-icons, check);
    font-family: $font-family-icon;
    color: $knab-secondary-green;
  }
}

select.ng-valid.ng-touched {
  border: 2px solid $knab-secondary-green;
}
