// BUTTON
.knx-button.knx-button--secondary.knx-button--ghost span {
  font-size: $font-size-base - 3;
  display: block;
}

// FORM-GROUP
.knx-form-group {
  font-size: $font-size-base;
}

.knx-form-group__label + .knx-form-group__description {
  font-size: $base-font-size - 2;
  margin-top: -5px;
}

.knx-info-icon {
  font-size: $font-size-base + 1;
  display: inline-block;
}

// COLLAPSIBLE-PANEL
.knx-collapsible-panel {
  // same as knx-card style
  background: $knab-white;
  border-radius: $knab-border-radius;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

// TOOLTIP
.knx-icon-info-circle:before {
  color: $knab-medium-light-gray;
}

@media (min-width: 768px) {
  .knx-tooltip-wrapper--visible {
    min-width: 300px;
  }
}

// WIZARD
.knx-wizard--controls {
  .knx-message {
    margin: 30px 0 15px;
  }
}

.knx-wizard__buttons {
  .knx-button--link,
  .knx-button--back {
    display: none;
  }

  button:last-child {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .knx-wizard__buttons {
    .knx-button--back {
      display: block;
    }

    button:last-child {
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .knx-wizard-step-content .knx-wizard--controls {
    margin: 15px 0 !important;
  }
}

.knx-ir-icon {
  min-height: 50px;

  img {
    position: absolute;
    display: inline-block;
    margin: 2px 0;
    height: 50px;
    width: 50px;
    clip: rect(2px, 48px, 48px, 2px);
  }
}

knx-ir-value {
  color: $knab-dark-gray;
}

.knx-ir-row__divider {
  &.knx-ir-row-margin {
    margin-top: -20px;
  }
}

@media (max-width: 575px) {
  .knx-ir-icon {
    line-height: initial;
  }

  knx-ir-tooltip {
    float: right;
  }

  .knx-insurance-review__supported-info knx-ir-tooltip {
    float: none;
  }
}

.knx-combined-components {
  .knx-form-group__label {
    display: none;
  }
}

.knx-wizard__sidebar--sticky {
  z-index: 1;
}

.knx-ir-content--icon {
  .container {
    height: 100%;

    .row {
      height: 100%;

      .col-md-7 {
        display: table;
        height: 100%;

        knx-ir-label {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .col-md-5 {
        display: table;
        height: 100%;

        knx-ir-value {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .knx-ir-content--icon {
    .container {
      height: initial;

      .row {
        height: initial;

        .col-md-7 {
          display: initial;
          height: initial;

          knx-ir-label {
            display: initial;
            vertical-align: unset;
          }
        }

        .col-md-5 {
          display: initial;
          height: initial;

          knx-ir-value {
            display: initial;
            vertical-align: unset;
          }
        }
      }
    }
  }
}

.knx-menu-mobile {
  margin-top: 20px;
}

.knx-menu-item {
  &.big {
    .knx-dropdown-img {
      height: 56px;
      width: 56px;
    }

    .knx-dropdown-value {
      line-height: 30px;

      .knx-push-down {
        padding-bottom: 16px;
      }
    }

    p {
      margin: 0;
    }
  }
}

.knx-dropdown-img {
  width: 46px;
  height: 46px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.knx-dropdown-profile-img {
  @extend .knx-dropdown-img;

  background-color: #f3f3f3;
  border-radius: 100%;

  &.knx-profile-image {
    border: 2px solid #f6f6f6;
    background-size: contain;
  }
}

.knx-dropdown-value {
  padding-left: 15px;
  height: 100%;
  line-height: 46px;
}

.knx-dropdown-img__profile {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/profile_icon.svg');
}

.knx-dropdown-img__house {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/house_icon.svg');
}

.knx-dropdown-img__signout {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/signout_icon.svg');
}

.knx-dropdown-img__login {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/login_icon.svg');
}

.knx-menu-divider {
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  width: 100%;
  display: block;
  background: #003b5a;
  opacity: 0.2;

  &.mobile {
    width: 100%;
    margin: 20px 0;
  }
}
