/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import 'typography';
//@TODO replace icon font with svg icons
@import 'icons-fa';
@import 'utils';
@import 'pricing-table';

/* import shared library styles */
@import '../../node_modules/@cx/grid/index';
@import '../../node_modules/@cx/base/index';

/* component styles */
@import '../app/component/ki-breadcrumb/breadcrumb.component';
@import '../app/component/ki-navigation/navbar.component';

body {
  font-family: $knab-font-family-secondary, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

a {
  color: $knab-primary-red;
  text-decoration: none
}

a:hover,
a:focus {
  color: $knab-secondary-red;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}
