// overrides for @cx/base
$fonts_path: '/assets/fonts/';

$baseFontFamily: 'PT Sans, Helvetica, Arial, sans-serif';
$headFontFamily: "Intro Bold Caps",Helvetica,Arial,sans-serif;

//todo: refactor
$knab-font-family-secondary: $baseFontFamily;

$baseFontSize: 16px;
$baseFontWeight: 400;
