// overrides for @cx/base
$fonts_path: '/assets/fonts/';

// overrides for @knx/base
$font-icon-path: '/assets/icons/';
$button-enable-shadow: false;

$font-family-base: 'PT Sans', Helvetica, Arial, sans-serif;
$font-family-head: "Intro Bold Caps",Helvetica,Arial,sans-serif;
$font-family-regular: "Intro Regular", Helvetica, Arial, sans-serif;

$font-size-base: 16px;
$base-font-size: 16px; // override cx-* and knx-*
$font-weight-base: 400;

$knab-border-radius: 4px; // same as $knx-button-border-radius
$knab-app-background: #fff;
$knab-nav-item-color: #fff;
$knab-tertiary-gray: #e0e0e0;

$z-index-navbar-dropdown: 4200;
$z-index-navbar: 4000;
$z-index-tooltip: 3000;
$z-index-chat-stream: 1020;
$z-index-chat-stream-message: 1010;
$z-index-knx-input: 1000;
