// overrides for @cx/base
$fonts_path: '/assets/fonts/';

// overrides for @knx/base
$font-icon-path: '/assets/icons/';
$button-enable-shadow: true;

$font-family-base: 'PT Sans', Helvetica, Arial, sans-serif;
$font-family-head: "Intro Bold Caps",Helvetica,Arial,sans-serif;

$font-size-base: 16px;
$font-weight-base: 400;
