<div class="cx-row">
  <div class="cx-col-md-12 cx-col-sm-12">
   <h1>Cookies</h1>
    <div class="">
      <p><a href="#" class="cookiePopup">PAS MIJN COOKIE-INSTELLINGEN AAN</a>
        <br>
        <br>
      </p>
      <h2>Wat zijn cookies?</h2>
      <p>Cookies zijn kleine, eenvoudige tekstbestanden die via onze website op jouw computer, tablet of mobiele telefoon worden geplaatst als je onze website bezoekt. De cookies die wij gebruiken op onze website onthouden geen persoonlijke gegevens, zoals je wachtwoord, naam, adres of leeftijd. De cookies onthouden alleen jouw voorkeuren en interesses. Als je geen toestemming geeft voor het plaatsen van cookies, plaatst Knab een 'No-follow cookie'. Deze zorgt ervoor dat er enkel en alleen noodzakelijke cookies op je computer of mobiele toestel worden geplaatst.</p>
      <p>We gebruiken cookies om verschillende redenen. Hieronder lees je meer over de 3 verschillende categorieën cookies die Knab gebruikt.</p>
      <br>
      <br>
      <h2>1. Noodzakelijke cookies</h2>
      <p>Sommige cookies zijn noodzakelijk voor het functioneren van onze website. Deze cookies dragen bij aan veilig browsen en bankieren. Als je browser geen cookies van knab.nl accepteert, kun je geen gebruikmaken van onze website en je Persoonlijke Bankomgeving. Als je ervoor kiest om bij 'Cookie-instellingen' op onze website geen cookies te accepteren, dan worden alleen de noodzakelijke cookies geplaatst. Hier is geen toestemming voor nodig, omdat ze noodzakelijk zijn voor het functioneren van onze website.</p>
      <br>
      <br>
      <h2>2. Statistiek-cookies</h2>
      <p>We streven naar de hoogst mogelijke gebruikservaring. Om dit te bereiken gebruiken we cookies die informatie verzamelen over het gebruik van onze website.</p>
      <br>
      <br>
      <h2>3. Externe cookies</h2>
      <p>We vinden het belangrijk om alleen informatie met je te delen die relevant is. We maken daarom gebruik van cookies die iets vertellen over je gebruikersprofiel. Dit doen we zowel op onze eigen website als op externe websites. Wij tonen informatie die aansluit op een eerder bezoek aan onze website. Heb je bijvoorbeeld op onze website de pagina over Flexibel Sparen bekeken? Dan kun je op een externe website een advertentie te zien krijgen over deze spaarrekening.</p>
      <p>Op onze website maken we gebruik van de social-mediakanalen Facebook, Google+, Twitter, LinkedIn en YouTube. Via speciale knoppen van deze kanalen kun je makkelijk content delen van onze website via je eigen account. Een voorbeeld is de ‘Vind ik leuk- knop’ van Facebook. Dit wordt mogelijk gemaakt door het gebruik van cookies. Meer informatie over de gegevens die deze social-mediakanalen hiermee verkijgen, vind je op de websites van <a href="http://www.facebook.com/help/cookies" target="_blank">Facebook</a>, <a href="http://nl.linkedin.com/static?key=privacy_policy" target="_blank">LinkedIn</a>, <a href="http://twitter.com/privacy" target="_blank">Twitter</a>, <a href="http://www.google.com/intl/nl/policies/privacy/" target="_blank">Google+</a> en <a href="https//www.google.com/intl/nl/policies/privacy/"></a><a href="http://www.google.com/intl/nl/policies/privacy/" target="_blank">Youtube</a>.</p>
      <br>
      <br>
      <h2>Overzicht van cookies</h2>
      <p><a href="/~/media/files/cookies/cookies.ashx" class="arrow" target="_blank">Cookie-overzicht (PDF)</a></p>
      <p>Wij streven ernaar om dit overzicht zo actueel mogelijk te houden. Het overzicht is voor het laatst bijgewerkt op 2 februari 2017.</p>
      <br>
      <br>
      <h2>Hoe kun je cookies blokkeren of verwijderen?</h2>
      <p>Wil je liever niet dat Knab cookies plaatst? Dan kun je deze cookies zelf blokkeren of verwijderen via de privacyinstellingen van je browser. Websites kunnen hierdoor wel minder snel werken, of zelfs helemaal niet functioneren. Internetbankieren bij Knab bijvoorbeeld, is niet meer mogelijk als je noodzakelijke cookies verwijdert of blokkeert. En je ervaart minder gemak doordat de instellingen in je Persoonlijke Bankomgeving niet meer worden onthouden.</p>
      <br>
      <br>
      <h2>Cookies blokkeren</h2>
      <p>Wil je voorkomen dat er nieuwe cookies worden geplaatst? Blokkeer dan de mogelijkheid dat cookies worden opgeslagen op je computer, tablet of mobiel. Er zijn verschillende mogelijkheden om cookies te blokkeren. Zo kun je alle cookies blokkeren, een specifiek type cookie blokkeren of cookies van bepaalde websites blokkeren. Dit kun je zelf doen via de privacyinstellingen van je browser. Hierbij is het wel belangrijk om te weten dat onze website en de Persoonlijke Bankomgeving niet functioneren als je alle cookies blokkeert.</p>
      <p>Bij het blokkeren van cookies blijven alle cookies staan die al op je computer, tablet of mobiel aanwezig waren. Je kunt daarom beter naast het blokkeren ook al je reeds geplaatste cookies verwijderen.</p>
      <br>
      <br>
      <h2>Cookies verwijderen</h2>
      <p>Wil je alle cookies op je computer verwijderen? Dat kan. Houd er wel rekening mee dat je door het verwijderen van cookies minder gebruikersgemak ervaart als je websites bezoekt. Bepaalde instellingen worden namelijk niet langer bewaard en het kan zijn dat je relevante aanbiedingen misloopt. Overigens zullen na elk internetbezoek weer cookies op je computer, tablet of mobiel zijn opgeslagen. Tenzij je de plaatsing van nieuwe cookies hebt geblokkeerd.</p>
      <p>De instellingen om cookies te verwijderen vind je in de toolbar van je browser. Of lees meer op de websites van de browsers <a href="http://windows.microsoft.com/nl-be/windows-vista/Delete-your-Internet-cookies" target="_blank">Internet Explorer</a>, <a href="http://support.mozilla.org/nl/kb/Cookies%20verwijderen" target="_blank">Mozilla Firefox</a> of <a href="http://support.google.com/chrome/bin/answer.py?hl=nl&amp;answer=95647" target="_blank">Google Chrome</a>. Gebruik je Safari? Dan worden cookies van adverteerders standaard geblokkeerd. Je kunt deze instelling veranderen door rechts bovenin op het symbool voor instellingen te klikken. Vervolgens ga je naar ‘Voorkeuren’, tabje ‘Privacy’. Je kunt vervolgens kiezen uit 3 instellingen.</p><p></p>
      <br>
    </div>
  </div>
</div>
