<div class="knx-car-summary">
  <div class="row">
    <div class="col-sm-12">
      <h2>Controleer je gegevens</h2>

      <div class="knx-insurance-review__panels">

        <knx-ir-content title="Je autoverzekering" *ngIf="isValidInsurance(insurance)">
          <knx-ir-row>
            <knx-ir-label>Ingangsdatum</knx-ir-label>
            <knx-ir-value>{{ advice?.startDate }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Gekozen dekking</knx-ir-label>
            <knx-ir-value>{{ advice?.coverage | jamesTag: 'car_flow_coverage' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Maximaal eigen risico</knx-ir-label>
            <knx-ir-value>{{ insurance.own_risk | currency:'EUR':true }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row newSection="true">
            <knx-ir-label>Rechtsbijstand</knx-ir-label>
            <knx-ir-value>{{ advice?.legal_aid | jamesTag: 'car_flow_legal_aid' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>No-claimbeschermer</knx-ir-label>
            <knx-ir-value>{{ advice?.no_claim_protection | boolean }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Pechhulp</knx-ir-label>
            <knx-ir-value>{{ advice?.road_assistance | jamesTag: 'car_flow_road_assistance' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Inzittendenverzekering</knx-ir-label>
            <knx-ir-value>{{ advice?.cover_occupants | boolean }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-ir-content title="Details van je auto" *ngIf="insurance">
          <knx-ir-row>
            <knx-ir-label>Kenteken</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.license }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Merk</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.make }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Model</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.model }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Type</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.edition }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Bouwjaar</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.year }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row newSection="true">
            <knx-ir-label>Cataloguswaarde</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.price_consumer_incl_vat | currency:'EUR':true}}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Waarde accessoires</knx-ir-label>
            <knx-ir-value>{{ advice?.accessoryValue | currency:'EUR':true}}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Dagwaarde</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.current_value | currency:'EUR':true}}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Gewicht</knx-ir-label>
            <knx-ir-value>{{ insurance._embedded.car.weight_empty_vehicle + ' kg' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>KM per jaar</knx-ir-label>
            <knx-ir-value>{{ advice?.kilometers_per_year | jamesTag: 'car_flow_km_per_year' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Beveiliging</knx-ir-label>
            <knx-ir-value>{{ advice?.securityClass | jamesTag: 'buyflow_carsecurity' }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-ir-content title="Persoonlijke gegevens" *ngIf="insurance">
          <knx-ir-row>
            <knx-ir-label>Geslacht</knx-ir-label>
            <knx-ir-value>{{ advice.gender === 'M' ? 'Man' : 'Vrouw' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Voorletters</knx-ir-label>
            <knx-ir-value>{{ advice.initials }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Voornaam</knx-ir-label>
            <knx-ir-value>{{ advice.firstName }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Tussenvoegsel</knx-ir-label>
            <knx-ir-value>{{ advice.middleName }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Achternaam</knx-ir-label>
            <knx-ir-value>{{ advice.lastName }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Geboortedatum</knx-ir-label>
            <knx-ir-value>{{ advice.date_of_birth | date:'shortDate' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row newSection="true">
            <knx-ir-label>Street</knx-ir-label>
            <knx-ir-value>{{ advice.address?.street || advice.location_info.street }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Huisnummer</knx-ir-label>
            <knx-ir-value>{{ advice.address?.number || advice.location_info.number }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Postcode</knx-ir-label>
            <knx-ir-value>{{ advice.address?.postcode || advice.location_info.postcode }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>City</knx-ir-label>
            <knx-ir-value>{{ advice.address?.city || advice.location_info.city }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Mobiel nummer</knx-ir-label>
            <knx-ir-value>{{ advice.mobileNumber }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Vast nummer</knx-ir-label>
            <knx-ir-value>{{ advice.phoneNumber || '-' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>E-mailadres</knx-ir-label>
            <knx-ir-value>{{ profile.emailaddress }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-insurance-review-documents *ngIf="insurance?.documents"
          title="Documenten" [documents]="insurance?.documents"></knx-insurance-review-documents>

        <knx-ir-content title="Betaling" *ngIf="insurance">
          <knx-ir-row>
            <knx-ir-label>Je betaalt per maand</knx-ir-label>
            <knx-ir-value>{{ insurance?.monthly_premium | currency:'EUR':true }}<br><span class="premium-note">Incl. 10% provisie aan Knab</span></knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Eenmalige afsluitkosten</knx-ir-label>
            <knx-ir-value>{{ insurance?.one_off_premium | currency:'EUR':true }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row>
            <knx-ir-label>Rekeningnummer</knx-ir-label>
            <knx-ir-value>{{ advice.iban }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>
      </div>

      <div class="container">
        <div class="row knx-car-summary__terms">
          <div class="col col-sm-12">
            <knx-checkbox class="knx-car-summary__checkbox"
              [(ngModel)]="confirm"
              [options]="{ label: 'Ik ga akkoord met de voorwaarden die hierboven getoond worden' }">
            </knx-checkbox>
          </div>
        </div>
      </div>

  </div>
</div>

