<knx-overlay-modal></knx-overlay-modal>
<header class="header">
  <knx-offline-indicator></knx-offline-indicator>
  <knx-technical-issue></knx-technical-issue>
  <knx-navbar [animationState]="animationState" [menuItems]="topMenu" (onLogOut)="logOut()" (onHamburgerClick)="toggleMenuOpen()">
    <knx-opening-hours></knx-opening-hours>
    <knx-navbar-menu
      [mobile]="false"
      [animationState]="animationState"
      [loggedIn]="loggedIn$ | async"
      [profile]="profile$ | async"
      (onMenuItemClick)="handleMenuClick($event)"
      (onAnimationDone)="setMenuAnimationStatus($event)"
      class="hidden-md-up">
    </knx-navbar-menu>
  </knx-navbar>
</header>

<knx-navbar-menu
  [animationState]="animationState"
  [loggedIn]="loggedIn$ | async"
  [profile]="profile$ | async"
  (onMenuItemClick)="handleMenuClick($event)"
  (onAnimationDone)="setMenuAnimationStatus($event)"
  class="hidden-md-up">
</knx-navbar-menu>

<div class="main-container" knxSidePanelState knxTouchCapable>
  <knx-loader></knx-loader>
  <router-outlet></router-outlet>
</div>

<knx-footer></knx-footer>
