@import '~styles/base.scss';

.knx-radio-navigator {
  width: 400px;
}

.knx-radio-navigator__previous {
  display: inline-block;
}

.knx-radio-navigator__content {
  display: inline-block;
  width: 136px;
  text-align: center;
  vertical-align: top;
}

.knx-radio-navigator__next {
  display: inline-block;
}

/*.icon-plus, .icon-minus {
  //font-size: 24px;
  font-family: Serif;
}*/

/*
.knx-button {
  width: 64px;
  height: 48px;
}

@media (max-width: 414px) {
  .icon-plus, .icon-minus {
    font-size: 12px;
    font-family: Serif;
  }

  .knx-button {
    width: 32px;
    height: 24px;
  }
}
*/
