@import '~styles/base.scss';

.knx-radio-navigator__previous {
  display: inline-block;
}

.knx-radio-navigator__content {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.knx-radio-navigator__next {
  display: inline-block;
}

.knx-button {
  width: 64px;
  height: 48px;
}

.icon-minus,
.icon-plus {
  font-family: serif;
  margin: 0;
}

.icon-plus {
  font-size: 24px;
}

.icon-minus {
  font-size: 30px;
}
