@import '~styles/base.scss';

.knx-radio-navigator {
  width: 400px;
}

.knx-radio-navigator__previous {
  display: inline-block;
}

.knx-radio-navigator__content {
  display: inline-block;
  width: 180px;
  text-align: center;
  vertical-align: top;
}

.knx-radio-navigator__next {
  display: inline-block;
}
