.ki-user-detail button.cx-button {
  font-size: 16px;
  color: $silverChalice;
  padding-bottom: 10px;
}

.ki-user-detail .icon {
  float: left;
  color: $silverChalice;
  margin-top: 4px;
  margin-right: 10px;
}
