.ki-user-detail button.cx-button {
  font-size: 16px;
  color: $silverChalice;
  padding-bottom: 0px;
  line-height: 1.7em;
}

.ki-user-detail .icon {
  float: left;
  color: $silverChalice;
  margin-top: 5px;
}
