<div class="row">
  <div class="col-sm-12">
    <div class="knx-card">
      <h3 class="knx-collapse-message__title ">
        {{ 'household.premium.thankYou.note.header.congrats.title' | translate:params }}
      </h3>

      <p>
        {{ 'household.premium.thankYou.note.para.note1' | translate:params }}<br/>
        {{ 'household.premium.thankYou.note.para.note2' | translate }}
      </p>

      <p>
        {{ 'household.premium.thankYou.confirmation.note' | translate }}
      </p>
    </div>

    <knx-ir-content [showStep]="false">
      <knx-ir-row showValue="true">
        <knx-ir-label>{{ 'household.thankyou.id' | translate }}</knx-ir-label>
        <knx-ir-value>{{params.packageNumber }}</knx-ir-value>
      </knx-ir-row>

      <knx-ir-row showValue="true">
        <knx-ir-label>{{ 'household.dekking.commencingDate.title' | translate }}</knx-ir-label>
        <knx-ir-value>{{params.commencingDate | date:'shortDate'}}</knx-ir-value>
      </knx-ir-row>

      <knx-ir-row showValue="true">
        <knx-ir-label>{{ 'household.premium.buy.your_email.label' | translate }}</knx-ir-label>
        <knx-ir-value>{{params.customerEmail}}</knx-ir-value>
      </knx-ir-row>
    </knx-ir-content>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <knx-card>
      <knx-contact-card></knx-contact-card>
    </knx-card>
  </div>
</div>


<knx-knab-lab></knx-knab-lab>
