@import '~styles/base';

.knx-insurance-toplist {
  .knx-button-group {
    margin-bottom: 30px;
  }

  .row h2 {
    margin-bottom: 15px;
  }
}

.knx-insurance-toplist__info {
  margin-top: 35px;
  text-align: center;

  a {
    color: $knab-primary-blue;
  }
}
