<div class="container knx-container-main">
  <div class="row">
    <div class="col-sm-4 push-sm-8">
      <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream
          [options]="chatConfig$ | async"
          [messages]="chatMessages$ | async">
        </knx-chat-stream>
      </div>
    </div>

    <div class="col-sm-8 pull-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <knx-card>
            <div class="row">
              <div class="col-md-10 col-10">
                <h2>Wijzig wachtwoord</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">E-mailadres</div>
              <div class="col-md-6">
                <p class="knx-value">{{ (profile$ | async).emailaddress || '-' }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="form.formGroup"
                  [class.knx-form-group--error]="getErrors() && form.formGroup.touched"
                  [attr.data-error]="getErrors()">
                  <knx-form-group
                    [formControlName]="form.formConfig.oldPassword.formControlName"
                    [options]="form.formConfig.oldPassword">
                  </knx-form-group>

                  <knx-form-group
                    [formControlName]="form.formConfig.newPassword.formControlName"
                    [options]="form.formConfig.newPassword">
                  </knx-form-group>

                  <knx-form-group
                    [formControlName]="form.formConfig.confirmPassword.formControlName"
                    [options]="form.formConfig.confirmPassword">
                  </knx-form-group>
                </form>
              </div>
            </div>
          </knx-card>
        </div>
      </div>

      <button class="knx-button knx-button--link knx-button--back" (click)="goBack()">Terug</button>
      <button class="knx-button knx-button--primary pull-right" [class.knx-button--pending]="pending$ | async" (click)="save()">Opslaan</button>
    </div>
  </div>
</div>
