@import '~styles/base';

.knx-wizard--controls {
  margin: 8px 0;
}

.knx-message--error {
  font-size: 16px;
}

.knx-wizard__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.knx-wizard__buttons--first {
  justify-content: flex-end;
}

.knx-form__error {
  margin-bottom: 15px;
}

@media (max-width: 414px) {
  .knx-wizard__buttons {
    .knx-button--3d:active {
      top: inherit;
    }

    .knx-button--float-bottom {
      position: fixed;
      bottom: 0;
      left: 5%;
      width: 90%;
      z-index: 2;
    }
  }
}
