<div class="knx-wizard--controls">
  <div class="knx-message knx-message--error" *ngIf="error">
    {{ error }}
  </div>

  <div class="knx-wizard__buttons" [class.knx-wizard__buttons--first]="currentStepOptions.hideBackButton">
    <button
      [ngClass]="[
          currentStepOptions.backButtonClass ?
          currentStepOptions.backButtonClass : 'knx-button knx-button--link knx-button--back'
        ]"
      *ngIf="!currentStepOptions.hideBackButton"
      [disabled]="currentStepOptions.disableBackButton"
      (click)="back()">
      {{ currentStepOptions.backButtonLabel }}
    </button>

    <button
      *ngIf="!currentStepOptions.hideNextButton"
      [ngClass]="[
        currentStepOptions.nextButtonClass ?
        currentStepOptions.nextButtonClass : 'knx-button knx-button--primary knx-button--arrow',
        isPendingNext ? 'knx-button--pending' : ''
      ]"
      [attr.data-btn]="currentStepOptions.nextButtonData ? currentStepOptions.nextButtonData : ''"
      [disabled]="isPendingNext || currentStepOptions.disableNextButton"
      (click)="next()">
      {{ currentStepOptions.nextButtonLabel }}
    </button>
  </div>
</div>
