<div class="container knx-car-advice-loader">
  <knx-loader [visible]="savedInsurancesLoading$ | async">
    {{ 'car.advice.loading' | translate }}
  </knx-loader>
</div>

<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container-stepnavigation"
  knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded"
  [hidden]="savedInsurancesLoading$ | async">
  <div class="container">
    <knx-step-navigation
      [steps]="formSteps"
      [currentStep]="knxWizardService.currentStepIndex"
      [clickable]="true"
      (stepChange)="goToStep($event);">
    </knx-step-navigation>
  </div>
</div>
<div class="container knx-car-advice" [ngClass]="getStepClass(knxWizardService.currentStepIndex)" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded" [hidden]="savedInsurancesLoading$ | async">
  <knx-wizard-rx>

    <div class="knx-wizard__sidebar" [class.knx-wizard__sidebar--sticky]="knxWizardService.currentStepIndex !== 1" #knxWizardSidebar>
      <knx-chat-stream #knxChatStream
        [options]="chatConfig$ | async"
        [messages]="chatMessages$ | async"
        [formGroup]="carExtrasForm.formGroup">

        <knx-car-extras
          [form]="carExtrasForm"
          [advice]="selectedAdvice$ | async"
          [show]="knxWizardService.currentStepIndex === 1">
        </knx-car-extras>

        <ng-container *ngIf="knxWizardService.currentStepIndex === 1" [formGroup]="carExtrasForm.formGroup">
          <knx-side-panel #knxSidePanel title="Wijzig" [fullwidth]="true" (onChangeVisibile)="toggleSideNavState($event)">
            <div class="container-fluid">
              <div class="knx-side-panel-content">
                <knx-car-extras
                  [form]="carExtrasForm"
                  [advice]="selectedAdvice$ | async"
                  [show]="knxWizardService.currentStepIndex === 1">
                </knx-car-extras>

                <button class="knx-button knx-button--secondary knx-button--fullwidth knx-button--arrow"
                        (click)="knxSidePanel.close()">{{ 'car.advice.moreButton.label' | translate }}</button>
              </div>
            </div>
          </knx-side-panel>

          <button class="knx-icon-filter knx-side-panel__action hidden-md hidden-lg hidden-md-up knx-button knx-button--secondary knx-button--3d"
                  (click)="knxSidePanel.open()">{{ 'car.advice.personalizeButton.label' | translate }}</button>
        </ng-container>
        <knx-final-advice
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="adviceWeb"
          *ngIf="knxWizardService.currentStepIndex === knxWizardService.currentStepRoutes.length - 1"
          [options]="knxFinalAdviceOptions">
        </knx-final-advice>
      </knx-chat-stream>
    </div>
  </knx-wizard-rx>
</div>
