<div class="container knx-car-advice-loader">
  <knx-loader [visible]="purchasedInsurancesLoading$ | async">
    Laden...
  </knx-loader>
</div>

<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container-stepnavigation"
    knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded"
     [hidden]="purchasedInsurancesLoading$ | async">
  <div class="container">
    <knx-step-navigation
      [steps]="formSteps"
      [currentStep]="currentStep"
      [clickable]="true"
      (stepChange)="knxWizardRx.goToPreviousStep($event);">
    </knx-step-navigation>
  </div>
</div>
<div class="container knx-car-advice" [ngClass]="getStepClass()" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded" [hidden]="purchasedInsurancesLoading$ | async">
  <knx-wizard-rx #knxWizardRx [stepOptions]="formSteps"
                  (onStepChange)="currentStep = $event">
    
    <div class="knx-wizard__sidebar" [class.knx-wizard__sidebar--sticky]="currentStep !== 1" #knxWizardSidebar>
      <knx-chat-stream #knxChatStream
        [options]="chatConfig$ | async"
        [messages]="chatMessages$ | async"
        [formGroup]="carExtrasForm.formGroup">

        <knx-car-extras
          [form]="carExtrasForm"
          [advice]="advice$ | async"
          [show]="currentStep === 1">
        </knx-car-extras>

        <ng-container *ngIf="currentStep === 1" [formGroup]="carExtrasForm.formGroup">
          <knx-side-panel #knxSidePanel title="Wijzig" [fullwidth]="true" (onChangeVisibile)="toggleSideNavState($event)">
            <div class="container-fluid">
              <div class="knx-side-panel-content">
                <knx-car-extras
                  [form]="carExtrasForm"
                  [advice]="advice$ | async"
                  [show]="currentStep === 1">
                </knx-car-extras>

                <button class="knx-button knx-button--secondary knx-button--fullwidth knx-button--arrow" (click)="knxSidePanel.close()">Verder</button>
              </div>
            </div>
          </knx-side-panel>

          <button class="knx-button--mobile-edit hidden-md hidden-lg hidden-md-up knx-button knx-button--pill" (click)="knxSidePanel.open()">Extra opties selecteren</button>
        </ng-container>
      </knx-chat-stream>
    </div>
  </knx-wizard-rx>

  <div class="row knx-car-advice__footer">
    <div class="col-sm-8" *ngIf="showStepBlock">
      <knx-step-blocks title="Hoe gaat het nu verder?">
        <knx-step-block>
          <h3>1. Vul in</h3>
          <p>Vul alle gegevens in die nodig zijn voor je nieuwe verzekering.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>2. Controleer</h3>
          <p>Dubbelcheck of alles goed ingevuld is.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>3. Bevestig</h3>
          <p>Gefeliciteerd! Je hebt zojuist flink wat geld bespaard op je autoverzekering!</p>
        </knx-step-block>
      </knx-step-blocks>
    </div>
  </div>
</div>
