<form [formGroup]="form.formGroup" class="knx-fancy-form" role="form">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">

      <h2>Check</h2>

      <div class="row">
        <div class="col-sm-6">
          <div class="knx-form-group--info">
            <cx-form-group
              [options]="form.formConfig.reportingCode"
              [formControlName]="form.formConfig.reportingCode.formControlName">
            </cx-form-group>
            <knx-info *ngIf="form.infoMessages" size="md" isFloating="true" class="knx-info">
              <div class="knx-info__content">
                <div class="knx-message knx-message--chat knx-message--arrow-top">
                  <div class="knx-message__content" [innerHTML]="form.infoMessages?.reportingCode">
                  </div>
                </div>
              </div>
            </knx-info>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <cx-form-group
            [options]="form.formConfig.accessoryValue"
            [formControlName]="form.formConfig.accessoryValue.formControlName">
          </cx-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <cx-form-group
            [options]="form.formConfig.securityClass"
            [formControlName]="form.formConfig.securityClass.formControlName">
          </cx-form-group>

          <div *ngIf="form.formGroup.get('securityClass').value" class="knx-message knx-message--hint knx-message--arrow-top">
            <div class="knx-message__header">{{ selectedSecurityClass.title }}: {{ selectedSecurityClass.short }}</div>
            <div class="knx-message__content">
                <p>{{ selectedSecurityClass.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
