<div class="car-summary">
  <div class="row">
    <div class="col-sm-12">
      <h2>Controleer je gegevens</h2>

      <knx-data-summary [sections]="sections"></knx-data-summary>

      <h3>Betaling</h3>

      <div class="row" *ngIf="advice?.insurance">
        <div class="col-md-5">Je betaalt per maand</div>
        <div class="col-md-5">{{ advice.insurance?.monthly_premium | currency:'EUR':true }}
          <span class="premium-note">Incl. 10% provisie aan Knab</span></div>
      </div>

      <div class="row" *ngIf="advice?.insurance">
        <div class="col-md-5">Eenmalige afsluitkosten</div>
        <div class="col-md-5">{{ advice.insurance?.one_off_premium | currency:'EUR':true }}</div>
      </div>

      <div class="row" *ngIf="advice?.iban">
        <div class="col-md-5">Rekeningnummer</div>
        <div class="col-md-5">{{ advice.iban }}</div>
      </div>

      <cx-checkbox class="pull-right"
        [(ngModel)]="confirm"
        [options]="{ label: 'Ik ga akkoord met de polisvoorwaarden' }">
      </cx-checkbox>
    </div>
  </div>
</div>
