<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container-stepnavigation">
  <div class="container">
    <ol *ngIf="formSteps" class="knx-step-navigation">
      <li *ngFor="let step of formSteps; let i = index;" class="knx-step-navigation__step" [ngClass]="{ 'knx-step-navigation__step--current': i === currentStep }">{{ step.label }}</li>
    </ol>
  </div>
</div>

<div class="container knx-car-buy">
  <knx-wizard (stepChange)="onStepChange($event)">
    <div class="knx-wizard__steps">
      <knx-step [options]="formSteps[0]">
        <knx-car-contact-form
          [form]="contactDetailForm"
          [profile]="profile | async">
        </knx-car-contact-form>
      </knx-step>

      <knx-step [options]="formSteps[1]">
        <knx-car-reporting-code-form
          [form]="reportingCodeForm"
          [profile]="profile | async">
        </knx-car-reporting-code-form>
      </knx-step>

      <knx-step [options]="formSteps[2]">
        <knx-car-check
          [form]="checkForm">
        </knx-car-check>
      </knx-step>

      <knx-step [options]="formSteps[3]">
        <knx-car-payment-form
          [form]="paymentForm">
        </knx-car-payment-form>
      </knx-step>

      <knx-step [options]="formSteps[4]">
        <knx-car-summary-form
          [confirm]="acceptFinalTerms"
          [profile]="profile | async"
          [formData]="formData">
        </knx-car-summary-form>
      </knx-step>
    </div>
    <div class="knx-wizard__sidebar knx-wizard__sidebar--sticky" #knxWizardSidebar>
      <knx-chat-stream
        [options]="chatConfig"
        [messages]="chatMessages">
      </knx-chat-stream>
    </div>
  </knx-wizard>
</div>

<div class="container" *ngIf="currentStep === 4">
  <div class="row">
    <div class="col-sm-8">
      <knx-step-blocks title="Hoe gaat het nu verder?">
        <knx-step-block>
          <h3>1. Bevestiging</h3>
          <p>Je ontvangt van ons per e-mail een bevestiging</p>
        </knx-step-block>

        <knx-step-block>
          <h3>2. In behandeling</h3>
          <p>Binnen 3 werkdagen hoor je of je in aanmerking komt.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>3. Overgestapt</h3>
          <p>Gefeliciteerd! Je hebt een hoop geld bespaard op je autoverzekering</p>
        </knx-step-block>
      </knx-step-blocks>
    </div>
  </div>
</div>
