<form [formGroup]="form.formGroup" class="knx-fancy-form" role="form">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">

      <h2>Check</h2>

      <div class="row">
        <div class="col-sm-12">
          <cx-form-group
            [options]="form.formConfig.crime"
            [formControlName]="form.formConfig.crime.formControlName">
          </cx-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <cx-form-group
            [options]="form.formConfig.refuse"
            [formControlName]="form.formConfig.refuse.formControlName">
          </cx-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <cx-form-group
            [options]="form.formConfig.debt"
            [formControlName]="form.formConfig.debt.formControlName">
          </cx-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="knx-form-group--info">
            <cx-form-group
              [options]="form.formConfig.driver"
              [formControlName]="form.formConfig.driver.formControlName">
            </cx-form-group>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="knx-form-group--info">
            <cx-form-group
              [options]="form.formConfig.cause"
              [formControlName]="form.formConfig.cause.formControlName">
            </cx-form-group>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="knx-form-group--info">
            <cx-form-group
              [options]="form.formConfig.register"
              [formControlName]="form.formConfig.register.formControlName">
            </cx-form-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
