<form [formGroup]="form.formGroup" class="knx-fancy-form house-hold-house-detail">

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h3>Huis details</h3>

        <p>Your living insurance, exaplin why needed, and how it can help you (what are you insured for)</p>

        <div>
          <span><b>Walls Title</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>TOOLTIP</knx-tooltip>
          </span>


          <p>Question about the outside of your house (walls)</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="wallsTitle"
          [formControlName]="form.formConfig.wallsTitle.formControlName"
          [options]="form.formConfig.wallsTitle">
        </knx-form-group>

      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>

          <span><b>Roof Material</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>TOOLTIP for roofMaterial</knx-tooltip>
          </span>


          <p>What kind of material is your roof made of?</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="roofMaterial"
          [formControlName]="form.formConfig.roofMaterial.formControlName"
          [options]="form.formConfig.roofMaterial">
        </knx-form-group>

      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <div>
            <span><b>Second floor</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>TOOLTIP for second floor</knx-tooltip>
            </span>
          </div>
          <p>What kind of material is your second floor?</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="secondFloor"
          [formControlName]="form.formConfig.secondFloor.formControlName"
          [options]="form.formConfig.secondFloor">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <div>
            <span><b>Security</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>TOOLTIP </knx-tooltip>
            </span>
          </div>
          <p>Do you have security in place?</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="security"
          [formControlName]="form.formConfig.security.formControlName"
          [options]="form.formConfig.security">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onNext)="goToNextStep()"
                     (onBack)="goToPreviousStep()">
</knx-wizard-controls>
