<form [formGroup]="form.formGroup" class="knx-fancy-form house-hold-house-detail">

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h3>{{ 'household.houseDetails.title' | translate }}</h3>

        <p>{{ 'household.houseDetails.comment' | translate }}</p>

        <div>
          <span><b>{{ 'household.houseDetails.outsideWall.title' | translate }}</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>TOOLTIP</knx-tooltip>
          </span>


          <p>{{ 'household.houseDetails.outsideWall.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="wallsTitle"
          [formControlName]="form.formConfig.wallsTitle.formControlName"
          [options]="form.formConfig.wallsTitle">
        </knx-form-group>

      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>

          <span><b>{{ 'household.houseDetails.roofMaterial.title' | translate }}</b></span>
          <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
            <knx-tooltip>TOOLTIP for roofMaterial</knx-tooltip>
          </span>


          <p>{{ 'household.houseDetails.roofMaterial.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="roofMaterial"
          [formControlName]="form.formConfig.roofMaterial.formControlName"
          [options]="form.formConfig.roofMaterial">
        </knx-form-group>

      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <div>
            <span><b>{{ 'household.houseDetails.secondFloor.title' | translate }}</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>TOOLTIP for second floor</knx-tooltip>
            </span>
          </div>
          <p>{{ 'household.houseDetails.secondFloor.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="secondFloor"
          [formControlName]="form.formConfig.secondFloor.formControlName"
          [options]="form.formConfig.secondFloor">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <div>
          <div>
            <span><b>{{ 'household.houseDetails.security.title' | translate }}</b></span>
            <span class="knx-info-icon knx-icon-info-circle" style="cursor: pointer;">
              <knx-tooltip>TOOLTIP </knx-tooltip>
            </span>
          </div>
          <p>{{ 'household.houseDetails.security.description' | translate }}</p>
        </div>

        <knx-form-group
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="security"
          [formControlName]="form.formConfig.security.formControlName"
          [options]="form.formConfig.security">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onNext)="goToNextStep()"
                     (onBack)="goToPreviousStep()">
</knx-wizard-controls>
