@import '~styles/base.scss';

.knx-car-contact-form__reset {
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  top: 100px;
  left: -10px;
  font-size: $base-font-size;

  &:before {
    content: map-get($knx-icons, rotate-left);
    font-family: $font-family-icon;
    margin-right: 8px;
  }
}

#pippo123 {
  display: none;
}

@media (min-width: 768px) {
  .knx-car-contact-form__reset {
    top: 100px;
  }
}

@media (max-width: 576px) {
  .knx-car-contact-form__reset {
    top: 140px;
  }

  #pippo123 {
    display: block;
  }
}

