<h1 class="knx-saved__title clearfix">
    {{ title }}
    <div class="knx-saved__title__total">
      <span>totaal:</span>
      {{ getTotalPrice() | currency:'EUR':true }}
    </div>
  </h1>

  <div class="knx-saved">
    <div class="knx-card">
      <p>{{ 'car.purchased.insurance.list.title' | translate }}</p>
      <ul class="knx-list--unstyled">
        <li *ngFor="let insurance of insurances?.car?.insurance">
          <div class="row knx-saved__push-top" *ngIf="!insurance.manually_added">
            <div class="col-12">
              <div class="row">
                <div class="col-4 col-md-2">
                  <knx-ribbon>
                    <div class="knx-present">
                      <div class="knx-saved__icon pull-left"
                           [ngClass]="{
                              'knx-icon-automobile': !insurance.logo,
                              'knx-saved__icon--image': insurance.logo,
                              'knx-saved__pending': insurance.request_status === 'pending'
                           }"
                           [ngStyle]="{'background-image': 'url('+ insurance.logo +')'}">
                      </div>
                    </div>
                    <div class="knx-ribbon-text">
                      knab
                    </div>
                  </knx-ribbon>
                </div>
                <div class="col-8 col-md-10 knx-saved-list__item-padd">
                  <p class="knx-saved__par">
                    <small *ngIf="getInsuranceStatus(insurance) === insuranceStatus.PENDING">{{ 'car.purchase.insurances.pending.title' | translate }} {{insurance.insurance_brand}}</small>
                    <small *ngIf="getInsuranceStatus(insurance) === insuranceStatus.APPROVED">{{ 'car.purchase.insurances.bought.title' | translate }}</small>
                    <br>
                    {{insurance.license}} &bull; {{insurance.make}} {{insurance.model}}

                    <br>

                    <strong>{{insurance.insurance_brand || insurance.insurance_name}} &bull;
                      {{insurance.price | currency:'EUR':true }} p/m</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
