<div class="container knx-house-hold-premiums" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
  <div class="row">
    <div class="col-6" *ngIf="knxWizardService.currentStepIndex === houseHoldPremiumsSteps.list">
      <button (click)="goBack()"
              class="knx-button knx-button--link knx-button--back">{{ 'household.premiums.button.label.goBack' | translate }}
      </button>
    </div>
    <div class="col-6" *ngIf="knxWizardService.currentStepIndex === houseHoldPremiumsSteps.detail">
      <button (click)="goToList()"
              class="knx-button knx-button--link knx-button--back">{{ 'household.premiums.button.label.goToList' | translate }}
      </button>
    </div>
  </div>

  <knx-wizard-rx>
    <div class="knx-wizard__sidebar knx-wizard__sidebar--sticky" #knxWizardSidebar>
      <knx-chat-stream #knxChatStream
                       [options]="chatConfig$ | async"
                       [messages]="chatMessages$ | async">

          <knx-house-hold-premiums-filter
            id="houseHoldFilterNoMobile"
            [glassDisabled]="(advice$ | async)?.OwnedBuilding === 'J'"
            [form]="houseHoldFilterForm"
            [advice]="advice$ | async"
            [show]="knxWizardService.currentStepIndex === houseHoldPremiumsSteps.list">
          </knx-house-hold-premiums-filter>

          <!-- TODO: temp. disable the component waiting for risk api to get more detail -->
          <knx-house-hold-premiums-detail-nav
            [pills]="pills"
            [show]="knxWizardService.currentStepIndex === houseHoldPremiumsSteps.detail && false"
            (onBuy)="goToBuy()">
          </knx-house-hold-premiums-detail-nav>

        <ng-container *ngIf="knxWizardService.currentStepIndex === houseHoldPremiumsSteps.list" [formGroup]="houseHoldFilterForm.formGroup">
          <knx-side-panel #knxSidePanel title="Wijzig" [fullwidth]="true" (onChangeVisibile)="toggleSideNavState($event)">
            <div class="container-fluid">
              <div class="knx-side-panel-content">
                <knx-house-hold-premiums-filter
                  [form]="houseHoldFilterForm"
                  [advice]="advice$ | async"
                  [show]="knxWizardService.currentStepIndex === houseHoldPremiumsSteps.list">
                </knx-house-hold-premiums-filter>

                <button class="knx-button knx-button--secondary knx-button--fullwidth knx-button--arrow"
                        (click)="knxSidePanel.close()">{{ 'car.advice.moreButton.label' | translate }}</button>
              </div>
            </div>
          </knx-side-panel>

          <button class="knx-icon-filter knx-side-panel__action hidden-md hidden-lg hidden-md-up knx-button knx-button--secondary knx-button--3d"
                  (click)="knxSidePanel.open()">{{ 'car.advice.personalizeButton.label' | translate }}</button>

        </ng-container>

      </knx-chat-stream>

    </div>
  </knx-wizard-rx>

</div>
