<div class="container knx-house-hold-premiums" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
  <div class="row">
    <div class="col-6" *ngIf="knxWizardService.currentStepIndex === 0">
      <button (click)="goBack()"
              class="knx-button knx-button--link knx-button--back">wijzig mijn gegevens</button>
    </div>
    <div class="col-6" *ngIf="knxWizardService.currentStepIndex === 1">
      <button (click)="goListBack()"
              class="knx-button knx-button--link knx-button--back">select your insurance</button>
    </div>
  </div>

  <knx-wizard-rx>
    <div class="knx-wizard__sidebar knx-wizard__sidebar--sticky" #knxWizardSidebar>
      <knx-chat-stream #knxChatStream
                       [options]="chatConfig$ | async"
                       [messages]="chatMessages$ | async">
      </knx-chat-stream>

      <knx-house-hold-premiums-filter
        [form]="houseHoldFilterForm"
        [advice]="houseHoldData$ | async"
        [show]="knxWizardService.currentStepIndex === 0">
      </knx-house-hold-premiums-filter>

      <knx-house-hold-premiums-detail-nav
        [pills]="pills"
        [show]="knxWizardService.currentStepIndex === 1">

      </knx-house-hold-premiums-detail-nav>

    </div>
  </knx-wizard-rx>

  <div class="row" *ngIf="knxWizardService.currentStepIndex === 1">
    <div class="col-md-4">
      <button (click)="goListBack()"
              class="knx-button knx-button--link knx-button--back">Terug</button>
    </div>
    <div class="col-md-4 offset8">
      <button class="knx-button knx-button--fullwidth knx-button--primary">Vraag direct aan</button>
    </div>
  </div>

  <div class="row knx-house-hold-premiums__footer" *ngIf="knxWizardService.currentStepIndex === 1">
    <div class="col-sm-8" >
      <knx-step-blocks title="Hoe gaat het nu verder?">
        <knx-step-block>
          <h3>1. Vul in</h3>
          <p>Vul alle gegevens in die nodig zijn voor je nieuwe verzekering.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>2. Controleer</h3>
          <p>Dubbelcheck of alles goed ingevuld is.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>3. Bevestig</h3>
          <p>Gefeliciteerd! Je hebt zojuist flink wat geld bespaard op je autoverzekering!</p>
        </knx-step-block>
      </knx-step-blocks>
    </div>
  </div>
</div>
