<div class="knx-price-item" [ngClass]="{'knx-price-item--highlight': highlight, 'knx-price-item--selected': selected }">
  <div class="knx-price-item__header" >
    {{ header }}
    <div *ngIf="highlight" class="knx-price-item__badge">{{ badge }}</div>
  </div>
  <ul class="knx-list--checks" [ngClass]="{'knx-list--green': !selected, 'knx-list--white': selected}">
    <li *ngFor="let item of features">{{ item }}</li>
  </ul>
  <div *ngIf="price" class="knx-price-item__price">
    vanaf <span>{{ price | currency:'EUR':true:'1.2-2' }}</span>
  </div>
  <button class="knx-button knx-button--ghost">{{ selected ? ' Gekozen' : 'Kies deze' }}</button>
</div>