@import '~styles/base.scss';

.knx-price-item {
  height: 100%;

  .knx-list--checks {
    padding: 20px 20px 0;
  }
}

.knx-pricate-item__description {
  text-align: center;
}

.knx-price-item--highlight {
  margin-top: 0;
  margin-bottom: 10px;
}

.knx-price-item.knx-card {
  padding: 20px 10px 8px;
}

div.knx-button {
  // remove focus for button class because outer div has a tabindex
  // to support focus/outline on the whole price-item
  outline: none;
}
