@import "variables";

.knx-price-table-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.knx-price-table-wrapper > *:not(:last-child) {
  margin-right: 15px;
}

.knx-pricing-table {
  border-radius: 0;
  outline: 1px solid $knab-primary-gray;
  color: $knab-primary-blue;
  font-size: $font-size-base - 2;
  padding-bottom: 10px;

  &:hover {
    outline-width: 4px;
    cursor: pointer;
  }
}

.knx-pricing-table--selected {
  outline: 2px solid $knab-primary-green;
  background: $knab-primary-green;
  color: #fff;
}

.knx-pricing-table-header {
  margin: 0 0 15px;
  padding: 10px;
  font-size: $font-size-base + 2;
  font-weight: bold;
  text-align: center;
}

.knx-pricing-table--highlight {
  position: relative;
  outline-color: $knab-primary-green;
  outline-width: 2px;

  .knx-pricing-table-header {
    color: $knab-white;
    background: $knab-primary-green;
  }

  .knx-pricing-table-badge {
    position: absolute;
    top: -27px;
    left: 5px;
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    color: $knab-primary-dark-green;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    line-height: 9px;
    background: $knab-primary-yellow;
    border-radius: 50%;
  }
}

/* selected state */
.knx-pricing-table--selected.knx-pricing-table-header {
  background: #fff;
  color: $knab-primary-green;
}

.knx-pricing-table--selected .knx-pricing-table-features,
.knx-pricing-table--selected .knx-pricing-table-features .knx-icon-check {
  color: #fff;
}

.knx-pricing-table-features {
  padding: 0 16px;
  list-style-type: none;

  & > * {
    margin-bottom: 15px;

    .knx-pricing-table-text {
      padding-left: 22px;
    }

    .knx-icon-check {
      float: left;
      margin-top: 0;
      margin-right: 6px;
      line-height: 1.3;
      font-size: $font-size-base;
      color: $knab-primary-green;
    }
  }
}

.knx-pricing-table-price {
  padding: 0 30px;
  text-align: right;
  margin-bottom: 15px;
}

.knx-pricing-table-amount {
  font-size: $font-size-base + 5;
  font-weight: bold;
  margin-left: 10px;
}
