@import '~styles/base.scss';

.knx-price-item {
  height: 100%;

  .knx-list--checks {
    padding: 20px 20px 0;
  }

  .knx-list--white {
    li {
      color: #fff;
    }
  }
}

.knx-price-item--highlight {
  margin-top: 45px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .knx-price-item--highlight {
    margin-top: 5px;
  }
}

.knx-price-item.knx-card {
  padding: 20px 10px 8px;
}

div.knx-button {
  // remove focus for button class because outer div has a tabindex
  // to support focus/outline on the whole price-item
  outline: none;
}
