<div [hidden]="!highlight" class="knx-recommended hidden-xs">{{ badge }}</div>

<div class="knx-price-item knx-card"
     [ngClass]="{'knx-price-item--highlight': highlight, 'knx-price-item--selected': selected }"
     role="button"
     tabindex="0">
  <div class="knx-price-item__header hidden-xs">
    {{ header }}
  </div>

  <div class="knx-price-item__description" *ngIf="description">
    {{ description }}
  </div>

  <ul class="knx-list--checks knx-list--green">
    <li *ngFor="let item of features">{{ item }}</li>
  </ul>

  <div *ngIf="price" class="knx-price-item__price">
    vanaf <span>{{ price | currency:'EUR':true:'1.2-2' }}</span>
  </div>

  <div class="knx-button"
       [attr.data-btn]="selected ? dataActive : dataInactive"
       [ngClass]="{ 'knx-button--secondary knx-button--ghost': !selected, 'knx-button--primary knx-button--3d': selected }">
    {{ selected ? selectedLabel : unselectedLabel }}
  </div>
</div>
