@import '~styles/base.scss';

.knx-price-item {
  .knx-list--checks {
    padding: 20px;
  }

  .knx-list--white {
    li {
      color: #fff;
    }
  }
}

div.knx-button {
  // remove focus for button class because outer div has a tabindex
  // to support focus/outline on the whole price-item
  outline: none;
}
