.knx-login__welcome {
  margin-top: 40px;
  margin-bottom: 10px;
}

h1.knx-login__subline,
h2.knx-login__subline,
.knx-login__subline {
  //color: $knab-secondary-blue;
  color: #3e4a59;
  margin-top: 5px;
  margin-bottom: 40px;
}

.knx-login__logo {
  max-width: 140px;
  display: block;
}

.knx-login__reset {
  margin-top: 20px;

  a {
    color: $knab-primary-red;
    font-size: $font-size-base - 2;
  }
}

.login-password-wrapper {
  position: relative;
}

.btn-show-password {
  position: absolute;
  top: 34px;
  right: 10px;
  color: $knab-dark-gray;
  font-size: 20px;
  border: 0;
  background: none;

  &:focus,
  &:hover,
  &:active,
  &:visited {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
  }

  &:active {
    color: $knab-primary-gray;
  }
}
