.knx-login-welcome {
  padding: 40px 0;
  margin-bottom: 30px;
}

.login-password-wrapper {
  position: relative;
}

.btn-show-password {
  position: absolute;
  top: 34px;
  right: 10px;
  color: $knab-dark-gray;
  font-size: 20px;
  border: 0;
  background: none;

  &:focus,
  &:hover,
  &:active,
  &:visited {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
  }

  &:active {
    color: $knab-primary-gray;
  }
}
