@import '~styles/base.scss';

* {
  font-family: $font-family-base;
}

.knx-center-container {
  height: 100%;
  text-align: center;
  font: 0/0 a;

  &:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .knx-center-element {
    display: inline-block;
    vertical-align: middle;
  }

  .knx-center-element__truncate {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.knx-card {
  margin: 0;
}

.knx-logo {
  border-right: 1px solid #ced8dd;

  img {
    max-width: 60px;
  }
}

.col-md-7 {
  z-index: 2;
}

.knx-card__extension {
  height: 100%;
  padding: 0;
  background: #47a2a6;
  margin-left: -33px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  width: 100%;
  z-index: 1;

  .knx-center-element {
    h3 {
      color: $knab-white;
    }

    p {
      color: $knab-white;
    }
  }
}

.knx-divider {
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .knx-card__extension {
    height: 98px;
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .knx-logo {
    img {
      max-width: 50px;
    }
  }
}
