<div class="knx-car-summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="knx-car-summary__header">
        Controleer je gegevens
        <span *ngIf="insurance$ | async">
          <img class="knx-car-summary__logo" src="{{ (insurance$ | async)._embedded.insurance.insurance_logo }}">
        </span>
      </h2>
      <div class="knx-insurance-review__panels">

        <knx-ir-content [showStep]="false" title="Je autoverzekering" *ngIf="isValidInsurance((insurance$ | async))">
          <knx-ir-row showValue="true" *ngIf="insurance$ | async">
            <knx-ir-label>Verzekeringsmaatschappij</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.insurance.insurance_brand }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Ingangsdatum</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.startDate | date:'shortDate' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Gekozen dekking</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.coverage | jamesTag: 'car_flow_coverage' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Maximaal eigen risico</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async).own_risk | currency:'EUR':true }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true" newSection="true">
            <knx-ir-label>Rechtsbijstand</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.legal_aid | jamesTag: 'car_flow_legal_aid' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>No-claimbeschermer</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.no_claim_protection | boolean }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Pechhulp</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.road_assistance | jamesTag: 'car_flow_road_assistance' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Inzittendenverzekering</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.cover_occupants | boolean }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-ir-content [showStep]="false" title="Details van je auto" *ngIf="insurance$ | async">
          <knx-ir-row showValue="true">
            <knx-ir-label>Kenteken</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.license }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Merk</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.make }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Model</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.model }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Type</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.edition }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Bouwjaar</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.year }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true" newSection="true">
            <knx-ir-label>Cataloguswaarde</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.price_consumer_incl_vat | currency:'EUR':true}}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Waarde accessoires</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.accessoryValue | currency:'EUR':true}}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Dagwaarde</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.current_value | currency:'EUR':true}}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Gewicht</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)._embedded.car.weight_empty_vehicle + ' kg' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>KM per jaar</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.kilometers_per_year | jamesTag: 'car_flow_km_per_year' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Beveiliging</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async)?.securityClass | jamesTag: 'buyflow_carsecurity' }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-ir-content [showStep]="false" title="Persoonlijke gegevens" *ngIf="insurance$ | async">
          <knx-ir-row showValue="true">
            <knx-ir-label>Geslacht</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).gender === 'M' ? 'Man' : 'Vrouw' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Voorletters</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).initials }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Voornaam</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).firstName }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Tussenvoegsel</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).middleName }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Achternaam</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).lastName }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Geboortedatum</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).date_of_birth | date:'shortDate' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true" newSection="true">
            <knx-ir-label>Street</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).address?.street || (advice$ | async).location_info.street  }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Huisnummer</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).address?.number  || (advice$ | async).location_info.number }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Postcode</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).address?.postcode || (advice$ | async).location_info.postcode }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>City</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).address?.city || (advice$ | async).location_info.city }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Mobiel nummer</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).mobileNumber }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Vast nummer</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).phoneNumber || '-' }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>E-mailadres</knx-ir-label>
            <knx-ir-value>{{ (profile$ | async).emailaddress || (advice$ | async).emailaddress || (advice$ | async).email }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-insurance-review-documents *ngIf="(insurance$ | async)?.documents"
          title="Documenten" [documents]="(insurance$ | async)?.documents"
          [showStep]="false"></knx-insurance-review-documents>

        <knx-ir-content [showStep]="false" title="Betaling" *ngIf="(insurance$ | async)">
          <knx-ir-row showValue="true">
            <knx-ir-label>Je betaalt per maand</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)?.monthly_premium | currency:'EUR':true }}<br><span class="premium-note">Incl. 10% provisie aan Knab</span></knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Eenmalige afsluitkosten</knx-ir-label>
            <knx-ir-value>{{ (insurance$ | async)?.one_off_premium | currency:'EUR':true }}</knx-ir-value>
          </knx-ir-row>

          <knx-ir-row showValue="true">
            <knx-ir-label>Rekeningnummer</knx-ir-label>
            <knx-ir-value>{{ (advice$ | async).iban | uppercase }}</knx-ir-value>
          </knx-ir-row>
        </knx-ir-content>

        <knx-insurance-review-registration #reviewRegistration
                                           (onLogin)="login()"
                                           *ngIf="isAnonymous$ | async" title="Maak jouw Knab Account aan"
                                           [showStep]="false">
        </knx-insurance-review-registration>
      </div>

      <div class="knx-car-summary__terms">
        <knx-checkbox class="knx-car-summary__checkbox"
          [(ngModel)]="acceptInsuranceTerms"
          [options]="{ label: 'Ik ga akkoord met de voorwaarden die hierboven getoond worden' }">
        </knx-checkbox>

        <ng-container *ngIf="isAnonymous$ | async">
          <knx-checkbox class="knx-car-summary__checkbox" [(ngModel)]="acceptKnabTerms">
            Ik ga akkoord met de
            <a class="knx-registration__document-link" href="{{ content.externalLinks.termsAndConditions }}" target="_blank" rel="noopener">gebruiksvoorwaarden</a>
            en het
            <a class="knx-registration__document-link" href="{{ content.externalLinks.privacyStatement }}" target="_blank" rel="noopener">privacybeleid</a>
            van Knab.
          </knx-checkbox>
        </ng-container>
      </div>
  </div>
</div>

<knx-wizard-controls
  [currentStepOptions]="currentStepOptions"
  [error]="error$ | async"
  [isPendingNext]="submiting"
  (onNext)="goToNextStep()"
  (onBack)="goToPreviousStep()">
</knx-wizard-controls>
