.ki-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.ki-avatar-image {
  max-width: 90px;
  margin-right: auto;
}

.ki-avatar-image img {
  width: 100%;
  border: 3px solid #fff;
}

.ki-avatar-detail {
  font-family: $knab-font-family-secondary;
  margin-right: auto;
  width: 50%;

  .ki-avatar-name {
    color: $knab-primary-blue;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 3px;
  }
  .ki-avatar-title {
    color: $knab-primary-blue;
    font-size: 14px;
    font-weight: 300;
  }
}
