<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container--status"
knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
  <div class="container">
    <div class="col-md-12">
      <b>Welkom<span *ngIf="firstName || email"> {{firstName || email}}</span>!</b>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
      <div class="col">
        <div class="knx-saved__action">
          <button (click)="startNewAdvice()" class="knx-button knx-button--primary knx-button--3d">
            Start nieuw advies
          </button>
        </div>
        <h2 *ngIf="!(savedInsurances$ | async).length">jouw verzekeringen</h2>
      </div>

      <knx-saved *ngIf="(savedInsurances$ | async).length" (onNewAdvice)="startNewAdvice()" title="Uw autoverzekering" [insurances]="savedInsurances$ | async"></knx-saved>
      <div class="container">
        <knx-empty-stage *ngIf="!(savedInsurances$ | async).length"></knx-empty-stage>
        <knx-app-promo-block></knx-app-promo-block>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream #knxChatStream
            [options]="chatConfig$ | async"
            [messages]="chatMessages$ | async">
        </knx-chat-stream>

        <div class="knx-car-advice-motivation">
          <ul>
            <li>
              <b>Objectief</b><br/>
              We vergelijken meer dan 40
            </li>

            <li>
              <b>Bespaar</b><br/>
              Tot 15% korting op elke verzekering
            </li>

            <li>
              <b>Overstaphulp</b><br>
              Wij regelen overstap
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="knx-saved__footer hidden-xs">
  <div class="container">
    <img class="knx-saved__footer__cloud knx-saved__footer__cloud-1" src="/assets/images/cloud_01.svg" alt="cloud">
    <img class="knx-saved__footer__cloud knx-saved__footer__cloud-2" src="/assets/images/cloud_02.svg" alt="cloud">
    <img class="knx-saved__footer__cloud knx-saved__footer__cloud-3" src="/assets/images/cloud_03.svg" alt="cloud">

    <img class="knx-saved__footer__car" src="/assets/images/car_image.svg" alt="car">
    <img class="knx-saved__footer__house" src="/assets/images/house_image.svg" alt="house">
    <img class="knx-saved__footer__woman" src="/assets/images/woman_image.svg" alt="woman">
  </div>
</div>
