<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container--status"
knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
    <div class="container">
        <div class="col-md-12">
            <b>Welkom<span *ngIf="firstName || email"> {{firstName || email}}</span>!</b>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-sm-4 push-sm-8">
        <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream #knxChatStream
            [options]="chatConfig$ | async"
            [messages]="chatMessages$ | async">
        </knx-chat-stream>
        </div>
    </div>
    <div class="col-sm-8 pull-sm-4" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
        <knx-saved title="Uw autoverzekering" [insurances]="savedInsurances$ | async"></knx-saved>
    </div>
    </div>
</div>