<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container--status"
knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <b>{{ getTimeOfDay() | translate }}<span *ngIf="firstName || email"> {{firstName || email}}</span>!</b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded">
      <div>
        <div class="knx-saved__action">
          <button (click)="startNewAdvice()" class="knx-button knx-button--primary knx-button--3d">
            {{ 'car.purchased.button.start.new.advice' | translate }}
          </button>
        </div>
        <h2 *ngIf="!(hasPurchasedInsurances() | async)">{{ 'car.purchased.title' | translate }}</h2>
      </div>
      <knx-saved *ngIf="hasPurchasedInsurances() | async" (onNewAdvice)="startNewAdvice()" title="Jouw autoverzekering" [insurances]="savedInsurances$ | async"></knx-saved>
      <div>
        <knx-empty-stage *ngIf="!(hasPurchasedInsurances() | async)"></knx-empty-stage>
        <knx-app-promo-block></knx-app-promo-block>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream #knxChatStream
            [options]="chatConfig$ | async"
            [messages]="chatMessages$ | async">
        </knx-chat-stream>

        <div class="knx-car-advice-motivation">
          <ul>
            <li>
              <b>{{ 'car.purchased_side_panel_point1_title' | translate }}</b><br/>
              {{ 'car.purchased_side_panel_point1_label' | translate }}
            </li>

            <li>
              <b>{{ 'car.purchased_side_panel_point2_title' | translate }}</b><br/>
              {{ 'car.purchased_side_panel_point2_label' | translate }}
            </li>

            <li>
              <b>{{ 'car.purchased_side_panel_point3_title' | translate }}</b><br>
              {{ 'car.purchased_side_panel_point3_label' | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="knx-saved__footer hidden-xs">
  <div class="container">
    <img class="knx-saved__footer__cloud knx-saved__footer__cloud-1" src="/assets/images/cloud_01.svg" alt="cloud">
    <img class="knx-saved__footer__cloud knx-saved__footer__cloud-2" src="/assets/images/cloud_02.svg" alt="cloud">
    <img class="knx-saved__footer__cloud knx-saved__footer__cloud-3" src="/assets/images/cloud_03.svg" alt="cloud">

    <img class="knx-saved__footer__car" src="/assets/images/car_image.svg" alt="car">
    <img class="knx-saved__footer__house" src="/assets/images/house_image.svg" alt="house">
    <img class="knx-saved__footer__woman" src="/assets/images/woman_image.svg" alt="woman">
  </div>
</div>
