.knx-insurance-review__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.knx-collapsible-panel__content {
  display: block;
  padding: 15px 20px;
  background: $inputGray;

  .row {
    margin-bottom: 10px;
  }

  .row .col:nth-child(2) {
    color: $knab-dark-gray;
  }
}

.knx-collapsible-panel__content + .knx-collapsible-panel__content {
  margin-top: 8px;
}

.knx-insurance-review__logo {
  max-height: 50px;
  max-width: 150px;
}
