.knx-insurance-review__panels {
  counter-reset: ir-collapse-counter;

  .knx-collapsible-panel {
    counter-increment: ir-collapse-counter;
  }

  // Override inner collapse-panel container because we use components inside of knx-insurance-review
  .knx-collapsible-container__content.knx-collapsible-container__content--step .knx-collapsible-panel__title {
    &:before {
      content: counter(ir-collapse-counter) !important;
    }
  }
}

.knx-insurance-review__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .knx-insurance-review__name {
    display: block;
    width: 100%;
    max-width: 120px;
    margin: 0 auto -33px;
    font-family: $font-family-base;
    color: $knab-primary-blue;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
  }
}

.knx-insurance-review__unsupported-button {
  margin-top: 30px;
}

knx-collapsible-panel {
  counter-reset: collapsible;
}

.knx-collapsible-panel__content {
  display: block;
  padding: 15px 20px;
  background: $inputGray;

  .row {
    margin-bottom: 10px;
  }

  .row .col:nth-child(2) {
    color: $knab-dark-gray;
  }
}

.knx-collapsible-panel__content + .knx-collapsible-panel__content {
  margin-top: 8px;
}

.knx-insurance-review__logo {
  max-height: 50px;
  max-width: 150px;
}

p.knx-collapsible-panel__title {
  color: $knab-primary-blue;
  font-weight: bold;
}
