<div *ngIf="selectedInsurance">
  <h2 class="knx-insurance-review__header">
    Details
    <span>
      <img class="knx-insurance-review__logo" src="{{ selectedInsurance._embedded.insurance.insurance_logo }}">
    </span>
  </h2>
</div>

<p class="knx-insurance-review__supported-info" *ngIf="selectedInsurance?.supported">
  {{'car.advice.steps.review.label' | translate}}

  <knx-ir-tooltip>
    <p><strong>{{'car.advice.steps.review.tooltip.title' | translate}}</strong></p>

    <p>{{'car.advice.steps.review.tooltip.text1' | translate}}</p>

    <p>{{'car.advice.steps.review.tooltip.text2' | translate}}</p>

    <p>{{'car.advice.steps.review.tooltip.text3' | translate}}</p>
  </knx-ir-tooltip>
</p>

<div class="knx-insurance-review__panels">
  <div class="knx-scroll--container">
    <!-- car insurance -->
    <knx-insurance-review-car *ngIf="selectedInsurance"
      [carInsurance]="selectedInsurance"></knx-insurance-review-car>

    <!-- documents -->
    <knx-insurance-review-documents *ngIf="selectedInsurance"
      title="{{'general.documents' | translate}}" [documents]="selectedInsurance?.documents"
      [showStep]="false"></knx-insurance-review-documents>
    <knx-final-advice
      knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="adviceMobile"
      [mobile]="true"
      [options]="knxFinalAdviceOptions">
    </knx-final-advice>
  </div>

  <!-- benefits -->
  <knx-insurance-review-benefits
    [supported]="selectedInsurance?.supported">
  </knx-insurance-review-benefits>
</div>
