.knx-insurance-review-benefits__disclaimer {
  position: relative;
  padding: 20px;
  background: #eeebe5;
  border-radius: 4px;

  ul {
    padding-left: 0;

    li {
      max-width: calc(100% - 200px);
      margin-top: 10px;
      padding-left: 30px;
      text-indent: -15px;
      list-style: none;

      i {
        padding-right: 10px;
        color: $knab-primary-green;
        font-weight: bold;
      }
    }
  }
}

.knx-insurance-review-benefits__thumbs-up-guy {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 141px;
  height: 159px;
  background: url("/assets/images/characters/thumbs-up-guy.png") no-repeat center bottom;
}

@media (max-width: 768px) {
  .knx-insurance-review-benefits__disclaimer {
    ul {
      li {
        max-width: 100%;
      }
    }
  }

  .knx-insurance-review-benefits__thumbs-up-guy {
    position: static;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
