<div class="container knx-car-advice-loader">
  <knx-loader [visible]="savedInsurancesLoading$ | async">
    Laden...
  </knx-loader>
</div>

<div class="container-fluid knx-container--fullwidth knx-container--gray knx-container-stepnavigation"
  knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded"
  [hidden]="savedInsurancesLoading$ | async">
  <div class="container">
    <knx-step-navigation
      [steps]="formSteps"
      [currentStep]="currentStep"
      [clickable]="true"
      (stepChange)="knxWizard.goToPreviousStep($event);">
    </knx-step-navigation>
  </div>
</div>

<div class="container knx-car-advice" [ngClass]="getStepClass()" knxBackdropBlur [enableBlur]="knxChatStream.chatExpanded" [hidden]="savedInsurancesLoading$ | async">
  <knx-wizard #knxWizard (stepChange)="onStepChange($event)" >
    <div class="knx-wizard__steps">
      <knx-step [options]="formSteps[0]">
        <knx-car-detail-form
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="details"
          (coverageSelected)="updateSelectedCoverage($event)"
          (coverageConfirmed)="knxWizard.goToNextStep()"
          (licensePlateChange)="getCarInfo($event)"
          (activeLoanChange)="updateActiveLoan($event)"
          [form]="carDetailForm"
          [addressForm]="addressForm"
          [car]="car$ | async"
          [carLoading]="isCarLoading$ | async"
          [carFailed]="isCarFailed$ | async"
          [advice]="advice$ | async"
          [coverages]="coverages"
          [coverageRecommendation]="coverageRecommendation$ | async"
          [isCoverageLoading]="isCoverageLoading$ | async">
        </knx-car-detail-form>
      </knx-step>

      <knx-step [options]="formSteps[1]">
        <knx-insurance-toplist
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="insurances"
          (insuranceSelected$)="onSelectPremium($event)"
          [totalTitle]="(insurances$ | async)?.length"
          [initialAmount]="4"
          [isLoading]="isInsuranceLoading$ | async"
          [insurances]="insurances$ | async">
        </knx-insurance-toplist>

        <knx-service-guide
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="service-guide"
          [visible]="!(isInsuranceLoading$| async)">
        </knx-service-guide>
      </knx-step>

      <knx-step [options]="formSteps[2]">
        <knx-insurance-review
          knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="summary"
          [selectedInsurance]="selectedInsurance$ | async"></knx-insurance-review>
      </knx-step>
    </div>

    <div class="knx-wizard__sidebar" [class.knx-wizard__sidebar--sticky]="currentStep !== 1" #knxWizardSidebar>
      <knx-chat-stream #knxChatStream
        [options]="chatConfig$ | async"
        [messages]="chatMessages$ | async"
        [formGroup]="carExtrasForm.formGroup">

        <knx-car-extras
          [form]="carExtrasForm"
          [advice]="advice$ | async"
          [show]="currentStep === 1">
        </knx-car-extras>

        <!-- alternative view with sidenav for mobile devices -->
        <ng-container *ngIf="currentStep === 1" [formGroup]="carExtrasForm.formGroup">
          <knx-side-panel #knxSidePanel title="Wijzig" [fullwidth]="true" (onChangeVisibile)="toggleSideNavState($event)">
            <div class="container-fluid">
              <div class="knx-side-panel-content">
                <knx-car-extras
                  [form]="carExtrasForm"
                  [advice]="advice$ | async"
                  [show]="currentStep === 1">
                </knx-car-extras>

                <button class="knx-button knx-button--secondary knx-button--fullwidth knx-button--arrow" (click)="knxSidePanel.close()">Verder</button>
              </div>
            </div>
          </knx-side-panel>

          <button class="knx-icon-filter knx-side-panel__action hidden-md hidden-lg hidden-md-up knx-button knx-button--secondary knx-button--3d" (click)="knxSidePanel.open()">Personaliseer resultaten</button>
        </ng-container>
        <!-- end mobile view -->
      </knx-chat-stream>
    </div>
  </knx-wizard>

  <div class="row knx-car-advice__footer">
    <div class="col-sm-8" *ngIf="showStepBlock">
      <knx-step-blocks title="Hoe gaat het nu verder?">
        <knx-step-block>
          <h3>1. Vul in</h3>
          <p>Vul alle gegevens in die nodig zijn voor je nieuwe verzekering.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>2. Controleer</h3>
          <p>Dubbelcheck of alles goed ingevuld is.</p>
        </knx-step-block>

        <knx-step-block>
          <h3>3. Bevestig</h3>
          <p>Gefeliciteerd! Je hebt zojuist flink wat geld bespaard op je autoverzekering!</p>
        </knx-step-block>
      </knx-step-blocks>
    </div>
  </div>
</div>
