<header class="header">
  <ki-navbar [menuItems]="topMenu"></ki-navbar>
</header>

<div class="cx-base">
  <div class="cx-container-fluid container--fullwidth">
    <ki-breadcrumb></ki-breadcrumb>
  </div>
</div>

<div class="cx-base">
  <div class="cx-container">
    <div class="cx-row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="cx-base">
  <div class="cx-container">
    <div class="cx-row">
      <h3>Angular playground</h3>
      <ki-price-table [items]="prices"></ki-price-table>
    </div>
  </div>
</div>

<ki-features [items]="features"></ki-features>
