<header class="header">
  <knab-navbar></knab-navbar>
</header>
<div class="cx-container-fluid nav-breadcrumb">
  <div class="nav-breadcrumb__content cx-container">
    <a class="nav-breadcrumb-item" href="">Overzicht</a>
  </div>
</div>
<div class="cx-base">
  <div class="cx-container">
    <div class="cx-row">
      <div class="cx-col-md-4">
        <table class="table table-paketten">
          <thead>
            <tr>
              <th class="pakket-title">WA</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td class="pakket-amount">20,30</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="cx-col-md-4">
      </div>
      <div class="cx-col-md-4">
      </div>
    </div>
    <div class="cx-row">
      <div class="cx-col-md-12">
        <ol class="cx-step-navigation cx-font cx-font--light cx-font--medium">
          <li class="cx-step-navigation__step cx-step-navigation__step--current">Je gegevens {{ 1 + 2 }}</li>
          <li class="cx-step-navigation__step">Resultaten</li>
          <li class="cx-step-navigation__step">Afsluiten</li>
        </ol>
      </div>
    </div>
    <div class="cx-row">
      <div class="cx-col-sm-4">
        <knab-price-table-item Header="WA" Price="18,50" [Features]="['Schade door vandalisme','Schade door eigen schuld']">
        </knab-price-table-item>
      </div>
      <div class="cx-col-sm-4">
        <knab-price-table-item Header="WA + Casco" Price="21,59" [Features]="['Brand en storm', 'Ruitschade', 'Schade door vandalisme', 'Schade door eigen schuld']"
          Highlight="true"></knab-price-table-item>
      </div>
      <div class="cx-col-sm-4">
        <knab-price-table-item Header="WA limited" Price="30,19" [Features]="['Schade aan anderen', 'Diefstal', 'Inbraak', 'Brand en storm', 'Ruitschade', 'Schade door vandalisme', 'Schade door eigen schuld']">
        </knab-price-table-item>
      </div>
    </div>
  </div>
</div>
<knab-footer></knab-footer>
