<nav class="navbar navbar-default" role="navigation">
  <div class="cx-container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="row">
      <div class="cx-col-md-4 cx-col-sm-4 cx-col-xs-9">
        <div class="logo">
          <a href="/"><img src="/assets/knab-logo.svg?la=nl" alt="Logo Knab"></a>
        </div>
      </div>
      <ul class="nav navbar-nav list-inline">
        <li class="active"><a href="">Overzicht</a></li>
        <li class=""><a href="">Mijn account</a></li>
        <li class=""><a href="">FAQ</a></li>
        <li class=""><a href="">Over ons</a></li>
      </ul>
      <ul class="nav nav-pills pull-right">
        <li><a href="https://www.knab.nl"><i class="fa fa-chevron-left" aria-hidden="true"></i>Uitloggen</a></li>
      </ul>
    </div>
  </div>
</nav>
