@import '~styles/base.scss';

.knx-menu-item {
  background: #fff;
  color: $knab-primary-blue;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: none;
  font-weight: 400;
  padding: 16px;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: background 0.25s;
}

.knx-menu-item--slim {
  height: 62px;
  padding: 8px 16px;
}

.knx-menu-item a:hover {
  color: $knab-primary-blue;
  font-weight: normal;
}

.knx-menu-item--selected {
  background: $knab-primary-gray;
  outline: 0;
}

.knx-menu-item:focus {
  outline: 0;
}

.knx-menu-item:active {
  background: $knab-primary-gray;
}

:host(knx-menu-item) /deep/ [knx-menu-item-icon] {
  vertical-align: middle;
  font-size: 28px;
  width: 1.5em;
  height: 30px;
  color: rgba(0, 0, 0, 0.44);
}
