.ng2-dropdown-button {
  background: inherit;
  //padding: 0.45rem 0.25rem;
  font-size: $font-size-base;
  color: inherit;
  outline: 0;
  cursor: pointer;
  font-weight: 400;
  border: none;
  //border-bottom: 1px solid #efefef;
  text-align: left;
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 150px;
}

.ng2-dropdown-button:hover {
  color: $knab-primary-red;
}

.ng2-dropdown-button:active,
.ng2-dropdown-button:focus {
  color: $knab-primary-red;
  //border-bottom: 2px solid #2196F3;
}

.ng2-dropdown-button__label {
  flex: 1 1 95%;
}

.ng2-dropdown-button__caret {
  width: 14px;
  height: 14px;
  margin-top: 0.3em;
  display: flex;
  flex: 1 1 6%;
  color: inherit;
  fill: inherit;
}

:host-context(.ng2-dropdown-button--icon) .ng2-dropdown-button {
  border: none;
  min-width: 40px;
  width: 40px;
  border-radius: 100%;
  transition: all 0.2s;
  text-align: center;
  height: 40px;
  padding: 0.5em;
}

:host-context(.ng2-dropdown-button--icon) .ng2-dropdown-button:active {
  background: rgba(0, 0, 0, 0.2);
}
