@import '~styles/base.scss';

.knx-dropdown-menu {
  z-index: $z-index-navbar-dropdown;
  overflow-y: auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
  position: absolute;
  background: #fff;
  border-radius: 0 0 4px 4px;
  max-height: 400px;
  width: 300px;
  display: block;
}

.knx-dropdown-menu.knx-dropdown-menu--inside-element {
  position: fixed;
}

.knx-dropdown-menu.knx-dropdown-menu--width--2 {
  width: 200px;
}

.knx-dropdown-menu.knx-dropdown-menu--width--4 {
  width: 260px;
}

.knx-dropdown-menu.knx-dropdown-menu--width--6 {
  width: 320px;
}

.knx-dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

:host /deep/ .knx-menu-divider {
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  width: 100%;
  display: block;
  background: #003b5a;
  opacity: 0.2;
}
