<form name="carPaymentForm" id="carPaymentForm" [formGroup]="form.formGroup" class="knx-fancy-form" role="form">
  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h2>{{'car.buy.steps.payment.title' | translate}}</h2>

        <div class="row">
          <div class="col-sm-8">
            <p>{{'car.buy.steps.payment.hint' | translate}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <knx-form-group
              [options]="form.formConfig.iban"
              [formControlName]="form.formConfig.iban.formControlName">

              <knx-tooltip>{{'car.buy.steps.payment.tooltip' | translate}}</knx-tooltip>
            </knx-form-group>
          </div>
        </div>
      </knx-card>
    </div>
  </div>
</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
[error]="error$ | async"
(onNext)="goToNextStep()"
(onBack)="goToPreviousStep()">
</knx-wizard-controls>

<div class="container">
  <div class="row knx-buy__footer">
    <div class="col-sm-12">
      <knx-step-blocks title="{{'general.step_blocks.title' | translate}}">
        <knx-step-block>
          <h3>{{'general.step_block1.title' | translate}}</h3>
          <p>{{'general.step_block1.text' | translate}}</p>
        </knx-step-block>

        <knx-step-block>
          <h3>{{'general.step_block2.title' | translate}}</h3>
          <p>{{'general.step_block2.text' | translate}}</p>
        </knx-step-block>

        <knx-step-block>
          <h3>{{'general.step_block3.title' | translate}}</h3>
          <p>{{'general.step_block3.text' | translate}}</p>
        </knx-step-block>
      </knx-step-blocks>
    </div>
  </div>
</div>
