@import '~styles/base';

.knx-insurance-toplist {
  .knx-button-group {
    margin-bottom: 30px;
  }

  .row h2 {
    margin-bottom: 15px;
  }
}

.knx-insurance-toplist__info {
  margin-top: 15px;
  text-align: center;

  > span {
    cursor: pointer;
  }

  span {
    font-size: $font-size-base - 2;
    color: $knab-primary-blue;
    border-bottom: 1px dotted $knab-primary-blue;
  }
}
