<knx-card>
  <h2>Mijn account</h2>
  <form [formGroup]="form.formGroup" class="knx-fancy-form">
    <div class="row">
      <div class="col-md-12">
        <knx-form-group
          [options]="form.formConfig.firstName"
          [formControlName]="form.formConfig.firstName.formControlName">
        </knx-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <knx-form-group
          [options]="form.formConfig.lastName"
          [formControlName]="form.formConfig.lastName.formControlName">
        </knx-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <knx-form-group
          [options]="form.formConfig.gender"
          [formControlName]="form.formConfig.gender.formControlName">
        </knx-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <knx-form-group
          [options]="form.formConfig.birthDate"
          [formControlName]="form.formConfig.birthDate.formControlName">
        </knx-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <knx-address-lookup
          #addressLookup
          [combined]="['houseNumber', 'houseNumberExtension']"
          [addressForm]="form.addressForm"
          (addressFound)="updateAddress($event)">
        </knx-address-lookup>
      </div>
    </div>

    <knx-form-group
      [formControlName]="form.formConfig.houseHold.formControlName"
      [options]="form.formConfig.houseHold">
    </knx-form-group>
  </form>
</knx-card>
<button class="knx-button knx-button--link knx-button--back" (click)="goBack$.emit()">Terug</button>
<button class="knx-button knx-button--primary pull-right" [class.knx-button--pending]="pending" (click)="save()">Opslaan</button>