// overrides for @cx/base
$fonts_path: '/assets/fonts/';

$baseFontFamily: 'PT Sans';
$headFontFamily: "Intro Bold Caps",Helvetica,Arial,sans-serif;
//$iconsFontFamily: 'aegon_icons' !default;
$baseFontSize: 16px;
$baseFontWeight: 400;

