// Primary Knab colors
$knab-primary-grey: #efe8e3;
$knab-primary-yellow: rgb(253, 198, 0);
$knab-primary-red: rgb(232, 88, 117);
$knab-primary-green: rgb(0, 164, 167);
$knab-primary-dark-green: #007274;
$knab-primary-blue: rgb(0, 59, 90);

// Secondary Knab colors
$knab-secondary-grey: rgb(223, 207, 155);
$knab-secondary-yellow: #fca400;
$knab-secondary-orange: rgb(235, 113, 38);
$knab-secondary-red: rgb(200, 65, 72);
$knab-secondary-green: rgb(59, 201, 127);
$knab-secondary-blue: rgb(106, 140, 188);

$knab-app-background: rgb(247, 246, 243);
$knab-app-background-icon: rgb(253, 252, 251);

// Additional colors
$knab-white: #fff;
$knab-black: #000;
$knab-disabled-grey: rgb(213, 217, 214);
$knab-medium-grey: #c5c5c5;
$knab-light-grey: #dfdfdf;
$knab-dark-grey: #5a5a5a;
$knab-dark-green: #24574d;
