// Primary Knab colors
$knab-primary-grey: rgb(238, 235, 229);
$knab-primary-yellow: rgb(253, 198, 0);
$knab-primary-red: rgb(232, 88, 117);
$knab-primary-green: rgb(0, 164, 167);
$knab-primary-dark-green: #007274;
$knab-primary-blue: rgb(0, 59, 90);

// Secondary Knab colors
$knab-secondary-grey: rgb(223, 207, 155);
$knab-secondary-orange: rgb(235, 113, 38);
$knab-secondary-red: rgb(200, 65, 72);
$knab-secondary-green: rgb(59, 201, 127);
$knab-secondary-blue: rgb(106, 140, 188);

$knab-app-background: rgb(247, 246, 243);
$knab-app-background-icon: rgb(253, 252, 251);

// Additional colors
$knab-white: #fff;
$knab-black: #000;
$knab-disabled-grey: rgb(213, 217, 214);
$knab-dark-grey: #5a5a5a;

// cx-base overrides -------------- NOT KNAB BRAND
$aegonBlue: $knab-primary-blue;
$linkBlue: $knab-primary-blue;
$regalBlue: $knab-primary-blue;
$curiousBlue: $knab-secondary-blue;
$linkWater: #e5f1f9;
$textBlack: #000;
$mojo: #ca4642;
$aegonError: #ca4642;
$seaBuckthorn: #f59733;
$aegonWarning: #f59733;
$lightningYellow: #fdc828;
$apple: #49af57;
$loginColor: #49af57;
$coldGray: #1d1d1d;
$codGray: #1d1d1d;
$silverChalice: #5a5a5a;
$mercury: #e8e8e8;
$fogGray: #f2f2f2;
$inputGray: #f2f2f2;
$aegonWhite: #fff;
$disabledGrey: #eee;
