<div class="knx-nav-user" *ngIf="profile" >
  <knx-dropdown>
    <knx-dropdown-button>
      <span class="knx-nav-user__icon knx-icon-user-o"></span> {{ profile?.firstname || 'Account' }}
    </knx-dropdown-button>

    <knx-dropdown-menu offset="50 -185">
      <knx-menu-item *ngIf="showAccount" (click)="goToProfile()">
        <div class="row">
          <div class="col-2">
            <div class="knx-dropdown-profile-img knx-dropdown-key"
              [ngStyle]="{'background-image': profile.profile_image ?
                'url('+ profile.profile_image +')' : 'url(/assets/images/profile_icon.svg)'}">
            </div>
          </div>
          <div class="col-10">
            <div class="knx-dropdown-value">
                {{ profile.emailaddress || '' }}
            </div>
          </div>
        </div>
      </knx-menu-item>

      <div class='knx-menu-divider'></div>

      <knx-menu-item *ngIf="showAccount" (click)="goToProfile()">
        <div class="row">
          <div class="col-2">
            <div class="knx-dropdown-img__profile knx-dropdown-key"></div>
          </div>
          <div class="col-10">
            <div class="knx-dropdown-value">
                My insurances
            </div>
          </div>
        </div>
      </knx-menu-item>

      <knx-menu-item *ngIf="showAccount" (click)="goToProfile()">
        <div class="row">
          <div class="col-2">
            <div class="knx-dropdown-img__house knx-dropdown-key"></div>
          </div>
          <div class="col-10">
            <div class="knx-dropdown-value">
                My Knab profile
            </div>
          </div>
        </div>
      </knx-menu-item>

      <div class='knx-menu-divider'></div>

      <knx-menu-item (click)="logOut()">
        <div class="row">
          <div class="col-2">
            <div class="knx-dropdown-img__singout knx-dropdown-key"></div>
          </div>
          <div class="col-10">
            <div class="knx-dropdown-value">
                Uitloggen
            </div>
          </div>
        </div>
      </knx-menu-item>
    </knx-dropdown-menu>
  </knx-dropdown>
</div>
