.knx-nav-user {
  background: $knab-primary-blue;
  color: $knab-nav-item-color;
}

.knx-nav-user a {
  text-decoration: none;
  font-weight: normal;
  font-size: $font-size-base;

  &:hover {
    font-weight: normal;
    color: $knab-primary-red;
  }
}

.knx-nav-user__icon {
  color: $knab-primary-green;
  font-weight: bold;
}

.knx-nav-user .ng2-dropdown-container .ng2-dropdown-button__caret svg {
  fill: $knab-nav-item-color;
}
