@import '~styles/base.scss';

.knx-nav-user {
  white-space: nowrap;
}

.knx-nav-user a {
  text-decoration: none;
  font-weight: normal;
  font-size: $font-size-base;

  &:hover {
    font-weight: normal;
    color: $knab-primary-red;
  }
}

.knx-nav-user .knx-dropdown-button__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0;
}

.knx-nav-user__icon {
  font-weight: bold;
}

@media (max-width: 768px) {
  .knx-nav-user {
    margin-top: -4px;
  }
}

.knx-nav-user .knx-dropdown-container .knx-dropdown-button__caret svg {
  fill: $knab-nav-item-color;
}

.knx-header-img {
  position: absolute;
  right: 13px;
}
