@import '~styles/base.scss';

.knx-nav-user {
  white-space: nowrap;
}

.knx-nav-user a {
  text-decoration: none;
  font-weight: normal;
  font-size: $font-size-base;

  &:hover {
    font-weight: normal;
    color: $knab-primary-red;
  }
}

.knx-nav-user .knx-dropdown-button__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0;
}

.knx-nav-user__icon {
  font-weight: bold;
}

@media (max-width: 768px) {
  .knx-nav-user {
    margin-top: -4px;
  }
}

.knx-nav-user .knx-dropdown-container .knx-dropdown-button__caret svg {
  fill: $knab-nav-item-color;
}

.knx-dropdown-img {
  width: 46px;
  height: 46px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.knx-dropdown-profile-img {
  @extend .knx-dropdown-img;

  background-color: #f3f3f3;
  border-radius: 100%;
}

.knx-dropdown-value {
  padding-left: 15px;
  height: 100%;
  line-height: 46px;
}

.knx-dropdown-img__profile {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/profile_icon.svg');
}

.knx-dropdown-img__house {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/house_icon.svg');
}

.knx-dropdown-img__singout {
  @extend .knx-dropdown-img;

  background-image: url('/assets/images/signout_icon.svg');
}
