<div class="formgroup-address-lookup" [formGroup]="addressFormGroup">
  <div class="row">
    <div class="col-md-6">
      <cx-form-group formControlName="postalCode" [options]="{
              formControl: addressFormGroup.get('postalCode'),
              label: 'Postcode',
              type: 'text',
              textMask: inputMasks.postalCodeMask,
              transform: inputMasks.postalCodeMask.decode,
              validationErrors: validationErrors
            }"></cx-form-group>
    </div>
    <div class="col-md-4">
      <cx-form-group formControlName="addressNumber" (blur)="addressBlur(postalCode, addressNumber)" [options]="{
        formControl: addressFormGroup.get('addressNumber'),
        label: 'Huisnummer',
        validationErrors: validationErrors
      }"></cx-form-group>
    </div>

    <div class="col-md-2">
      <button class="cx-button ki-btn-primary btn-form-group" (click)="getLocationAddress()"><span class="icon fa fa-map-marker"></span></button>
    </div>
  </div>

  <!-- prefilled -->
  <cx-form-group *ngIf="showAddress" formControlName="addressStreet" [options]="{
        formControl: addressFormGroup.get('addressStreet'),
        validationErrors: validationErrors,
        label: 'Straatnaam'
      }"></cx-form-group>

  <!-- pre-filled -->
  <cx-form-group *ngIf="showAddress" formControlName="addressCity" [options]=" {
        formControl: addressFormGroup.get('addressCity'),
        validationErrors: validationErrors,
        label: 'Plaats'
      }"></cx-form-group>
</div>
