<form [formGroup]="form.formGroup" class="knx-fancy-form knx-car-contact-form" role="form">
  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h2>Je contactgegevens</h2>

        <div class="row">
          <div class="col-sm-3">
            <knx-form-group
              [options]="form.formConfig.initials"
              [formControlName]="form.formConfig.initials.formControlName">
            </knx-form-group>
          </div>
          <div class="col-sm-3">
            <knx-form-group
              [options]="form.formConfig.middleName"
              [formControlName]="form.formConfig.middleName.formControlName">
            </knx-form-group>
          </div>
          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.lastName"
              [formControlName]="form.formConfig.lastName.formControlName">
            </knx-form-group>
          </div>
        </div>

        <knx-form-group
          [options]="form.formConfig.firstName"
          [formControlName]="form.formConfig.firstName.formControlName">
        </knx-form-group>

        <div class="row">
          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.mobilePhone"
              [formControlName]="form.formConfig.mobilePhone.formControlName">
            </knx-form-group>
          </div>

          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.phone"
              [formControlName]="form.formConfig.phone.formControlName">
            </knx-form-group>
          </div>
        </div>

        <knx-form-group *ngIf="false"
          [options]="form.formConfig.saveToProfile"
          [formControlName]="form.formConfig.saveToProfile.formControlName">
        </knx-form-group>
      </knx-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="knx-car-contact-form__reset knx-button knx-button--link" (click)="resetFlow()">Opnieuw beginnen</button>
    </div>
  </div>

</form>
<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onNext)="goToNextStep($event)"
                     (onBack)="goToPreviousStep($event)">
</knx-wizard-controls>
