<div class="container knx-registration">
  <div class="row">
    <div class="col-md-6">
      <knx-registration *ngIf="!(registrationSuccess$ | async)"
          [privacyStatementUrl]="content.externalLinks.privacyStatement"
          [termsAndConditionsUrl]="content.externalLinks.termsAndConditions"
          [pending]="registrationPending$ | async"
          [error]="registrationError$ | async"
          (onRegisterWithAdvice)="registerWithAdvice($event)"
          (onRegister)="register($event)">
      </knx-registration>

      <knx-registration-thankyou *ngIf="registrationSuccess$ | async"
          [resendPending]="resendPending$ | async"
          [resendSuccess]="resendSuccess$ | async"
          [resendError]="resendError$ | async"
          [email]="registrationEmail$ | async"
          (onLogin)="redirectToLogin()"
          (onSendActivation)="sendActivationEmail($event)">
      </knx-registration-thankyou>
    </div>
    <div class="col-md-6">
      <knx-download-panel [iosUrl]="content.appStore.iOS" [androidUrl]="content.appStore.android"></knx-download-panel>
    </div>
  </div>
</div>
