@import '~styles/base.scss';

$knxInputPadding: 10px;
$knxInputFontSize: 18px;
$knxInputWidth: 100%;
$knxInputMinHeight: 99px;
$knxIconColorGreen: #00dd81;

.input-elements {
  width: $knxInputWidth;
  position: relative;
}

.knx-input {
  position: relative;
  width: $knxInputWidth;
  min-height: $knxInputMinHeight;
}

.knx-input__input {
  border: 1px solid #e8e8e8;
  background: #f3f3f3;
  width: 100%;
  height: 44px;
  border-radius: 2px;
  padding-right: 40px;
}

.knx-input__error_message {
  position: absolute;

  p {
    color: $knab-error;
    font-size: $font-size-base - 2;
  }
}

.knx-input--error {
  border-left: 2px solid $knab-error;
  padding-left: 10px;
  margin-left: -12px;
  width: calc(100% + 12px);
}

.knx-input--disabled {
  > .knx-input__input {
    color: $knab-muted;
    background: $knab-disabled-gray;
  }
}

.knx-input__addon-left {
  padding-left: 50px;
}

.knx-input__addon-icon {
  width: 44px;
  position: absolute;
  top: 0;
  border-right: 1px solid $knab-mercury;
  padding: $knxInputPadding;
  text-align: center;
}

.knx-input__valid {
  position: absolute;
  right: 15px;
  top: 25%;
  color: $knxIconColorGreen;
}

.knx-input__show-password {
  position: absolute;
  top: 25%;
  right: 10px;
  background: transparent;
  border: 0;
  color: $knab-dark-gray;

  &:focus,
  &:hover,
  &:active,
  &:visited {
    cursor: pointer;
    border: 0;
    outline: 0;
  }

  &.knx-icon-eye-slash {
    color: #c3bbaa;
  }
}
