@import '~styles/base.scss';
$knxInputPadding: 10px;
$knxInputFontSize: 18px;
$knxInputWidth: 100%;
$knxInputMinHeight: 99px;

.input-elements {
  width: $knxInputWidth;
  position: relative;
}

.knx-input {
  position: relative;
  width: $knxInputWidth;
  min-height: $knxInputMinHeight;
}

.knx-input__input {
  border: 1px solid #e8e8e8;
  background: #f3f3f3;
  width: 100%;
  height: 44px;
  border-radius: 2px;
}

.knx-input__error_message {
  display: none;
  font-size: 15px;

  p {
    color: $knab-primary-red;
  }
}

.knx-input--error {
  border-left: 2px solid $knab-error;
  padding-left: 10px;
  margin-left: -12px;
  width: calc(100% + 12px);

  .knx-input__error_message {
    display: block;

    p {
      margin: 0;
    }
  }
}

.knx-input--disabled {
  > .knx-input__input {
    color: $knab-muted;
    background: $knab-disabled-gray;
  }
}

.knx-input__addon-left {
  padding-left: 50px;
}

.knx-input__addon-icon {
  width: 44px;
  position: absolute;
  top: 0;
  border-right: 1px solid $knab-mercury;
  padding: $knxInputPadding;
  text-align: center;
}
