<div class="knx-input" [class.knx-input--error]="getErrorList()" [class.knx-input--valid]="(isValid$ | async)">
    <label *ngIf="options.label">{{ options.label }}</label>
    <div class="knx-input__wrapper">
      <span *ngIf="hasAddonLeft()" [ngClass]="['knx-input__addon-icon', getAddonIcon()]"></span>
      <span *ngIf="(isValid$ | async) && options.attributes['data-type'] != 'password'"
        [ngClass]="['knx-input__valid', 'knx-icon-check']">
      </span>

      <input class="knx-input__input" #inputControl
        *ngIf="!options.textMask"
          (blur)="onTouchedCallback()"
          [(ngModel)]="value"
          [placeholder]="options.placeholder"
          [disabled]="options.disabled"
          [type]="options.type"
          [ngClass]="{
            'knx-input__addon-left': hasAddonLeft(),
            'knx-input__input--disabled': options.disabled
          }">

      <input class="knx-input__input" #inputControl
        *ngIf="options.textMask"
        (blur)="onTouchedCallback()"
        [(ngModel)]="value"
        [placeholder]="options.placeholder"
        [disabled]="options.disabled"
        [type]="options.type"
        [textMask]="options.textMask"
        [ngClass]="{
          'knx-input__addon-left': hasAddonLeft(),
          'knx-input__input--disabled': options.disabled
        }">

      <button type="button"
        *ngIf="options.showPasswordStrenght && options.formControl.value"
        class="knx-input__show-password knx-icon-eye"
        [class.knx-icon-eye-slash]="showPassword"
        [class.knx-icon-eye]="!showPassword"
        (click)="toggleShowPassword($event)">
      </button>

      <div class="knx-input__error_message" *ngIf="getErrorList()">
        <p *ngFor="let error of getErrorList()">{{error}}</p>
      </div>
    </div>
    <knx-password-strength
      *ngIf="options.showPasswordStrenght"
      [hidden]="!options.formControl.dirty || !options.formControl.value"
      [password]="options.formControl.value">
    </knx-password-strength>
  </div>
  
