<div class="row">
  <div class="cx-base col-md-6">
    <ol class="cx-step-navigation">
      <li *ngFor="let step of formConfig.steps; let i = index;" class="cx-step-navigation__step" [ngClass]="{ 'cx-step-navigation__step--current': i === 0 }">{{ step.title }}</li>
    </ol>

    <ng-container *ngIf="formConfig.steps">
      <form [formGroup]="carDetailForm.detailForm" (submit)="save($event)">
        <cx-form-group formControlName="license" [options]="{
          label: formConfig.steps[0].licensePlate.label,
          formControl: carDetailForm.detailForm.controls.license,
          inputOptions: {
              placeholder: formConfig.steps[0].licensePlate.placeholder
          }
      }">
        </cx-form-group>

        <button class="cx-button cx-button--arrow ki-btn-primary">Default</button>

      </form>
    </ng-container>

  </div>
  <div class="col-md-6">
    <!-- sidebar -->
  </div>
</div>
