<!-- template to show how to display car information: TO BE DESIGNED -->
<div class="cx-container-fluid">
  <div class="cx-row">
    <div class="cx-col-md-8">
      <h2>Car</h2>

      <pre>
        sdpasd
        [paksd
        [kas
        dp[aksd
        paksd
        p[aks
        d[kas
        d[pkas
        dpkas
        dpka
        s[dka
        sdpk
        aspdk
        aspdka
        spdk
        aspdk
        apskd
        apskd
        apskd
        apskd
        apskd
        apskd
        aksd
        apskd
        askd
        apskd
        apskd
        apkd
        apskd
      </pre>
    </div>
    <div class="cx-col-md-4 chat">

      <ki-avatar name="Marjolein" title="Expert verzekeringen"></ki-avatar>

      <ki-vehicle-info [vehicle]="myCar"></ki-vehicle-info>

      <ki-message message="Ciao Mondo!"></ki-message>

    </div>
  </div>
</div>
