<div class="row">
  <div class="col-md-10">

    <h2>Je gegevens</h2>

    <form [formGroup]="form.formGroup" (submit)="save($event)">
      <cx-form-group [options]="{
          type: 'custom',
          label: 'Wat is je kenteken?',
          formControl: form.formGroup.get('licensePlate'),
          validationErrors: validationErrors
      }">
        <knx-input-licenseplate formControlName="licensePlate" [options]="{ placeholder: '16K-NAB-9' }"></knx-input-licenseplate>
      </cx-form-group>

      <cx-form-group formControlName="birthDate" [options]="{
            label: 'Geboortedatum',
            formControl: form.formGroup.get('birthDate'),
            validationErrors: validationErrors
          }"></cx-form-group>

      <knx-address-lookup [addressFormGroup]="form.addressForm"></knx-address-lookup>

      <div class="row">
        <div class="col-md-6">
          <cx-form-group formControlName="damageFreeYears" [options]="{
                label: 'Aantal schadevrije jaren',
                formControl: form.formGroup.get('damageFreeYears'),
                validationErrors: validationErrors
              }"></cx-form-group>
        </div>
        <div class="col-md-6">
          <cx-form-group formControlName="kilometersPerYear" [options]="{
                label: 'Aantal KM per jaar',
                type: 'select',
                formControl: form.formGroup.get('kilometersPerYear'),
                validationErrors: validationErrors,
                inputOptions: {
                  items: [
                    {
                      label: '30.000 of meer',
                      value: '> 30.000'
                    }
                  ]
                }
              }"></cx-form-group>
        </div>
      </div>
    </form>

    <h2>Je dekkingswensen</h2>
    <knx-price-table [items]="coverages"></knx-price-table>

    <div class="cx-form-group cx-form-group--space-between">
      <button class="knx-button knx-button--link knx-button--back" routerLink="/">terug naar overzicht</button>

      <!-- submit -->
      <button class="knx-button knx-button--arrow">Doorgaan</button>
    </div>

  </div>
  <div class="col-md-2">
    <!-- sidebar -->
  </div>
</div>
