<form [formGroup]="form.formGroup">

  <div class="row">
    <div class="col-md-10">

      <h2>Je gegevens</h2>

      <div class="row">
        <div class="col-md-5">

        <cx-form-group [options]="{
            type: 'custom',
            label: 'Wat is je kenteken?',
            validationErrors: form.validationErrors,
            formControl: form.formGroup.get('licensePlate')
        }">
          <knx-input-licenseplate
            formControlName="licensePlate"
            (ngModelChange)="onLicensePlateChange($event)"
            [options]="{ placeholder: '16K-NAB-9' }">
          </knx-input-licenseplate>
        </cx-form-group>

        </div>
        <div class="col-md-7">
          <div class="cx-form-group">
            <button class="knx-button knx-button--util inline-formelement" href="">Weet ik niet</button>
          </div>
        </div>
      </div>

      <cx-form-group formControlName="birthDate" [options]="{
            label: 'Geboortedatum',
            formControl: form.formGroup.get('birthDate'),
            validationErrors: form.validationErrors,
            inputOptions: {
              placeholder: 'DD / MM / JJJJ',
              transform: CXInputMasks.dateMask.decode,
              textMask: KNXDateMasks
            }
          }"></cx-form-group>

      <knx-address-lookup
        [addressFormGroup]="form.addressForm"
        [validationErrors]="form.validationErrors"
        (addressFound)="onAddressFound($event)">
      </knx-address-lookup>


      <div class="row">
        <div class="col-md-7">
          <cx-form-group formControlName="damageFreeYears" [options]="{
                label: 'Aantal schadevrije jaren',
                formControl: form.formGroup.get('damageFreeYears'),
                validationErrors: form.validationErrors,
                inputOptions: {
                  type: 'number'
                }
              }">
          </cx-form-group>
        </div>
        <div class="col-md-4">
          <div class="cx-form-group">
            <button class="knx-button knx-button--util inline-formelement" href="">Weet ik niet</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group formControlName="loan" [options]="{
                label: 'Heb je een lening?',
                type: 'radio',
                formControl: form.formGroup.get('loan'),
                validationErrors: form.validationErrors,
                inputOptions: {
                    formGroupModifiers: ['cx-form-group__wrap--spread'],
                    placeholder: '',
                    items: [
                      {
                          label: 'Ja',
                          value: 'true'
                      },
                      {
                          label: 'Nee',
                          value: 'false'
                      }
                  ]
                }
              }">
          </cx-form-group>
        </div>
      </div>

      <cx-form-group formControlName="familyType" [options]="{
            label: 'Wat is je gezinssituatie?',
            type: 'select',
            formControl: form.formGroup.get('familyType'),
            validationErrors: form.validationErrors,
            inputOptions: {
                placeholder: '',
                items: [
                  {
                      label: 'Alleen ikzelf',
                      value: ''
                  },
                  {
                      label: 'Ik en mijn partner',
                      value: ''
                  },
                  {
                      label: 'Ik, mijn partner en de kind(eren)',
                      value: ''
                  },
                  {
                      label: 'Ik en mijn kind(eren)',
                      value: ''
                  }
              ]
            }
          }">
      </cx-form-group>

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <cx-form-group formControlName="gender" [options]="{
                label: 'Geslacht',
                type: 'radio',
                formControl: form.formGroup.get('gender'),
                validationErrors: form.validationErrors,
                inputOptions: {
                    formGroupModifiers: ['cx-form-group__wrap--spread'],
                    placeholder: 'Selecteer je geslacht',
                    items: [
                      {
                          label: 'Man',
                          value: 'm'
                      },
                      {
                          label: 'Vrouw',
                          value: 'f'
                      }
                  ]
                }
              }">
          </cx-form-group>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <!-- some breathing space between this and assistant -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="car-form__coverages">
        <knx-loader [visible]="isCoverageLoading">
          Bezig met ophalen van dekkingsopties...
        </knx-loader>

        <ng-container *ngIf="!isCoverageLoading && coverages">
          <h2>Je dekkingswensen</h2>
          <knx-price-table [items]="coverages"></knx-price-table>
        </ng-container>
      </div>
    </div>
  </div>

</form>
