<div class="row">
  <div class="col-md-10">
    <ol *ngIf="steps" class="cx-step-navigation">
      <li *ngFor="let step of steps; let i = index;" class="cx-step-navigation__step" [ngClass]="{ 'cx-step-navigation__step--current': i === 0 }">{{ step.title }}</li>
    </ol>

    <h2>Gegevens auto</h2>

    <ng-container *ngIf="config">
      <form [formGroup]="form.formGroup" (submit)="save($event)">

        <cx-form-group formControlName="licensePlate" [options]="form.formOptions.licensePlate"></cx-form-group>
        <cx-form-group formControlName="birthDate" [options]="form.formOptions.birthDate"></cx-form-group>
        <cx-form-group formControlName="postalCode" [options]="form.formOptions.postalCode"></cx-form-group>

        <div class="row">
          <div class="col-md-8">
            <cx-form-group formControlName="houseNumber" [options]="form.formOptions.houseNumber"></cx-form-group>
          </div>
          <div class="col-md-4">
            <cx-form-group formControlName="houseNumberExtension" [options]="form.formOptions.houseNumberExtension"></cx-form-group>
          </div>
        </div>

        <cx-form-group formControlName="damageFreeYears" [options]="form.formOptions.damageFreeYears"></cx-form-group>
        <cx-form-group formControlName="kilometerPerYear" [options]="form.formOptions.kilometerPerYear"></cx-form-group>

        <div class="cx-form-group cx-form-group--space-between">
          <button class="cx-button cx-button--back cx-button--link" routerLink="/overview">terug naar overzicht</button>
          <button class="cx-button cx-button--arrow ki-btn-primary" routerLink="/car-advice">Bekijk resultaten</button>
        </div>

      </form>
    </ng-container>

    <!--
    <h2>Kies een dekking</h2>

    <ki-price-table></ki-price-table>

    -->

  </div>
  <div class="col-md-2">
    <!-- sidebar -->
  </div>
</div>
