<div class="row">
  <div class="col-md-8">
    <knx-car-detail-form [coverages]="coverages" [steps]="formSteps"></knx-car-detail-form>
  </div>
  <div class="col-md-4">
    <knx-chat-stream [options]="{showAvatar: true, avatarName: 'Marjolein', avatarTitle: 'Expert verzekeringen'}" [messages]="chatMessages"></knx-chat-stream>

    <!-- test -->
    <br><br>
    <div><small>Test stuff below</small></div>
    <button class="cx-button btn-sm" (click)="addCarMessage()">Add car</button>
    <button class="cx-button btn-sm" (click)="addMessage()">Say something</button>
    <button class="cx-button btn-sm" (click)="clearMessages()">Clear</button>
  </div>
</div>
