<div class="container knx-login">
  <div class="row">
    <div class="col-md-6">
      <knx-login-form
        [form]="form"
        [pending]="pending$ | async"
        [errorMessage]="errorMessage"
        [resendSuccess]="resendSuccess$ | async"
        (onResendActivationMail)="resendActivationMail($event)"
        (onPasswordReset)="goToPasswordReset()"
        (onLogin)="login($event)">
      </knx-login-form>
    </div>
    <div class="col-md-6">
      <knx-register-panel (onGoToRegister)="goToRegister()">
      </knx-register-panel>
    </div>
  </div>
</div>
