<div class="formgroup-address-lookup" [formGroup]="loginFormGroup">
  <div class="row">
    <div class="col-md-6">
      <p>Please provide your username, so we can send you the reset link for the password to your email.</p>

      <cx-form-group formControlName="userName" (focusout)="loginBlur($event)" [options]="{
              label: 'Username',
              type: 'text',
              validationErrors: validationErrors
            }"></cx-form-group>
    </div>


    <div class="col-md-2">
      <button class="cx-button knx-btn-primary btn-form-group" (click)="resetPasswordRequest()"><span class="icon fa fa-reset"></span> Reset </button>
    </div>
  </div>
</div>
