<div class="knx-card knx-final-buy">
  <div class="row">
    <div class="col col-md-12" *ngFor="let section of options.sections;">
      <img *ngIf="section.logoUrl" [src]="section.logoUrl" alt="logoUrl">
      <p *ngIf="section.heading"><strong>{{ section.heading }}</strong></p>
      <div class="row">
        <div class="col-8">
          <p *ngIf="section.key">{{ section.key }}</p>
        </div>
        <div class="col-4">
            <p *ngIf="section.value">{{ section.value }}</p>
        </div>
      </div>
      <hr *ngIf="section.divider" class="knx-divider-line">
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <button class="knx-button knx-button--fullwidth knx-button--primary"
              (click)="options.button.onClick($event)">
        test
      </button>
    </div>
  </div>
</div>
