@import '~styles/base.scss';

// TODO:
// =======================================================
// These styles desperately need refactoring!
// =======================================================

$knx-insurance-result-border: 1px solid $knab-tan-gray;

.knx-insurance-result {
  margin-bottom: 30px;
  opacity: 1;
}

.knx-insurance_advice {
  border: $knx-insurance-result-border;
  margin: 20px 0 0;

  [class*="col-"] {
    border-right: $knx-insurance-result-border;
    font-size: $font-size-base - 2;
    padding: 20px 25px 10px;

    &:last-child {
      border-right: 0;
    }

    & > .row > [class*="col-"] {
      border: 0 !important;
    }
  }

  & > .row {
    // counter height
    margin: -40px 0 0 0;

    > [class*="col-"]:first-child {
      padding-right: 15px;
    }
  }
}

.knx-insurance-result__counter {
  background: $knab-primary-blue;
  color: $knab-white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  top: -20px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.knx-insurance-result__logo {
  display: block;
  width: 100%;
  margin: 20px auto;
  max-width: 120px;
}

.knx-insurance_advice__supported .knx-insurance-result__logo {
  margin-top: 40px;
}

.knx-insurance-result__name {
  display: block;
  width: 100%;
  margin: 20px auto;
  max-width: 120px;
  text-align: center;
  color: $knab-medium-gray;
}

.knx-sticker {
  width: 60px;
  height: 60px;
  color: $knab-white;
  background: $knab-primary-green;
  font-weight: normal;
  font-size: 25px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.knx-insurance-result__price {
  display: inline-block;

  &:first-letter {
    padding-right: 0.3em;
  }
}

.knx-insurance-result__own-risk {
  background: $knab-primary-gray;
}

[class*="col-"].knx-insurance-result__own-risk,
[class*="col-"].knx-insurance-result__price-quality,
.knx-insurance-result__own-risk,
.knx-insurance-result__price-quality {
  font-family: $font-family-head;
  font-size: 18px;
  margin-top: 3px;
  padding: 5px 10px;

  span {
    font-family: $font-family-base;
    font-size: 14px;
  }
}

[class*="col-"].knx-insurance-result__reviews,
.knx-insurance-result__reviews {
  font-family: $font-family-head;
  font-size: 18px;
  padding: 5px 10px;

  span {
    font-family: $font-family-base;
    font-size: $font-size-base - 2;
  }
}

.knx-insurance-result__profilescore {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 5px !important;
  text-align: center;

  .knx-donut {
    margin-bottom: 0;
  }

  .knx-info {
    text-align: left;
  }

  .knx-insurance-result__label {
    line-height: 65px;
  }
}

.knx-insurance-result__price-quality {
  text-align: left;

  .knx-insurance-result__amount {
    font-family: $font-family-head;
    font-size: 18px;

    span {
      vertical-align: super;
      font-family: $font-family-base;
      font-size: $font-size-base - 2;
    }
  }

  .knx-insurance-result__label {
    font-family: $font-family-base;
    font-size: $font-size-base - 2;
  }
}

.knx-insurance-result__premium {
  display: block;
  color: $knab-primary-blue;
  font-size: 22px;
  font-family: $font-family-head;
  margin-bottom: 35px;
  text-align: center;

  span {
    color: $knab-medium-gray;
    font-family: $font-family-base;
    font-size: 16px;
    display: block;
  }
}

// Tab component customizations
.knx-insurance-result__details .knx-tabs {
  display: flex;
}

.knx-insurance-result__discount {
  text-align: center;
  color: $knab-primary-red;
}

.knx-insurance-result__details .knx-tabs__tab {
  flex-grow: 1;
}

.knx-insurance-result__details .knx-tabs,
.knx-insurance-result__details .knx-tab__content {
  padding: 0 20px;
}

.knx-button--extra-padding {
  padding-top: 23px;
  padding-bottom: 18px;
  min-height: 60px;
}

.knx-button .knx-button__extra {
  display: block;
  text-align: center;
  color: $knab-white;
  font-size: $font-size-base - 2;
  font-family: $font-family-base;
  text-transform: none;
  margin-top: -2px;
}

@media screen and (max-width: 768px) {
  .knx-insurance-result__logo {
    width: 50%;
    margin: 40px auto 30px;
    display: block;
  }

  .knx-insurance_advice {
    [class*="col-"] {
      border-right: $knx-insurance-result-border;
      font-size: $font-size-base - 2;
      padding: 0 40px;
    }

    &:last-child > [class*="col-"]:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .knx-insurance-result__own-risk {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .knx-insurance-result__own-risk,
  .knx-insurance-result__reviews,
  .knx-insurance-result__profilescore,
  .knx-insurance-result__price-quality {
    width: 50%;
  }

  .knx-insurance-result__premium {
    padding-top: 15px;
    margin-top: 15px;
    border-top: $knx-insurance-result-border;
  }
}

.knx-insurance-result__bookmark {
  position: absolute;
  left: 20px;
  top: -10px;
  width: 0;
  height: 50px;
  color: $knab-white;
  font-weight: bold;
  text-indent: -16px;
  line-height: 46px;
  font-family: $font-family-head;
  border-left: 20px solid $knab-primary-red;
  border-right: 20px solid $knab-primary-red;
  border-bottom: 10px solid transparent;
}

.knx-insurance-result__bookmark-tip {
  position: absolute;
  left: 10px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent $knab-primary-red transparent;
}
