<div class="row" *ngIf="insurance">
  <div class="col-sm-12">
    <knx-collapsible-panel title="{{ 'household.advice.advice-detail.card.title' | translate }}" [isOpen]="true" [showStep]="false" [collapsible]="false">
      <div class="knx-collapsible-panel__content">

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>{{ 'household.premiumDetail.insurance.company.label' | translate }}</knx-ir-label>
          <knx-ir-value>
            <img class="knx-insurance-result__logo"
                 src="{{ insurance?.CompanyLogoUrl }}"
                 alt="{{ insurance?.CompanyName }}"/>
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>{{ 'household.premiumDetail.insurance.type.label' | translate }}</knx-ir-label>
          <knx-ir-value>
            {{insurance?.ProductDescription}} / {{insurance?.PackageDescription}}
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row [newSection]="true" showTooltip="false" showValue="true">
          <knx-ir-label>{{ 'household.premiumDetail.insurance.coverage.label' | translate }}</knx-ir-label>
          <knx-ir-value>
            {{insurance?.HouseholdCoverageDescription}}
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>
            {{ 'household.premiumDetail.insurance.pricePerMonth.label' | translate }}<br/>
            <small>{{ 'household.premiumDetail.insurance.addCosts.label' | translate }}</small>
          </knx-ir-label>
          <knx-ir-value>
            <strong>{{insurance?.Premium | currency:'EUR':true }}</strong>
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row [newSection]="true" showTooltip="false" showValue="true">
          <knx-ir-label>{{ 'household.premiumDetail.insurance.ownRisk.label' | translate }}</knx-ir-label>
          <knx-ir-value>
            {{insurance?.Deductables | currency:'EUR':true}}
          </knx-ir-value>
        </knx-ir-row>

        <!--<knx-ir-row [showTooltip]="false" [showValue]="true">-->
          <!--<knx-ir-label>-->
            <!--{{ 'household.premiumDetail.insurance.insAmtDesc.label' | translate }}-->
          <!--</knx-ir-label>-->
          <!--<knx-ir-value>-->
            <!--{{insurance.ValuablesCoverageDescription}}-->
          <!--</knx-ir-value>-->
        <!--</knx-ir-row>-->

        <!--<knx-ir-row showTooltip="false" showValue="true">-->
          <!--<knx-ir-label>-->
            <!--{{ 'household.premiumDetail.insurance.insAmt.label' | translate }}-->
          <!--</knx-ir-label>-->
          <!--<knx-ir-value>-->
            <!--{{insurance?.ValuablesInsuredAmount |currency:'EUR':true}}-->
          <!--</knx-ir-value>-->
        <!--</knx-ir-row>-->
      </div>
    </knx-collapsible-panel>
  </div>
</div>

<div class="row" *ngIf="insurance?.Clauses">
  <div class="col-sm-12">
    <knx-collapsible-panel title="{{ 'household.premiumDetail.insurance_details' | translate }}" [isOpen]="true" [showStep]="false" [collapsible]="false">
      <div class="knx-collapsible-panel__content">

        <knx-ir-row showTooltip="false" showValue="true"
                    *ngFor="let clause of insurance?.Clauses">
          <knx-ir-label>
            {{clause.ClauseTitle}}
          </knx-ir-label>
          <knx-ir-value>
            {{clause.ClauseText}}
          </knx-ir-value>
        </knx-ir-row>

      </div>
    </knx-collapsible-panel>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <knx-collapsible-panel title="{{'general.documents' | translate}}" [isOpen]="true" [showStep]="false" [collapsible]="false">
      <div class="knx-collapsible-panel__content">
        <div class="row">
          <div class="col-sm-12">
            <span>{{ 'household.premiumDetail.insurance.documente.companyName.prefix' | translate }} {{insurance?.CompanyName}}.</span><br>
            <span class="knx-collapse-panel__muted">
              {{ 'household.premiumDetail.insurance.documente.span' | translate }}
            </span>
          </div>
        </div>

        <!-- documents -->
        <div class="row">
          <div class="col-sm-12">
            <ul class="knx-insurance-review-documents__list">
              <li *ngFor="let doc of insurance?.ConditionUrls"><span class="knx-icon-file-o"></span>
                <a href="{{doc.URL}}" target="_blank" rel="noopener"
                   title="{{doc.Description}}">{{doc.Description}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </knx-collapsible-panel>
  </div>
</div>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onBack)="goToPrevStep()"
                     (onNext)="goToNextStep()">
</knx-wizard-controls>

<div class="row knx-house-hold-premiums__footer">
  <div class="col-sm-8 col-md-12" >
    <knx-step-blocks title="{{'general.step_blocks.title' | translate}}">
      <knx-step-block>
        <h3>{{ 'household.premiumDetail.footer.head1' | translate }}</h3>
        <p>{{ 'household.premiumDetail.footer.para1' | translate }}</p>
      </knx-step-block>

      <knx-step-block>
        <h3>{{ 'household.premiumDetail.footer.head2' | translate }}</h3>
        <p>{{ 'household.premiumDetail.footer.para2' | translate }}</p>
      </knx-step-block>

      <knx-step-block>
        <h3>{{ 'household.premiumDetail.footer.head3' | translate }}</h3>
        <p>{{ 'household.premiumDetail.footer.para3' | translate }}</p>
      </knx-step-block>
    </knx-step-blocks>
  </div>
</div>
<knx-knab-lab></knx-knab-lab>
