<div class="row">
  <div class="col-sm-12">
    <knx-collapsible-panel title="insurance details" isOpen="true">
      <div class="knx-form-group--separated">
        Insurance company<br/>

        Insurance type/name

      </div>

      <div class="knx-form-group--separated">

        Coverage<br/>
        <div>
          Price per month<br/>
          <small>Incl. BTW and additionals costs</small>
        </div>

      </div>

      <div class="knx-form-group--separated">
        <div>
          Own risk
        </div>
        <div>
          Insured amount
        </div>
      </div>
    </knx-collapsible-panel>
  </div>
</div>
