<div class="row">
  <div class="col-sm-12">
    <knx-collapsible-panel title="insurance details" [isOpen]="true" [showStep]="false" [collapsible]="false">
      <div class="knx-collapsible-panel__content">

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>Insurance company</knx-ir-label>
          <knx-ir-value>
            <img class="knx-insurance-result__logo"
                 src="{{ insurance.CompanyLogoUrl }}"
                 alt="{{ insurance.CompanyName }}"/>
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>Insurance type/name</knx-ir-label>
          <knx-ir-value>
            {{insurance.ProductDescription}} / {{insurance.PackageDescription}}
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row [newSection]="true"  showTooltip="false" showValue="true">
          <knx-ir-label>Coverage</knx-ir-label>
          <knx-ir-value>
            {{insurance.HouseholdCoverageDescription}}
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>
            Price per month<br/>
            <small>Incl. BTW and additionals costs</small>
          </knx-ir-label>
          <knx-ir-value>
            <strong>{{insurance.Premium / 100.0 | currency:'EUR':true }}</strong>
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row [newSection]="true"  showTooltip="false" showValue="true">
          <knx-ir-label>Own risk</knx-ir-label>
          <knx-ir-value>
            {{insurance.Deductables / 100| currency:'EUR':true}}
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row [showTooltip]="false" [showValue]="true">
          <knx-ir-label>
            Insured amount description
          </knx-ir-label>
          <knx-ir-value>
            {{insurance.ValuablesCoverageDescription}}
          </knx-ir-value>
        </knx-ir-row>

        <knx-ir-row showTooltip="false" showValue="true">
          <knx-ir-label>
            Insured amount
          </knx-ir-label>
          <knx-ir-value>
            {{insurance.ValuablesInsuredAmount /100|currency:'EUR':true}}
          </knx-ir-value>
        </knx-ir-row>
      </div>
    </knx-collapsible-panel>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <knx-collapsible-panel title="General coverages" [isOpen]="true" [showStep]="false" [collapsible]="false">
      <div class="knx-collapsible-panel__content">

        <knx-ir-row showTooltip="false" showValue="true"
          *ngFor="let clause of insurance.Clauses">
          <knx-ir-label>
            {{clause.ClauseTitle}}
          </knx-ir-label>
          <knx-ir-value>
            {{clause.ClauseText}}
          </knx-ir-value>
        </knx-ir-row>

      </div>
    </knx-collapsible-panel>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <knx-collapsible-panel title="Documenten" [isOpen]="true" [showStep]="false" [collapsible]="false">
      <div class="knx-collapsible-panel__content">
        <div class="row">
          <div class="col-sm-12">
            <span>Hieronder vind je alle documente van {{insurance.CompanyName}}.</span><br>
            <span class="knx-collapse-panel__muted">
              Dit zijn alle documenten, inclusief alle beschikbare extra's en dekkingen. Als jij nient een bepaalde
              dekking hebt geselecteerd kan je deze gewoon negeren.
            </span>
          </div>
        </div>

        <!-- documents -->
        <div class="row">
          <div class="col-sm-12">
            <ul class="knx-insurance-review-documents__list">
              <li *ngFor="let doc of insurance.ConditionUrls"><span class="knx-icon-file-o"></span>
                <a href="{{doc.URL}}}" target="_blank" rel="noopener"
                   title="{{doc.Description}}">{{doc.Description}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </knx-collapsible-panel>
  </div>
</div>
