<knx-insurance-review
  knxQaIdentifier [qaRoot]="qaRootId" qaIdentifier="summary"
  [selectedInsurance]="selectedInsurance$ | async">
</knx-insurance-review>
<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onNext)="goToNextStep($event)"
                     (onBack)="goToPreviousStep($event)">
</knx-wizard-controls>
<div class="row knx-car-advice__footer">
  <div class="col-sm-8" *ngIf="showStepBlock">
    <knx-step-blocks title="Hoe gaat het nu verder?">
      <knx-step-block>
        <h3>1. Vul in</h3>
        <p>Vul alle gegevens in die nodig zijn voor je nieuwe verzekering.</p>
      </knx-step-block>

      <knx-step-block>
        <h3>2. Controleer</h3>
        <p>Dubbelcheck of alles goed ingevuld is.</p>
      </knx-step-block>

      <knx-step-block>
        <h3>3. Bevestig</h3>
        <p>Gefeliciteerd! Je hebt zojuist flink wat geld bespaard op je autoverzekering!</p>
      </knx-step-block>
    </knx-step-blocks>
  </div>
</div>
