<knx-card *ngIf="featureConfig.isOn('knabLab')">
  <div class="row">
    <div class="col-md-6 knx-relative">
      <div>{{'knablab.title' | translate}}</div>
      <p class="knx-dark-blue">{{'knablab.blue_para' | translate}}</p>
      <div>{{'knablab.para1' | translate}}</div>
      <div class="knx-pad-bottom">{{'knablab.para2' | translate}}</div>
    </div>
    <div class="col-md-6">
      <div class="knx-button knx-button--secondary knx-button--ghost" (click)="goToKnabLab()">{{'knablab.button_text' | translate}}</div>
    </div>
  </div>
</knx-card>
