<h2>{{ 'household.premiumBuy.header.title' | translate }}</h2>
<p>{{ 'household.premiumBuy.header.para1' | translate }}</p>
<p class="knx-no-pad">{{ 'household.premiumBuy.header.para2' | translate }}</p>
<p class="knx-no-pad">{{ 'household.premiumBuy.header.para3' | translate:{insurer: (selectedInsurance$ | async)?.CompanyName} }}</p>
<p class="knx-no-pad">{{ 'household.premiumBuy.header.para4' | translate }}</p>
<p class="knx-no-pad">{{ 'household.premiumBuy.header.para5' | translate:{insurer: (selectedInsurance$ | async)?.CompanyName} }}</p>
<p class="knx-no-pad">{{ 'household.premiumBuy.header.para6' | translate:{insurer: (selectedInsurance$ | async)?.CompanyName} }}</p>

<knx-house-hold-card-extension [insurance]="selectedInsurance$ | async"></knx-house-hold-card-extension>

<knx-collapsible-panel [collapsible]="false" [showStep]="false" [isOpen]="true">
  <div class="knx-collapsible-panel__content">
    <div class="row">
      <div class="col-sm-12">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="knx-registration">
                <form [formGroup]="form.formGroup" autocomplete="off">

                  <knx-form-group
                    [formControlName]="form.formConfig.name.formControlName"
                    [options]="form.formConfig.name">
                  </knx-form-group>

                  <knx-form-group
                    [formControlName]="form.formConfig.email.formControlName"
                    [options]="form.formConfig.email">
                  </knx-form-group>

                  <knx-form-group
                    [formControlName]="form.formConfig.phone.formControlName"
                    [options]="form.formConfig.phone">
                  </knx-form-group>

                  <knx-form-group
                    [formControlName]="form.formConfig.receiveUpdate.formControlName"
                    [options]="form.formConfig.receiveUpdate">
                  </knx-form-group>

                  <div class="knx-house-hold-buy__actions">
                    <div class="knx-house-hold-buy__error" *ngIf="!form.formGroup.valid && form.formGroup.touched && form.formGroup.dirty">
                      {{ 'household.premiumBuy.error.msg' | translate }}
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <div class="col-sm-4 hidden-xs">
              <img src="/assets/images/avatars/avatar-fullsize.png" alt="lisa full size"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</knx-collapsible-panel>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
                     [error]="error$ | async"
                     (onBack)="goToPrevStep()"
                     (onNext)="goToNextStep()">
</knx-wizard-controls>
