@import '~styles/base.scss';

.knx-step-blocks {
  position: relative;
  background: $knab-primary-gray;
  border-radius: $knab-border-radius;
  padding: 20px 0;

  .knx-step-blocks__title {
    color: $knab-primary-blue;
    margin-bottom: 20px;
    font-size: $font-size-base + 2;
  }

  &.knx-step-blocks--arrowed:after {
    bottom: 100%;
    right: 135px;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $knab-primary-gray;
  }

  .knx-step-blocks__inner {
    display: flex;
  }
}

@media (max-width: 576px) {
  .knx-step-blocks {
    .knx-step-blocks__inner {
      flex-direction: column;
    }
  }
}
