<nav class="knx-navbar navbar navbar-toggleable-md bg-faded">
  <div class="container">
    <!-- <button (click)="knxToolbarPanel.open()"
            class="knx-button--hamburger hidden-md-up"
            type="button"
            aria-label="Toggle navigation">
    </button> -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand">
          <img class="knx-logo" src="/assets/images/knab-logo.svg" alt="Logo Knab" (click)="goToKnab()">
          <span class="knx-logo-text" (click)="goToStatic()">Verzekeren</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active hidden-sm-down"
          *ngFor="let item of menuItems; let i = index"
          routerLinkActive="active"
          [ngClass]="getMenuItemClasses(item)">

        <a *ngIf="item.routePath" id="{{ item.id }}" routerLink="{{ item.routePath }}" class="nav-link" href="#" [attr.rel]="item.rel">
          {{ item.title }}
        </a>

        <a *ngIf="!item.routePath" id="{{ item.id }}" href="{{ item.url }}" target="_blank" class="nav-link">
          <span class="nav-link__icon" *ngIf="item.icon" [ngClass]="item.icon"></span>
          {{ item.title }}
        </a>
      </li>

      <li class="nav-item hidden-sm-down">
        <knx-opening-hours></knx-opening-hours>
      </li>
      <li class="nav-item hidden-sm-down" *ngIf="loggedIn$ | async">
        <ng-content select="knx-nav-user"></ng-content>
      </li>
      <li class="nav-item hidden-sm-down" *ngIf="!(loggedIn$ | async)">
        <a class="nav-link" (click)="register()">{{ 'navbar.menu.register' | translate }}</a>
      </li>
      <li class="nav-item hidden-sm-down" *ngIf="!(loggedIn$ | async)">
        <a class="nav-link" (click)="logIn()">{{ 'navbar.menu.login' | translate }}</a>
      </li>
    </ul>
  </div>
  <knx-hamburger [animationState]="animationState" (onHamburgerClick)="onHamburgerClick.emit()" class="hidden-md-up"></knx-hamburger>
</nav>
