<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <title>Knab Verzekeren</title>

  <meta name="description" content="Knab Verzekeren">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <base href="/">
</head>

<body class="knx-base">

  <knx-app>
    Loading...
  </knx-app>

  <!-- <% if (htmlWebpackPlugin.options.metadata.env === 'production') { %>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
        console.log('Service Worker registered');
      }).catch(function(err) {
        console.log('Service Worker registration failed: ', err);
      });
    }
  </script>
  <% } %> -->
</body>

</html>
