/* this file will be extracted to main dist folder and is imported in index.html */

@import 'styles/base';
@import '~@knx/base/index';
@import '~@knx/avatar/index';
@import '~@knx/card/index';
@import '~@knx/checkbox/index';
@import '~@knx/collapsible-panel/index';
@import '~@knx/dropdown/index';
@import '~@knx/form-group/index';
@import '~@knx/input/index';
@import '~@knx/loader/index';
@import '~@knx/message/index';
@import '~@knx/price-table/index';
@import '~@knx/password-strength/index';
@import '~@knx/radio/index';
@import '~@knx/select/index';
@import '~@knx/step-navigation/index';
@import '~@knx/textarea/index';
@import '~@knx/tooltip/index';

/* shared library and other external component overrides */

@import 'styles/overrides';
@import 'styles/overrides-knx';
@import 'styles/form-group';
@import 'styles/form-valid';
@import 'styles/modals';
@import 'styles/layout';
@import 'styles/vendor';

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  background: $knab-primary-gray;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h3 {
  margin-bottom: 15px;
}

.header {
  position: fixed;
  top: 0;
  z-index: $z-index-navbar;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .header {
    position: relative;
    margin-bottom: -54px;
  }
}

p {
  font-size: $font-size-base;
}

.noborder {
  border: 0;
}

.pt-0 {
  padding-top: 0;
}

[class*='knx-icon-'] {
  line-height: 1em;

  &:before {
    line-height: 1.4em;
  }
}

.image-reportingcode {
  max-width: 250px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.knx-car-advice-loader .knx-loader-message {
  margin-top: 80px;
  margin-bottom: 40px;
}

.knx-button--mobile-edit {
  &:before {
    content: map-get($knx-icons, pencil);
    font-family: $font-family-icon;
    color: $knab-primary-blue;
    margin-right: 10px;
    font-size: $base-font-size;
  }
}

// Mobile view background blur on focus
@mixin selectors {
  .knx-wizard__steps,
  .knx-wizard--controls,
  .knx-car-advice__footer,
  .knx-buy__footer,
  .knx-thank-you,
  .knx-saved,
  &.knx-container--status,
  &.knx-container-stepnavigation,
  .knx-wizard-step-content {
    @content;
  }
}

@include selectors {
  filter: none;
  transition: 0.1s filter linear;
}

@media (max-width: 576px) {
  .backdrop-blur {
    @include selectors {
      filter: blur(3px);
    }
  }
}
