.knx-container-dashboard {
  margin-top: 50px;
  margin-bottom: 50px;

  .knx-button-icon {
    margin-right: 20px;
  }

  .knx-button-icon__icon {
    width: 60px;
  }

  h4 {
    a {
      text-transform: capitalize !important;
      color: $knab-primary-blue;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $knab-primary-blue;
  }

  .knx-button-round {
    background-color: $knab-primary-gray;
    width: auto !important;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;

    .knx-button-round__title {
      color: $knab-primary-blue;
      text-transform: capitalize !important;

      span {
        color: $knab-primary-blue !important;
      }
    }
  }
}

@media screen and (max-width: 458px) {
  .knx-container-dashboard {
    .knx-button-icon {
      width: 120px;
      height: 120px;
      margin-right: 10px;
      margin-bottom: 80px;
    }

    .knx-button-icon__circle {
      width: 120px;
      height: 120px;
    }
  }
}

@media screen and (max-width: 375px) {
  .knx-container-dashboard {
    .knx-button-icon {
      width: 100px;
      height: 100px;
      margin-right: 5px;
      margin-bottom: 60px;
    }

    .knx-button-icon__circle {
      width: 100px;
      height: 100px;
    }

    .knx-button-icon__icon {
      width: 60px;
    }
  }
}
