<div class="container knx-container-dashboard">

  <div class="row">
    <div class="col-md-8">
      <h4><a routerLink="/dashboard"> < Terug </a></h4>

      <h2>Maak een keuze</h2>
      <span id="matteo">MATTEO</span>

      <div class="knx-button-round">
        <h4 class="knx-button-round__title">
          <a routerLink="/car">
            <span class="knx-icon-money"></span> Advies en vergelijken
          </a>
        </h4>
      </div>


      <div class="knx-button-round">
        <h4 class="knx-button-round__title">
          <span class="knx-icon-pencil"></span> Huidige verzekering invullen
        </h4>
      </div>


    </div>
    <div class="col-md-4">
      <knx-chat-stream [options]="chatConfig" [messages]="chatMessages"></knx-chat-stream>
    </div>
  </div>
</div>
