<div *ngIf="profile$" class="container-fluid knx-container--fullwidth knx-container--gray knx-container-stepnavigation">
  <div class="container">
    <knx-user-greeting [userName]="(profile$ | async)?.firstname"></knx-user-greeting>
  </div>
</div>

<div class="container knx-container-dashboard">
  <div class="row">
    <div class="col-sm-4 push-sm-8">
      <div class="knx-wizard__sidebar--sticky">
        <knx-chat-stream [options]="chatConfig" [messages]="chatMessages$ | async"></knx-chat-stream>
      </div>
    </div>
    <div class="col-sm-8 pull-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <h2>Je verzekeringen</h2>
          <router-outlet></router-outlet>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <knx-dashboard-item *ngFor="let item of insurances; let i = index"
            (click)="goToActions(item.type)"
            [isPlaceholder]="!item._id"
            [item]="item"
            [index]="i">
          </knx-dashboard-item>
        </div>
      </div>
    </div>
  </div>
</div>
