<div class="container knx-container-dashboard">
  <div class="row">
    <div class="col-sm-4 push-sm-8">
      <knx-chat-stream [options]="chatConfig" [messages]="chatMessages">
      </knx-chat-stream>
    </div>

    <div class="col-sm-8 pull-sm-4">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2>Je verzekeringen</h2>

          <router-outlet></router-outlet>

          <knx-dashboard-item *ngFor="let item of insurances"
            (click)="goToActions(item.type)"
            [isPlaceholder]="!item.documents"
            [item]="item">
          </knx-dashboard-item>
        </div>
      </div>
    </div>
  </div>
</div>
