.button-wrapper {
  width: 120px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 50px;
}

.button--icon {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: $knab-primary-grey;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt $knab-secondary-blue;
  }
}

.button__icon {
  font-size: 50px;
  color: $knab-primary-blue;
}

.button__label {
  color: $knab-primary-blue;
  font-family: $knab-font-family-secondary, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
  display: block;
  text-align: center;
}
