.ki-button-icon {
  width: 120px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 50px;
}

.ki-button-icon .button-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: $knab-primary-grey;
  border: 4px solid #fff;

  &:hover {
    cursor: pointer;
    border: 4px solid $knab-primary-blue;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt $knab-secondary-blue;
  }
}

.ki-button-icon--placeholder .button-circle {
  background: #fff;
  border: 4px dashed $knab-primary-grey;

  &:hover {
    border: 4px dashed $knab-primary-blue;
  }
}


.button-icon {
  width: 80px;
  color: $knab-primary-blue;
  margin-left: auto;
  margin-right: auto;
}

.button-label {
  color: $knab-primary-blue;
  font-family: $knab-font-family-secondary, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
  display: block;
  text-align: center;
}
