@import '~styles/base.scss';

.knx-auth-redirect__content {
  text-align: center;
  color: $knab-primary-blue;

  p {
    color: $knab-primary-blue;
  }
}

.knx-auth-redirect__logo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  margin-top: 20px;
}

h2.knx-auth-redirect__subline,
.knx-auth-redirect__subline {
  font-family: $font-family-head;
  color: #3e4a59;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.knx-auth-redirect_header {
  font-family: $font-family-head;
  font-size: $font-size-base + 4;
  color: $knab-primary-blue;
}

.knx-modal-body--blobs {
  background-image: url('/assets/images/blob-red@2x.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 30%;
}
