@import '~styles/base.scss';

.knx-auth-redirect__content {
  text-align: center;
  color: $knab-primary-blue;
  margin-top: 10px;

  p {
    color: $knab-primary-blue;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.knx-auth-redirect_header {
  font-family: $font-family-head;
  font-size: $font-size-base + 4;
  color: $knab-primary-blue;
}
