<h2>Insurance requested</h2>

<knx-collapsible-panel [showStep]="false" [collapsible]="false" >
  <knx-collapse-message>
    <h2>
      Congrats {{customerName}}<br>
      Your insurance has been requested
    </h2>

    <p>
      Your request has been sent towards {{insurance.CompanyName}} and will be approved within the next X days.<br>
      Once everything is approved and accepted we will let you know via email :)
    </p>

    <p>
      A confirmation email has been sent to {{customerEmail}}
    </p>

  </knx-collapse-message>
</knx-collapsible-panel>

<knx-download-panel></knx-download-panel>


