<h2>{{'household.thankyou.title' | translate}}</h2>
<div class="row">
  <div class="col-sm-12">
    <knx-collapsible-panel [showStep]="false" [collapsible]="false" [isOpen]="true">

      <div class="knx-collapsible-panel__content">
        <div class="row">
          <div class="col-sm-12">

            <h4 class="knx-collapse-message__title ">
              {{ 'household.premium.thankYou.note.header.congrats.title' | translate }} {{customerName}}<br>
              {{ 'household.premium.thankYou.note.header.congrats.suffixNote' | translate }}
            </h4>
            <p>
              {{ 'household.premium.thankYou.note.para.note1.prefix' | translate }} {{(selectedInsurance$ | async).CompanyName}}
              {{ 'household.premium.thankYou.note.para.note1.suffix' | translate }}<br>
              {{ 'household.premium.thankYou.note.para.note2' | translate }}
            </p>

            <p>
              {{ 'household.premium.thankYou.confirmation.note' | translate }}{{customerEmail}}
            </p>
          </div>
        </div>
      </div>
    </knx-collapsible-panel>

    <knx-download-panel
      [iosUrl]="content.appStore.iOS"
      [androidUrl]="content.appStore.android"
      [showPhone]="true">
    </knx-download-panel>

  </div>
</div>
