.knx-button-icon__circle {
  background: #fff;
  border: 6px solid $knab-primary-gray;

  &:hover {
    border: 6px solid $knab-primary-blue;
  }
}

.knx-button-icon__circle-success {
  background: #fff;
  border: 6px solid $knab-primary-dark-green;

  &:hover {
    border: 6px solid $knab-primary-green;
  }
}
