@import '~styles/base.scss';

.knx-opening-hours {
  margin-top: 13px;
}

.knx-opening-hours__icon--open {
  color: $knab-primary-green;
}

.knx-opening-hours__icon--closed {
  color: $knab-primary-red;
}
