.knx-car-info-message {
  width: 100%;

  .knx-message--pending {
    width: 100%;
  }

  .row {
    margin-bottom: 10px;
  }

  .knx-car-info__item {
    font-weight: bold;
    text-align: right;
  }
}

