<form name="carReportingForm" id="carReportingForm" [formGroup]="form.formGroup" class="knx-fancy-form knx-car-reporting-form" role="form">
  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h2>{{'car.buy.steps.reporting.title' | translate}}</h2>
        <div class="row">
          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.startDate"
              [formControlName]="form.formConfig.startDate.formControlName">

              <knx-tooltip>
                <p>{{'car.buy.steps.reporting.start_date.tooltip_text1' | translate}}</p>
                <p>{{'car.buy.steps.reporting.start_date.tooltip_text2' | translate}}</p>
              </knx-tooltip>
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div *ngIf="startDateIsToday()" class="knx-note">
              {{'car.buy.steps.reporting.start_date.today_text1' | translate}}<br>
              {{'car.buy.steps.reporting.start_date.today_text2' | translate}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="knx-message knx-message--hint">
              <knx-car-info *ngIf="car$ | async" [data]="car$ | async"></knx-car-info>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.reportingCode"
              [formControlName]="form.formConfig.reportingCode.formControlName">

              <knx-tooltip>
                <img class='image-reportingcode' src='/assets/images/reportingcode.png'>
                {{'car.buy.steps.reporting.reporting_code' | translate}}
              </knx-tooltip>
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <knx-form-group
              [options]="form.formConfig.accessoryValue"
              [formControlName]="form.formConfig.accessoryValue.formControlName">

              <knx-tooltip>
                {{'car.buy.steps.reporting.accessory_value' | translate}}
              </knx-tooltip>
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <knx-form-group
              [options]="form.formConfig.securityClass"
              [formControlName]="form.formConfig.securityClass.formControlName">
            </knx-form-group>

            <div *ngIf="form.formGroup.get('securityClass').value && selectedSecurityClass" class="knx-message knx-message--hint knx-message--arrow-top">
              <div class="knx-message__header">{{ selectedSecurityClass.translation_text }}: {{ selectedSecurityClass.translation_label }}</div>
              <div class="knx-message__content" [innerHTML]="selectedSecurityClass.translation_description"></div>
            </div>
          </div>
        </div>

        <knx-form-group *ngIf="false"
          [options]="form.formConfig.saveToProfile"
          [formControlName]="form.formConfig.saveToProfile.formControlName">
        </knx-form-group>
      </knx-card>
    </div>
  </div>
</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
[error]="error$ | async"
(onNext)="goToNextStep()"
(onBack)="goToPreviousStep()">
</knx-wizard-controls>
