<form name="carReportingForm" id="carReportingForm" [formGroup]="form.formGroup" class="knx-fancy-form knx-car-reporting-form" role="form">
  <div class="row">
    <div class="col-sm-12">
      <knx-card>
        <h2>Je autogegevens</h2>
        <div class="row">
          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.startDate"
              [formControlName]="form.formConfig.startDate.formControlName">

              <knx-tooltip>
                <p>Wil je de verzekering vandaag in laten gaan? Tijdens werkdagen tot 20u en zaterdagen tot 15u proberen
                  we je aanvraag op dezelfde dag te verwerken. Let op: Je bent na je aanvraag niet automatisch direct verzekerd.</p>
                <p>Zorg ervoor dat de auto tenminste WA verzekerd is zodra deze op jouw naam staat. Je loopt anders kans op een boete.</p>
              </knx-tooltip>
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div *ngIf="startDateIsToday()" class="knx-note">
              Wil je de verzekering vandaag in laten gaan?
              Let op: Je bent na je aanvraag niet direct verzekerd.
              Tijdens werkdagen tot 20u en zaterdagen tot 17u proberen we je aanvraag op dezelfde dag te verwerken.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="knx-message knx-message--hint">
              <knx-car-info *ngIf="car$ | async" [data]="car$ | async"></knx-car-info>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <knx-form-group
              [options]="form.formConfig.reportingCode"
              [formControlName]="form.formConfig.reportingCode.formControlName">

              <knx-tooltip>
                <img class='image-reportingcode' src='/assets/images/reportingcode.png'>
                Elke auto heeft een eigen meldcode. Vraag je een verzekering aan, dan geef je altijd de meldcode op.
                De verzekeraar geeft dit door aan de RDW (Rijksdienst voor het Wegverkeer). De RDW houdt zo bij of alle
                auto's (tenminste WA) verzekerd zijn. Je vindt de meldcode van je auto op deel 1B van je kentekenbewijs.
                Het zijn de laatste 4 cijfers van het chassisnummer.
              </knx-tooltip>
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <knx-form-group
              [options]="form.formConfig.accessoryValue"
              [formControlName]="form.formConfig.accessoryValue.formControlName">

              <knx-tooltip>
                Accessoires zijn bijvoorbeeld een losse alarminstallatie, de trekhaak, lichtmetalen velgen of een ingebouwde autoradio.<br>
                Bij diefstal krijg je de dagwaarde van de accessoires terug van je verzekering.
              </knx-tooltip>
            </knx-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <knx-form-group
              [options]="form.formConfig.securityClass"
              [formControlName]="form.formConfig.securityClass.formControlName">
            </knx-form-group>

            <div *ngIf="form.formGroup.get('securityClass').value && selectedSecurityClass" class="knx-message knx-message--hint knx-message--arrow-top">
              <div class="knx-message__header">{{ selectedSecurityClass.translation_text }}: {{ selectedSecurityClass.translation_label }}</div>
              <div class="knx-message__content" [innerHTML]="selectedSecurityClass.translation_description"></div>
            </div>
          </div>
        </div>

        <knx-form-group *ngIf="false"
          [options]="form.formConfig.saveToProfile"
          [formControlName]="form.formConfig.saveToProfile.formControlName">
        </knx-form-group>
      </knx-card>
    </div>
  </div>
</form>

<knx-wizard-controls [currentStepOptions]="currentStepOptions"
[error]="error$ | async"
(onNext)="goToNextStep()"
(onBack)="goToPreviousStep()">
</knx-wizard-controls>
