.knx-collapse-panel {
  padding-top: 5px;
  text-align: center;
  color: $knab-primary-green;
  border: 1px solid $knab-primary-gray;
  border-radius: $knab-border-radius;

  .knx-button:after {
    font-family: $font-family-icon;
    content: map-get($knx-icons, angle-down);
    margin-left: 10px;
    font-size: $base-font-size;
  }

  .knx-button--panel-open:after {
    font-family: $font-family-icon;
    content: map-get($knx-icons, angle-up);
    margin-left: 10px;
    font-size: $base-font-size;
  }
}
